mixin dropdown(dropdown)
	.dropdown(class=dropdown.className)
		.dropdown__active
			if (dropdown.className == 'dropdown_pickup')
				+icon('pickup')
			span #{dropdown.items[0]}
			+icon('arrow-down')
		.dropdown__list.scrolled
			each item in dropdown.items
				.dropdown__item #{item}