include ../icon/icon.pug

mixin pagination()
	.pagination
		a.arrow.pagination__arrow.pagination__arrow_prev(href="javascript:void(0)")
			+icon('arrow-down')
		nav.pagination__nav
			ul.pagination__list
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 1
				li.pagination__item.pagination__item_active
					a.pagination__link(href="javascript:void(0)") 2
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 3
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 4
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 5
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 6
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 7
				li.pagination__item
					span.pagination__dots ...
				li.pagination__item
					a.pagination__link(href="javascript:void(0)") 25
		a.arrow.pagination__arrow.pagination__arrow_next(href="javascript:void(0)")
			+icon('arrow-down')