.pagination {
	margin-top: 40px;
	padding-right: 15px;
	
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	
	@include respond-below(lg) {
		margin-top: 35px;
		padding-right: 0;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}

	@include respond-below(md) {
		margin-top: 40px;
	}
	
	&__arrow {
		width: 50px;
		flex: 0 0 50px;
		max-width: 50px;
		height: 50px;
		
		&.pagination__arrow_prev {
			svg {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
	}

	&__nav {
		margin: 0 50px;
		
		@include respond-below(xl) {
			margin: 0 38px;
		}
		@include respond-below(sm) {
			margin: 0 14px;
		}
	}

	&__list {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		@include respond-below(lg) {
			padding-right: 10px;
		}
	}

	&__item {
		
		width: 30px;
		height: 30px;
		flex: 0 0 30px;
		
		-webkit-border-radius: 50%;
			        border-radius: 50%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		text-align: center;

		&:not(:last-child) {
			margin-right: 20px;
		}

		-webkit-transition: border-color .3s linear, background .3s linear;
		   -moz-transition: border-color .3s linear, background .3s linear;
		    -ms-transition: border-color .3s linear, background .3s linear;
		     -o-transition: border-color .3s linear, background .3s linear;
		        transition: border-color .3s linear, background .3s linear;

		@include respond-below(md) {
			&:not(:nth-of-type(-n + 5)) {
				display: none;
			}
			&:nth-last-of-type(1) {
				display: flex;
			}
			&:nth-last-of-type(2) {
				display: flex;
			}
		}
		@include respond-below(sm) {
			&:not(:nth-of-type(-n + 5)) {
				display: flex;
			}
			&:not(:nth-of-type(-n + 2)) {
				display: none;
			}
			&:nth-last-of-type(1) {
				display: flex;
			}
			&:nth-last-of-type(2) {
				display: flex;
			}
			&:not(:last-child) {
				margin-right: 11px;
			}
		}
		
		border: 1px solid transparent;

		&:hover {
			border: 1px solid #d9d9d9;
			.pagination__link {
				color: $purple;
			}
		}
		
		&.pagination__item_active {
			background: $orange;
			border: 1px solid $orange;
			.pagination__link {
				color: #fff;
			}
		}
	}

	&__link {
		color: $dark;
		
		@extend %text__md;
		font-weight: 400;
		
		height: 100%;
		width: 100%;
		flex: 0 0 100%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;

		cursor: pointer;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
	}
}