include ../searchInput/searchInput.pug
include ../icon/icon.pug

mixin searchBlock()
	.search-block
		.search-block__cross
			+icon('cross')
		.search-block__head
			.title.title_lavender Поиск
			+searchInput()
		.search-block__body.scrolled
			.search-block__category
				h3.search-block__title Товары
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XS Max 512GB (3 товара)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 256GB (6 товаров)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XS 256GB (3 товара)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 64GB (6 товаров)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 128GB (6 товаров)
			.search-block__category
				h3.search-block__title Категории
				a.search-block__item(href="javascript:void(0)") Мобильные телефоны Apple (264 товара)
				a.search-block__item(href="javascript:void(0)") Смартфоны Apple (264 товара)
				a.search-block__item(href="javascript:void(0)") Зарядные устройства для iPhone (13 товаров)
			.search-block__category
				h3.search-block__title Товары
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XS Max 512GB (3 товара)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 256GB (6 товаров)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XS 256GB (3 товара)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 64GB (6 товаров)
				a.search-block__item(href="javascript:void(0)") Смартфон Apple iPhone XR 128GB (6 товаров)
			.search-block__category
				h3.search-block__title Категории
				a.search-block__item(href="javascript:void(0)") Мобильные телефоны Apple (264 товара)
				a.search-block__item(href="javascript:void(0)") Смартфоны Apple (264 товара)
				a.search-block__item(href="javascript:void(0)") Зарядные устройства для iPhone (13 товаров)