.search-block {
	visibility: hidden;
	opacity: 0;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	
	-webkit-transition: opacity .3s linear, visibility 0s linear .3s;
	   -moz-transition: opacity .3s linear, visibility 0s linear .3s;
		-ms-transition: opacity .3s linear, visibility 0s linear .3s;
		 -o-transition: opacity .3s linear, visibility 0s linear .3s;
			transition: opacity .3s linear, visibility 0s linear .3s;
	
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	&_opened {
		visibility: visible;
		opacity: 1;
		-webkit-user-select: auto;
		   -moz-user-select: auto;
		    -ms-user-select: auto;
		        user-select: auto;
		pointer-events: auto;

		-webkit-transition: opacity .3s linear, visibility 0s linear 0s;
		   -moz-transition: opacity .3s linear, visibility 0s linear 0s;
		    -ms-transition: opacity .3s linear, visibility 0s linear 0s;
		     -o-transition: opacity .3s linear, visibility 0s linear 0s;
		        transition: opacity .3s linear, visibility 0s linear 0s;
		
		@include respond-below(sm) {
			.search-block__body {
				visibility: visible;
				opacity: 1;
				-webkit-user-select: auto;
				   -moz-user-select: auto;
				    -ms-user-select: auto;
				        user-select: auto;
				pointer-events: auto;
			}
		}
	}

	position: absolute;
	top: 55px;
	left: calc(50% - 396px);
	z-index: 3;
	
	width: 792px;
	height: 404px;
	
	@include respond-below(xl) {
		width: 770px;
		left: calc(50% - 385px);
	}
	
	background: #FFF;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	overflow: hidden;
	box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
	
	padding: 30px;
	
	@include respond-below(lg) {
		width: 100vw;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);

		position: fixed;
		top: 0;
		left: 0;
		
		-webkit-border-radius: 0;
		        border-radius: 0;
		
		padding-top: 60px;
		padding-left: 45px;
		padding-right: 45px;
	}
	
	@include respond-below(md) {
		
		padding-left: 30px;
		padding-right: 30px;

	}
	

	@include respond-below(sm) {
		height: calc(100vh - 121px);
		height: calc(var(--vh, 1vh) * 100 - 121px);
		
		top: 121px;
		
		padding-top: 0;
		-webkit-box-shadow: none;
		        box-shadow: none;

		padding-right: 15px;
	}
	&__head {
		display: none;
		
		@include respond-below(lg) {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			 
			.title {
				margin-bottom: 34px;
				margin-left: 8px;
			}

			.search-input {
				width: 100%;
				height: 40px;
				flex: 0 0 40px;
			}
		}

		@include respond-below(sm) {
			display: none;
		}
	}

	&__body {
		flex: 1 1 auto;
		
		@include respond-below(lg) {
			height: auto;
			max-height: 100%;
			margin-top: 53px;
			
			visibility: hidden;
			opacity: 0;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
			pointer-events: none;
			
			-webkit-transition: opacity .3s linear, visibility 0s linear .3s;
			   -moz-transition: opacity .3s linear, visibility 0s linear .3s;
				-ms-transition: opacity .3s linear, visibility 0s linear .3s;
				 -o-transition: opacity .3s linear, visibility 0s linear .3s;
					transition: opacity .3s linear, visibility 0s linear .3s;
			
			padding: 0 16px;
			
			&_opened {
				visibility: visible;
				opacity: 1;
				-webkit-user-select: auto;
				   -moz-user-select: auto;
				    -ms-user-select: auto;
				        user-select: auto;
				pointer-events: auto;
	
				-webkit-transition: opacity .3s linear, visibility 0s linear 0s;
				   -moz-transition: opacity .3s linear, visibility 0s linear 0s;
				    -ms-transition: opacity .3s linear, visibility 0s linear 0s;
				     -o-transition: opacity .3s linear, visibility 0s linear 0s;
				        transition: opacity .3s linear, visibility 0s linear 0s;
			}
		}

		@include respond-below(sm) {
	
			margin-top: 30px;
			
			padding-left: 5px;
			padding-right: 15px;
		}
		.simplebar-wrapper {
			height: 100%;
		}
	}

	&__cross {
		display: none;
		
		@include respond-below(lg) {
			.icon {
				font-size: 24px;
				position: absolute;
				right: 15px;
				top: 15px;
				
				color: #bdbdbd;
			}
			cursor: pointer;
			
			display: block;
			z-index: 100;
		}

		@include respond-below(sm) {
			display: none;
		}
	}

	&__category {
		&:not(:last-child) {
			margin-bottom: 38px;
			
			@include respond-below(lg) {
				margin-bottom: 42px;
			}
		}
	}

	&__title {
		@extend %text__md;
		font-weight: 500;
		
		color: $dark;
		
		margin-bottom: 12px;
		
		@include respond-below(lg) {
			margin-bottom: 18px;
		}
	}

	&__item {
		@extend %text__sm;
		font-weight: 400;
		
		color: $dark;
		
		display: block;
		
		margin-bottom: 10px;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		@include respond-below(lg) {
			margin-bottom: 23px;
		}
		
		&:hover {
			color: $purple;
		}
	}
	
}