.compilations {
	margin-top: 33px;
	
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	
	@include respond-below(sm) {
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	    -webkit-align-items: center;
	            align-items: center;
	}
	
	position: relative;

	&__list {
		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		    
		@include respond-below(sm) {
			display: flex;
			width: 100%;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		}
	}

	&__item {

		color: $dark;
		background: #FFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		cursor: pointer;
		border: 1px solid #fff;
		
		display: block;
		height: 29px;
		padding: 0 10px;
		
		margin-right: 20px;
		
		-webkit-transition: border-color .3s linear, box-shadow .3s linear;
		   -moz-transition: border-color .3s linear, box-shadow .3s linear;
		    -ms-transition: border-color .3s linear, box-shadow .3s linear;
		     -o-transition: border-color .3s linear, box-shadow .3s linear;
		        transition: border-color .3s linear, box-shadow .3s linear;
		
		&:hover {
			border-color: #d9d9d9;
			-webkit-box-shadow: none;
			        box-shadow: none;
			color: $purple;
		}

		@include respond-below(lg) {
			height: 40px;
			padding: 0 20px;
		}
		
		@include respond-below(sm) {
			margin-right: 0;
			width: 100%;
			margin-bottom: 15px;
		}

		.icon {
			display: none;
		}

		&_hidden {
			display: none;
		}
	}

	&__link {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		width: 100%;
		height: 100%;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		
		@extend %text__sm;
		font-weight: 400;
		
		@include respond-below(lg) {
			font-size: 16px;
		}
		
		color: inherit;
		
		&:active {
			color: $purpleDark;
		}

		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
	}

	&__dropdown {
		background: #FFFFFF;
		box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
		border-radius: 4px;
		
		position: absolute;
		top: 40px;
		right: 0;
		width: 200px;
		padding: 20px 0;
		
		visibility: hidden;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		pointer-events: none;
		opacity: 0;
		
		-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
		   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
		    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
		     -o-transition: visibility 0s linear .3s, opacity .3s linear;
		        transition: visibility 0s linear .3s, opacity .3s linear;
		.title, .compilations__cross {
			display: none;
		}
		@include respond-below(sm) {
			background: #FFF;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
			overflow: hidden;
			
			width: 100vw;
			height: 100vh;
			height: calc(var(--vh, 1vh) * 100);
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			-webkit-border-radius: 0;
			        border-radius: 0;
			
			-webkit-transform: translateX(-100%);
			   -moz-transform: translateX(-100%);
			    -ms-transform: translateX(-100%);
			     -o-transform: translateX(-100%);
			        transform: translateX(-100%);
			-webkit-transition: transform .5s ease-in-out;
			   -moz-transition: transform .5s ease-in-out;
			    -ms-transition: transform .5s ease-in-out;
			     -o-transition: transform .5s ease-in-out;
			        transition: transform .5s ease-in-out;
			
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: stretch;
			        align-items: stretch;
			
			padding-left: 15px;
			padding-bottom: 92px;

			.compilations__item {
				height: 51px !important;
				margin-bottom: 0 !important;
				padding-right: 12px;
				padding-left: 0;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: space-between;
				        justify-content: space-between;
				-webkit-align-items: center;
				        align-items: center;
				border-top: 1px solid #EAEAEA;
				&:last-child {
					border-bottom: 1px solid #EAEAEA;
				}

				.icon {
					display: block;
					font-size: 9px;
					color: #999999;
				}
			}
			.compilations__link {
				font-size: 14px;
				font-weight: 500;
			}
			
			.title {
				display: flex;
				position: absolute;
				left: 15px;
				top: 29px;
				
				margin-left: 0;
			}
			.compilations__cross {
				display: block;
				
				z-index: 100;
				position: absolute;
				top: 15px;
				right: 15px;
				
				cursor: pointer;
				
				.icon {
					font-size: 14px;
					color: #bdbdbd;
				}
			}
		}
		
		&_opened {
			-webkit-transition: visibility 0s linear, opacity .3s linear;
			   -moz-transition: visibility 0s linear, opacity .3s linear;
			    -ms-transition: visibility 0s linear, opacity .3s linear;
			     -o-transition: visibility 0s linear, opacity .3s linear;
			        transition: visibility 0s linear, opacity .3s linear;
			visibility: visible;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			pointer-events: auto;
			opacity: 1;
			
			@include respond-below(sm) {
				-webkit-transform: translateX(0);
				   -moz-transform: translateX(0);
				    -ms-transform: translateX(0);
				     -o-transform: translateX(0);
				        transform: translateX(0);
			    
			    -webkit-transition: transform .3s linear;
			       -moz-transition: transform .3s linear;
			        -ms-transition: transform .3s linear;
			         -o-transition: transform .3s linear;
			            transition: transform .3s linear;
			}
		}
		.compilations__item {
			width: 100%;
			height: auto;
			-webkit-box-shadow: none;
			        box-shadow: none;
			
			cursor: pointer;
			
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			
			.compilations__link {
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
			    white-space: nowrap;
			    -ms-text-overflow: ellipsis;
			        text-overflow: ellipsis;
			    overflow: hidden;
			    

			}
		}
	}

	&__more {
		display: none;
		cursor: pointer;
		
		
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		color: $purple;
		
		@extend %text__md;
		font-weight: 500;
		
		@include respond-below(sm) {
			margin: 15px 0 30px 0;
		}
		
		.icon {
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;
			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			margin-left: 6px;
			font-size: 10px;

			@include respond-below(sm) {
				margin-left: 10px;
			}
		}

		&_shown {
			display: flex;
		}
		&_opened {
			.icon {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
		}
	}
}