include ../icon/icon.pug

mixin compilations(compilations)
	.compilations
		ul.compilations__list
			each item in compilations
				li.compilations__item
					a.compilations__link(href=item.link) #{item.text}
					+icon('arrow-down')
		.compilations__dropdown
			h3.title.title_lavender Ванны
			.compilations__cross
				+icon('cross')
		a.compilations__more(href="javascript:void(0)")
			| Больше
			+icon('arrow-down')