include ../icon/icon.pug
include ../city/city.pug

mixin checkCity()
	.check-city
		.check-city__bg
			.check-city__bg--outer-first
			.check-city__bg--outer-second
			.check-city__bg--inner
				.check-city__bg--inner-first
				.check-city__bg--inner-second
				+icon('city-mark')
		.check-city__content
			.check-city__question
				.check-city__title
					| Вы сейчас в городе 
					span Москва?
				.check-city__body
					a.check-city__answer-no(href="javascript:void(0)") Нет, не там
					a.check-city__answer-yes.button.button_orange(href="javascript:void(0)") Да, верно
			.check-city__choosing
				.check-city__title Выберите ваш город
				.city__dropdown
					.city__dropdown--inner.city__open
						.city-dropdown__active Не выбрано
						+icon('arrow-down')
					+city('city_first')
				a.check-city__button.button.button_orange(href="javascript:void(0)") Готово

