.check-city {
	width: 920px;
	height: 400px;
	
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 460px);
	z-index: 1000;
	
	background: #FFF;
	box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	@include respond-below(lg) {
		height: 600px;
		width: 510px;

		left: calc(50% - 255px);
		top: calc(50% - 300px);
		
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
	}

	@include respond-below(sm) {
		height: 450px;
		width: calc(100% - 30px);
		
		left: 15px;
		top: calc(50% - 225px);
	}


	&__bg, &__content {
		flex: 0 0 50%;
		width: 50%;
		max-width: 50%;
		height: 100%;
		
		@include respond-below(lg) {
			width: 100%;
			max-width: 100%;
			height: 50%;
		}
	}

	&__content {
		-webkit-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
	}

	&__bg {
		background: #7264C0;
		position: relative;
		overflow: hidden;
		
		-webkit-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		
		@include respond-below(sm) {
			height: 207px;
			flex: 0 0 207px;
		}

		&--outer-first {
			width: 488px;
			height: 488px;
			background: #8879D9;
			
			position: absolute;
			border-radius: 50%;
			top: calc(50% - 239px);
			left: calc(50% - 244px);
			
			@include respond-below(lg) {
				width: 454px;
				height: 454px;
				
				top: calc(50% - 226px);
				left: calc(50% - 227px);
			}

			@include respond-below(sm) {
				width: 313px;
				height: 313px;
				
				top: calc(50% - 156px);
				left: calc(50% - 156px);
			}
		}

		&--outer-second {
			width: 241px;
			height: 241px;
			background: #A99BFD;
			
			position: absolute;
			border-radius: 50%;
			top: calc(50% - 115.5px);
			left: calc(50% - 121.5px);
			

			@include respond-below(lg) {
				width: 225px;
				height: 225px;
				
				top: calc(50% - 111.5px);
				left: calc(50% - 113.5px);
			}

			@include respond-below(sm) {
				width: 155px;
				height: 155px;
				
				top: calc(50% - 76px);
				left: calc(50% - 77px);
			}
		}

		&--inner {
			width: 120px;
			height: 120px;
			
			overflow: hidden;
			background: #FF9900;
			box-shadow: 0px 30px 30px rgba(37, 65, 102, 0.26);
			
			position: absolute;
			border-radius: 50%;
			top: calc(50% - 54px);
			left: calc(50% - 60px);
			
			@include respond-below(lg) {
				top: calc(50% - 60px);
			}

			@include respond-below(sm) {
				width: 83px;
				height: 83px;
				
				top: calc(50% - 40px);
				left: calc(50% - 42px);
			}
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			&-first {
				background: #FFB039;
				width: 241px;
				height: 241px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: -26px;
				bottom: 24px;
				
				@include respond-below(sm) {
					width: 153px;
					height: 153px;
					
					left: -13px;
					bottom: 17px;
				}
			}
			
			&-second {
				background: #FFCB7D;
				width: 110px;
				height: 110px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: 36px;
				bottom: 80px;
				
				@include respond-below(sm) {
					width: 76px;
					height: 76px;

					left: 25px;
					bottom: 55px;
				}
			}
			
			.icon {
				color: #fff;
				height: 56px;
				width: auto;
				
				position: relative;
				
				z-index: 1;
				
				@include respond-below(sm) {
					height: 39px;
				}
			}
		}
	}
	
	&_wrong {
		.check-city__question {
			visibility: hidden;
			pointer-events: none;
			opacity: 0;
			
			-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
			   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
			    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
			     -o-transition: visibility 0s linear .3s, opacity .3s linear;
			        transition: visibility 0s linear .3s, opacity .3s linear;
		}
		.check-city__choosing {
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
			
			-webkit-transition: visibility 0s linear, opacity .3s linear;
		   	   -moz-transition: visibility 0s linear, opacity .3s linear;
		   	    -ms-transition: visibility 0s linear, opacity .3s linear;
		   	     -o-transition: visibility 0s linear, opacity .3s linear;
		   	        transition: visibility 0s linear, opacity .3s linear;
		}
	}

	&__choosing {
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		
		height: 100%;
		padding: 20px 70px 80px 60px;
		

		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		

		.check-city__title {
			margin-bottom: 25px;
		}

		@include respond-below(lg) {
			padding-bottom: 10px;
		}
		@include respond-below(sm) {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		    padding-top: 40px;
		    padding-right: 20px;
		    padding-left: 20px;
		    
		    .check-city__title {
		    	margin-bottom: 31px;
		    }
		}
		
	}

	&__question {
		height: 100%;
		padding: 20px 70px 36px 60px;
		
		position: absolute;
		top: 0;
		right: 0;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		
		@include respond-below(lg) {
			height: 50%;
			bottom: 0;
			top: auto;
			width: 100%;
			
			padding-right: 125px;
		}

		@include respond-below(sm) {
			height: 243px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 40px;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
	}

	&__title {
		@extend %text__lg;
		font-weight: 500;
		
		color: $dark;
		margin-bottom: 37px;
		
		@include respond-below(sm) {
			font-size: 21px;
			line-height: 24px;
			margin-bottom: 18px;
		}
	}

	&__body {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		    
		@include respond-below(sm) {
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		    width: 100%;
		    padding-left: 4px;
		}
	}

	&__answer-no {
		@extend %text__md;
		font-weight: 500;
		
		color: $purple;
		cursor: pointer;
		
		margin-right: 40px;
		
		@include respond-below(sm) {
			margin-right: 0;
		}
	}

	&__answer-yes {
		@extend %text__md;
		font-weight: 500;
		
		width: 136px;
		max-width: 136px;
		flex: 0 0 136px;
		height: 40px;
	}

	&_ready {
		.check-city__button {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			
			-webkit-transition: opacity .3s linear;
			   -moz-transition: opacity .3s linear;
			    -ms-transition: opacity .3s linear;
			     -o-transition: opacity .3s linear;
			        transition: opacity .3s linear;
		}
	}

	&__button {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		width: 136px;
		height: 40px;
		margin-top: 30px;
		
		@extend %text__md;
		font-weight: 500;
	}
}