mixin applied()
	.applied
		.applied__items
			.applied__button.button
				| Aurora
				a.applied__button-delete(href="javascript:void(0)")
					+icon('cross')
			.applied__button.button
				| Bis
				a.applied__button-delete(href="javascript:void(0)")
					+icon('cross')
			a.applied__clear(href="javascript:void(0)") Сбросить
		.applied__text Подобрано 35 товаров из 120