.applied {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: flex-end;
	        align-items: flex-end;
	    
	@include respond-below(lg) {
		-webkit-align-items: center;
		        align-items: center;
	   
	   display: none;
	}

	@include respond-below(sm) {
		display: block;
	}

	&__button {
		height: 29px;
		display: inline-flex;
		margin-bottom: 10px;
		
		padding: 0 10px;
		@extend %text__sm;
		font-weight: 400;

		margin-right: 20px;
		
		@include respond-below(lg) {
			height: 40px;
			font-size: 16px;
			padding: 0 21px;
			margin-right: 18px;
		}
		
		&-delete {
			color: #fff;
		    font-size: 5px;
    		margin-left: 8px;
    		padding-top: 3px;
    		
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;

    		&:hover {
    			color: $red;
    		}
    		
    		@include respond-below(lg) {
    			font-size: 11px;
    			margin-left: 17px;
    		}
		}
		.icon {
			font-size: inherit;
		}

		@include respond-below(sm) {
			display: none;
		}
	}

	&__clear {
		height: 29px;
		padding: 0 10px;
		
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		
		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		background: #FFF;
		border: 1px solid $purple;
		color: $dark;
		
		@extend %text__sm;
		font-weight: 400;
		
		-webkit-transition: border-color .3s linear, color .3s linear;
		   -moz-transition: border-color .3s linear, color .3s linear;
		    -ms-transition: border-color .3s linear, color .3s linear;
		     -o-transition: border-color .3s linear, color .3s linear;
		        transition: border-color .3s linear, color .3s linear;
		
		&:hover, &:active {
			color: $purple;
			border-color: $purpleDark;
		}
		
		@include respond-below(lg) {
			height: 40px;
			font-size: 16px;
			padding: 0 19px;
		}
		@include respond-below(sm) {
			display: none;
		}
	}

	&__text {
		@extend %text__md;
		font-weight: 400;
		color: $dark;
		
		white-space: nowrap;
		
		margin-top: 7px;
		
		@include respond-below(lg) {
			margin-top: -12px;
		}

		@include respond-below(sm) {
			margin-top: 0;
			text-align: center;
			font-size: 16px !important;
		}
	}
}