.favorite-page {
	
	padding-bottom: 90px;
	
	@include respond-below(xl) {
		padding-bottom: 70px;
	}

	@include respond-below(lg) {
		padding-bottom: 65px;
	}
	@include respond-below(md) {
		padding-bottom: 50px;
	}

	.sort {
		margin-top: 8px;
    	margin-right: 3px;
		float: right;
		
		@include respond-below(lg) {
			margin-top: 34px;
			float: none;
			margin-right: 0;
		}
	}
	.title {
		margin-left: 8px;
	}
}