extends ../layout.pug

include ../../components/item/item.pug
include ../../components/sort/sort.pug
include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/pagination/pagination.pug

block content
	.colored-section.wrapper
		.container
			+breadcrumbs([
				{
					'item': 'Главная',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Избранные товары',
					'link': 'javascript:void(0)'
				}
			])
			main.favorite-page
				h1.title.title_pink.title_number(data-number="75") Избранные товары
				+sort({
					'active': 'По цене по возрастанию',
					'variants': [
						'По популярности',
						'По цене по убыванию'
					]
				})
				.items__list
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full item_liked',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full item_liked',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full item_liked',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'itemClass': 'item_liked',
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
				+pagination()
