extends ../layout.pug

include ../../components/city/city.pug
include ../../components/dropdown/dropdown.pug
include ../../components/orderItem/orderItem.pug
include ../../components/checkbox/checkbox.pug

block content
	.colored-section.wrapper
		.container
			main.order-page__wrapper
				.order-page
					h1.title.title_lavender Оформление заказа
					a.back-link(href="javascript:void(0)") Вернуться в корзину
					form.order-page__form
						.order-page__inner
							.order-page__content
								.order-page__stage
									.order-page__stage--title(data-stage="1") Укажите контактную информацию
									.order-page__contact-info
										label.input__label(for="name")
											input.input#name(type="text" placeholder="Имя*" name="name")
										label.input__label(for="surname")
											input.input#surname(type="text" placeholder="Фамилия*" name="surname")
										label.input__label(for="phone")
											input.input#phone(type="tel" placeholder="Телефон*" name="phone")
										label.input__label(for="email")
											input.input#email(type="email" placeholder="Электронная почта*" name="email")
								.order-page__stage
									.order-page__stage--title(data-stage="2")
										| Выберите способ получения заказа в г. 
										a.city__open(href="javascript:void(0)")
											| Москва
											+icon('arrow-down')
										+city()
									.order-page__delivery-info
										.tabs
											.tab.tab_active(data-tab="pickup") Самовывоз
											.tab(data-tab="delivery") Адресная доставка
										.tab__body.tab__body_active(data-tab="pickup")
											+dropdown({
												className: 'dropdown_pickup',
												items: [
													'Москва, Волгоградский проспект 26',
													'Москва, Волгоградский проспект 26',
													'Москва, Волгоградский проспект 26',
													'Москва, Волгоградский проспект 26'
												]
											})
										.tab__body(data-tab="delivery")
											.order-page__address
												label.input__label(for="street")
													input.input#street(type="text" placeholder="Улица*" name="street")
												label.input__label(for="number")
													input.input#number(type="text" placeholder="Номер дома*" name="number")
												label.input__label(for="building")
													input.input#building(type="text" placeholder="Стр./корп." name="building")
												label.input__label(for="entrance")
													input.input#entrance(type="text" placeholder="Подъезд" name="entrance")
												label.input__label(for="floor")
													input.input#floor(type="text" placeholder="Этаж" name="floor")
												label.input__label(for="flatNumber")
													input.input#flatNumber(type="text" placeholder="Квартира" name="flat")
												.order-page__time-info
													.order-page__time-info--text Выберите удобную дату и интервал доставки
													.order-page__time-info--inner
														+dropdown({
															items: [
																'Сегодня',
																'Завтра',
																'Послезавтра',
																'1 августа',
																'2 августа',
																'3 августа',
																'4 августа',
															]
														})
														+dropdown({
															items: [
																'7:00 - 10:00',
																'10:00 - 14:00',
																'14:00 - 17:00',
																'17:00 - 20:00',
															]
														})
								.order-page__stage
									.order-page__stage--title(data-stage="3") Способ оплаты
									.order-page__payment
										label.radio(for="cash")
											input.radio__input#cash(type="radio", name="payment" checked)
											.radio__mark
											.radio__inner
												.radio__title Наличный расчет
												.radio__text Оплата заказа наличными курьеру при доставке или продавцу в магазине при самовывозе.
										label.radio(for="card")
											input.radio__input#card(type="radio", name="payment")
											.radio__mark
											.radio__inner
												.radio__title Оплата банковской картой
												.radio__text Оплата заказа картами Visa и MasterCard в магазине или через переносной терминал при курьерской доставке.
									textarea.order-page__comment(name="comment", placeholder="Комментарий к заказу")
							.order-page__total
								.order-page__block
									.order-page__block--title Состав заказа
									.order-page__total--items
										+orderItem({
											image: './assets/images/content/items/item3',
											title: 'Rest Spa',
											total: '1 шт. x 10 900 ₽'
										})
										a.order-page__total--more(href="javascript:void(0)")
											| еще 4 товара
											+icon('arrow-down')
										.order-page__total--drop.order-page__total--drop_opened
											.order-page__total--drop-inner.scrolled
												+orderItem({
													image: './assets/images/content/items/item3',
													title: 'Rest Spa',
													total: '1 шт. x 10 900 ₽'
												})
												+orderItem({
													image: './assets/images/content/items/item3',
													title: 'Rest Spa',
													total: '1 шт. x 10 900 ₽'
												})
												+orderItem({
													image: './assets/images/content/items/item3',
													title: 'Rest Spa',
													total: '1 шт. x 10 900 ₽'
												})
												+orderItem({
													image: './assets/images/content/items/item3',
													title: 'Rest Spa',
													total: '1 шт. x 10 900 ₽'
												})
								.order-page__block
									.order-page__block--title Контактная информация
									p.order-page__block--text Александр Ивченко
									p.order-page__block--text 380934663748
									p.order-page__block--text mail-to@domailn.com
								.order-page__block
									.order-page__block--title Способ получание заказа
									.order-page__block--subtitle Самовывоз
									p.order-page__block--text Москва, Волгоградский проспект 26
								.order-page__block
									.order-page__block--title Способ оплаты
									p.order-page__block--text Наличный расчет
								.order-page__block
									.order-page__block--price
										span Итого
										span 10 900 ₽
									a.button.button_disabled(href="javascript:void(0)") Оформить заказ
									.order-page__block--text.order-page__block--text_small Для оформления заказа необходимо согласие.
									+checkbox({
										'id': 'subscriptionAgree',
										'name': 'agreement'
									})
										p
											| Я согласен на обработку&nbsp
											a(href="javascript:void(0)") персональных данных
											| , а также с 
											a(href="javascript:void(0)") условиями подписки
				.order-page__thanks-block
					.order-page__thanks-block--inner
						.order-page__thanks-block--check
							.order-page__thanks-block--check-first
							.order-page__thanks-block--check-second
							+icon('done')
						.order-page__thanks-block--text Спасибо за ваш заказ!
						.order-page__thanks-block--number № 5063603
					a.order-page__thanks-block--button.button(href="javascript:void(0)") На главную 