.order-page {
	position: relative;
	padding-top: 30px;
	padding-bottom: 100px;
	
	@include respond-below(sm) {
		.back-link {
			position: static;
			margin-top: 32px;
			display: block;
		}
	}

	&__wrapper {
		&_sended {
			padding: 120px 0 132px;
			
			@include respond-below(lg) {
				padding: 30px 0 20px;
			}
			.order-page {
				display: none;
			}
			.order-page__thanks-block {
				display: flex;
			}
		}
	}

	&__thanks-block {
		display: none;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		    
		&--inner {
			padding: 60px 0 50px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;
			
			width: 600px;
			max-width: 600px;
			
			@include respond-below(lg) {
				width: 100%;
				max-width: 100%;
			}

			background: #FFF;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
		}
		
		&--text {
			@extend %text__lg;
			font-weight: 500;
			
			color: $purple;
			
			margin-top: 30px;
			margin-bottom: 18px;
		}

		&--number {
			@extend %text__lg;
			font-weight: 500;
			
			color: $dark;
		}
		&--button {
			margin-top: 50px;
			width: 190px;
			height: 50px;
			max-height: 50px;
			flex: 0 0 50px;
			
			@extend %text__md;
			font-weight: 500;
		}

		&--check {
			width: 160px;
			height: 160px;
			flex: 0 0 160px;
			
			overflow: hidden;
			background: $purple;
			
			position: relative;
			border-radius: 50%;
			
			// @include respond-below(lg) {
			// 	width: 80px;
			// 	height: 80px;
			// 	flex: 0 0 80px;
			// }
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			&-first {
				background: #8E80DB;
				width: 295px;
				height: 295px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: -26px;
				bottom: 32px;
				
				// @include respond-below(lg) {
				// 	width: 153px;
				// 	height: 153px;
					
				// 	left: -13px;
				// 	bottom: 17px;
				// }
			}
			
			&-second {
				background: #AEA1F1;
				width: 146px;
				height: 146px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: 48px;
				bottom: 106px;
				
				// @include respond-below(lg) {
				// 	width: 76px;
				// 	height: 76px;

				// 	left: 25px;
				// 	bottom: 55px;
				// }
			}
			
			.icon {
				color: #fff;
				height: 51px;
				width: auto;
				
				position: relative;
				
				z-index: 1;
				
				// @include respond-below(lg) {
				// 	height: 28px;
				// }
			}
		}
	}
	
	& > .title {
		margin-left: 8px;
	}
	
	&__form {
		margin-top: 63px;
		
		@include respond-below(md) {
			margin-top: 53px;
		}
		
		@include respond-below(sm) {
			margin-top: 31px;
		}
	}

	&__inner {
		width: 100%;
		height: auto;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		
		@include respond-below(lg) {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-justify-content: flex-start;
		            justify-content: flex-start;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		}
	}

	&__content {
		flex: 1 1 calc(100% - 350px);
		width: calc(100% - 350px);
		max-width: calc(100% - 350px);
		
		@include respond-below(xl) {
			flex: 1 1 calc(100% - 290px);
			width: calc(100% - 290px);
			max-width: calc(100% - 290px);
		}

		@include respond-below(lg) {
			flex: 0 0 auto;
			width: 100%;
			max-width: 100%;
		}
		
		margin-right: 30px;
	}

	&__total {
		margin-top: 57px;

		flex: 0 0 350px;
		max-width: 350px;
		width: 350px;
		
		padding: 26px 26px 21px 26px;
		
		@include respond-below(xl) {
			width: 290px;
			max-width: 290px;
			flex: 0 0 290px;

			padding-bottom: 16px;
		}

		@include respond-below(lg) {
			width: 100%;
			max-width: 100%;
			flex: 0 0 auto;
			
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0 30px;
			
			.order-page__block {
				grid-column: 1/2;
				&:nth-child(2n + 1) {
					grid-column: 2/3;
				}
				&:first-child {
					grid-column: 1/3;
				}
				&:last-child {
					grid-column: 1/3;
				}
			}
		}

		@include respond-below(md) {
			margin-top: 47px;
		}
		
		@include respond-below(sm) {
			padding-left: 16px;
			padding-right: 16px;
			grid-template-columns: 100%;
			
			.order-page__block {
				grid-column: 1/2 !important;
			}
		}

		background: #FFFFFF;
		border: 4px solid rgba(114, 100, 192, 0.26);
		box-sizing: border-box;
		border-radius: 4px;
		
		&--items {
			margin-top: 20px;
			position: relative;
			
			margin-bottom: -12px;
			
			@include respond-below(sm) {
				margin-bottom: 0;
			}
			
			& > .order-item {
				@include respond-below(sm) {
					height: 50px;
					-webkit-align-items: center;
					        align-items: center;
					    
					.order-item__image {
						flex: 0 0 50px;
						height: 50px;
						width: 50px;
						max-width: 50px;
					}

					.order-item__content {
						flex: 0 0 calc(100% - 70px);
						width: calc(100% - 70px);
						max-width: calc(100% - 70px);
					}
				}
			
			}

		}
		&--more {
			@extend %text__sm;
			font-weight: 500;
			
			color: $purple;
			margin-left: 101px;
			
			position: relative;
			top: -15px;
			z-index: 1;
			
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
			
			@include respond-below(sm) {
				top: 0;
				margin-top: 14px;
				display: block;
				margin-left: 71px;
			}

			&:hover, &:active, &.order-page__total--more_opened {
				color: $purpleDark;
			}

			&.order-page__total--more_opened {
				.icon.arrow-down {
					-webkit-transform: rotate(-90deg);
					   -moz-transform: rotate(-90deg);
					    -ms-transform: rotate(-90deg);
					     -o-transform: rotate(-90deg);
					        transform: rotate(-90deg);
				}
			}
			
			.icon.arrow-down {
				margin-left: 5px;
				position: relative;
				top: 1px;

				-webkit-transition: transform .3s linear;
				   -moz-transition: transform .3s linear;
				    -ms-transition: transform .3s linear;
				     -o-transition: transform .3s linear;
				        transition: transform .3s linear;

				font-size: 10px;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
			}
		}
		&--drop {
			position: absolute;
			left: 0;
			width: 100%;
			top: calc(100% - 7px);
			
			@include respond-below(sm) {
				top: calc(100% + 5px);
			}
			
			background: #FFFFFF;
			box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
			border-radius: 4px;
			z-index: 1;
			
			padding: 20px 10px;
			max-height: 300px;
			height: 300px;
			
			.order-item {
				padding-right: 10px;
				
				&__content {
					display: flex;
					-webkit-flex-direction: column;
					    -ms-flex-direction: column;
					        flex-direction: column;
					-webkit-justify-content: center;
					        justify-content: center;
					-webkit-align-items: flex-start;
					        align-items: flex-start;
				}
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
			
			.scrolled .simplebar-track.simplebar-vertical {
				right: 0;
			}

			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;
			
			-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
			   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
			    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
			     -o-transition: visibility 0s linear .3s, opacity .3s linear;
			        transition: visibility 0s linear .3s, opacity .3s linear;
			
			&_opened {
				visibility: visible;
				opacity: 1;
				pointer-events: auto;
				-webkit-user-select: auto;
				   -moz-user-select: auto;
				    -ms-user-select: auto;
				        user-select: auto;
				
				-webkit-transition: visibility 0s linear 0s, opacity .3s linear;
				   -moz-transition: visibility 0s linear 0s, opacity .3s linear;
				    -ms-transition: visibility 0s linear 0s, opacity .3s linear;
				     -o-transition: visibility 0s linear 0s, opacity .3s linear;
				        transition: visibility 0s linear 0s, opacity .3s linear;
			}

			&-inner {
				width: 100%;
				height: 100%;
				max-height: 100%;
			}
		}
	}

	&__stage {
		&:not(:last-child) {
			margin-bottom: 60px;
		}

		@include respond-below(md) {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}

		@include respond-below(sm) {
			&:not(:last-child) {
				margin-bottom: 41px;
			}
		}

		&--title {
			&:before {
				content: attr(data-stage);
				
				font-family: Cera Pro;
				font-weight: 500;
				font-size: 21px;
				line-height: 24px;

				color: #fff;
				
				display: inline-flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: center;
				        align-items: center;
				
				width: 30px;
				height: 30px;
				
				background: $red;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				
				margin-right: 20px;
				
				@include respond-below(md) {
					position: absolute;
					top: 0;
					left: 0;
					margin-right: 0;
				}

				@include respond-below(sm) {
					width: 24px;
					height: 24px;
				}
			}

			font-family: Cera Pro;
			font-weight: 500;
			font-size: 21px;
			line-height: 24px;
			
			
			color: $dark;
			position: relative;
			
			display: inline;
			
			@include respond-below(md) {
				line-height: 28px;
				padding-left: 50px;
				padding-right: 67px;
				
				display: inline-block;
				max-width: 100%;
			}

			@include respond-below(sm) {
				font-size: 19px;
				padding-left: 39px;
				padding-right: 0;
			}
			
			& > a {
				color: $purple;
				
				-webkit-transition: color .3s linear;
				   -moz-transition: color .3s linear;
				    -ms-transition: color .3s linear;
				     -o-transition: color .3s linear;
				        transition: color .3s linear;
				
				&:hover, &.city__button_opened {
					color: $purpleDark;
				}

				&.city__button_opened {
					& > .icon {
						-webkit-transform: rotate(-90deg);
						   -moz-transform: rotate(-90deg);
						    -ms-transform: rotate(-90deg);
						     -o-transform: rotate(-90deg);
						        transform: rotate(-90deg);
					}
				}

				& > .icon {
					color: inherit;
					font-size: 10px;

					margin-left: 3px;
					
					-webkit-transform: rotate(90deg);
					   -moz-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					     -o-transform: rotate(90deg);
					        transform: rotate(90deg);
					
					-webkit-transition: transform .3s linear;
					   -moz-transition: transform .3s linear;
					    -ms-transition: transform .3s linear;
					     -o-transition: transform .3s linear;
					        transition: transform .3s linear;
				}
			}
			
			.city {
				left: auto;
				right: 0;
				.search-input {
					position: relative;
					&__clear {
						top: 9px;
					}
				}
			}

		}
	}

	&__contact-info {
		margin-top: 27px;
		
		@include respond-below(md) {
			margin-top: 29px;
		}

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 50px);
		
		grid-gap: 30px;
		
		@include respond-below(sm) {
			margin-top: 15px;
			grid-template-columns: 100%;
			grid-template-rows: 50px;
			grid-auto-rows: 50px;
			grid-gap: 15px;
			
			.input__label {
				&:nth-child(3) {
					grid-row: 2/3;
				}
			}
		}
		
		.input__label {
			width: 100%;
			height: 100%;
		}
	}

	&__delivery-info {
		margin-top: 37px;
		
		@include respond-below(md) {
			margin-top: 41px;
		}
		
		@include respond-below(sm) {
			margin-top: 23px;
		}
		
		.tabs {
			margin-bottom: 35px;
			
			@include respond-below(lg) {
				display: flex;
			}
		}

		.tab {
			@extend %text__md;
			
			&:not(:last-child) {
				margin-right: 52px;
			}

			@include respond-below(lg) {
				&__body {
					padding: 0;
					border-top: none;
					display: none;
					&_active {
						display: block;
					}

					& + .tab__body {
						border-bottom: none;
					}
				}
			}
		}

		.dropdown {
			height: 50px;
			
			@include respond-below(sm) {
				&.dropdown_pickup {
					height: auto;

					.dropdown__active {
						height: auto;
						padding-top: 14px;
						padding-bottom: 14px;
						
						.icon.arrow-down {
							position: relative;
							top: -12px;
							font-size: 12px;
							right: -4px;
						}
					}
				}
			}
		}
	}

	&__payment {
		margin-top: 47px;
		
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: 50% auto;
		
		grid-gap: 0 15px;
		
		@include respond-below(md) {
			margin-top: 32px;
			
			grid-template-columns: 100%;
			
			grid-gap: 20px 0;
		}
	}

	&__comment {
		margin-top: 57px;
		
		@include respond-below(xl) {
			margin-top: 60px;
		}
		@include respond-below(md) {
			margin-top: 50px;
		}

		width: 100%;
		height: 160px;
		
		@include respond-below(lg) {
			height: 50px;
		}
		
		resize: none;
		border: 1px solid #D9D9D9;
		box-sizing: border-box;
		border-radius: 4px;
		-webkit-appearance: none;
		
		padding: 10px 20px;
		outline: none;
		
		&, &::placeholder {
			@extend %text__md;
			font-weight: 400;
		}

		color: $dark;

		&::placeholder {
			color: #999;
		}

		&_wrong {
			&::placeholder {
				color: $red;
			}
		}
	}

	&__address {
		display: grid;
		grid-template-rows: 50px 50px auto;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
		
		.input__label:first-of-type {
			grid-column: 1/4;
		}

		@include respond-below(md) {
			grid-template-rows: repeat(3, 50px) auto;
			grid-template-columns: repeat(3, 1fr);
			
			.input__label:first-of-type {
				grid-column: 1/3;
			}
		}

		@include respond-below(sm) {
			grid-template-rows: repeat(4, 50px) auto;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 15px;
			
			.input__label:first-of-type {
				grid-column: 1/3;
			}
		}
	}

	&__time-info {
		grid-column: 1/3;
		
		@include respond-below(xl) {
			grid-column: 1/5;
		}
		@include respond-below(md) {
			grid-column: 1/4;
			padding-top: 10px;
		}
		@include respond-below(sm) {
			grid-column: 1/3;
			padding-top: 10px;
		}
		
		&--text {
			@extend %text__sm;
			font-weight: 400;
			
			color: $dark;
			
			padding-left: 2px;
			margin-bottom: 6px;
		}

		&--inner {
			display: grid;
			grid-template-rows: 50px;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0 30px;
			
			@include respond-below(sm) {
				grid-template-columns: 1fr;
				grid-gap: 15px 0;
			}
		}
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		width: 100%;
		

		&--title {
			@extend %text__md;
			font-weight: 500;
			
			color: #999;
		}

		&--text {
			@extend %text__sm;
			font-weight: 400;
			
			color: $dark;

			margin-top: 8px;
			
			padding-right: 20px;
			
			@include respond-below(xl) {
				padding-right: 0;
			}

			&_small {
				margin-top: 14px;
				font-size: 12px;
				
				@include respond-below(xl) {
					margin-top: 16px;
					line-height: 18px;
				}
			}
		}

		&--subtitle {
			@extend %text__sm;
			font-weight: 500;
			
			color: $dark;
			
			margin-top: 8px;
		}

		&--price {
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			    
			font-family: Cera Pro;
			font-style: normal;
			font-weight: bold;
			font-size: 21px;
			line-height: 20px;
			
			margin-bottom: 15px;
			
			@include respond-below(xl) {
				margin-bottom: 17px;
			}
			
			@include respond-below(sm) {
				margin-top: 7px;
				margin-bottom: 15px;
			}

			color: $dark;
		}

		.button {
			height: 50px;
			
			@extend %text__md;
			font-weight: 500;
		}

		.checkbox {
			input {
				 &:checked ~ .checkbox__marker {
		     		background: $purple;
		     		border-color: $purple;
  				}
			}
			margin-top: 12px;
			
			&__marker {
				
				@include respond-below(lg) {
					width: 26px;
					height: 26px;
					flex: 0 0 26px;
					max-width: 26px;
				}

				border: 1px solid #d9d9d9;
				background: #FFFFFF;
				-webkit-transition: border-color .3s linear, background .3s linear;
				   -moz-transition: border-color .3s linear, background .3s linear;
				    -ms-transition: border-color .3s linear, background .3s linear;
				     -o-transition: border-color .3s linear, background .3s linear;
				        transition: border-color .3s linear, background .3s linear;
				.icon {
					font-size: 12px;
					color: #fff;
				}
			}
			p {
				color: $dark;
			}
			a {
				color: $purple;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}

			@include respond-below(xl) {
				margin-top: 19px;
			}

			@include respond-below(lg) {
				margin-top: 12px;
				-webkit-align-items: center;
				        align-items: center;
				
				p {
					top: 0;
				}
			}
		}
	}


}