.menu-city {

	position: relative;
	
	&__inner {
		cursor: pointer;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
	
		color: #fff;
		position: relative;
		height: 100%;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&.city__button_opened {
			color: #9E8CFF;
			.icon.arrow-down {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
			.menu-city__text {
				opacity: 1 !important;
			}
		}
	}
	

	&__text {
		@extend %text__sm;
		font-weight: 500;
		margin-right: 6px;
		color: inherit;
		-webkit-transition: opacity .3s linear;
  		   -moz-transition: opacity .3s linear;
  		    -ms-transition: opacity .3s linear;
  		     -o-transition: opacity .3s linear;
  		        transition: opacity .3s linear;
	}

	.icon.arrow-down {
		color: inherit;
		width: 7px;
		display: block;
		height: auto;
		max-height: 100%;
		-webkit-transform: rotate(90deg);
		   -moz-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		     -o-transform: rotate(90deg);
		        transform: rotate(90deg);
		-webkit-transition: opacity .3s linear, transform .3s linear;
		   -moz-transition: opacity .3s linear, transform .3s linear;
		    -ms-transition: opacity .3s linear, transform .3s linear;
		     -o-transition: opacity .3s linear, transform .3s linear;
		        transition: opacity .3s linear, transform .3s linear;
	}
	
	&:hover {
		.menu-city__text, .icon.arrow-down {
			opacity: 0.7;
		}
	}

}