.menu {
	height: 40px;
	width: 100%;
	max-width: 100%;
	
	@include respond-below(sm) {
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		width: 100%;
		
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		
		background: #FFF;
		
		-webkit-transform: translateX(100%);
		   -moz-transform: translateX(100%);
		    -ms-transform: translateX(100%);
		     -o-transform: translateX(100%);
		        transform: translateX(100%);
		-webkit-transition: transform .5s ease-in-out;
		   -moz-transition: transform .5s ease-in-out;
		    -ms-transition: transform .5s ease-in-out;
		     -o-transition: transform .5s ease-in-out;
		        transition: transform .5s ease-in-out;
		will-change: transform;
		
		&.menu_opened {
			-webkit-transform: translateX(0);
			   -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			     -o-transform: translateX(0);
			        transform: translateX(0);
		}
	}
	
	&__container {
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		position: relative;
		
		@include respond-below(sm) {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-justify-content: flex-start;
		            justify-content: flex-start;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		    
		    padding-top: 21px;
		    padding-bottom: 29px;
		    
		    @media (max-height: 520px) {
		    	padding-top: 15px;
		    	padding-bottom: 19px;
		    }
		}
	}

	&__content {
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(sm) {
			display: none;
		}
	}
	
	&__icon {
		margin-right: 60px;
		color: $dark;
		
		@include respond-below(lg) {
			margin-right: 54px;
		}

		@include respond-below(md) {
			margin-right: 50px;
		}

		.icon {
			color: inherit;
		}

		.heart {
			width: 22px;
			height: 21px;
		}
		.scales {
			width: 16px;
			height: 20px;
		}
		
		position: relative;
			
		width: 23px;
		height: 100%;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		&--inner {
			color: inherit;
			width: 100%;
			height: 30px;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			&.preview__open_active {
				color: $purple;
			}
		}

		&:before {
			@extend %text__xs;
			font-weight: 500;
			
			background: $orange;
			color: #fff;
			line-height: 20px;
			text-align: center;

			display: block;
			content: attr(data-items);
			width: auto;
			height: 20px;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
			
			position: absolute;
			top: 1px;
			left: 15px;
			
			padding: 0 7px;
		}
	}

	.catalog-button {
		width: 230px;
		flex: 0 0 230px;
		height: 100%;
		
		@include respond-below(md) {
			width: auto;
			flex: 0 0 auto;
		}

		@include respond-below(sm) {
			flex: 0 0 40px;
			width: 100%;
			height: 40px;
			
			margin-bottom: 20px;
			
			@media (max-height: 520px) {
				margin-bottom: 10px;
			}
		}
	}

	&__container > .search-input {
		width: 350px;
		flex: 0 0 350px;
		height: 100%;
		
		@include respond-below(lg) {
			@include respond-above(sm) {
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
				-webkit-align-items: center;
				        align-items: center;
			}
		}

		.search-input__label {
			@include respond-below(lg) {
				@include respond-above(sm) {
					display: none;
				}
			}
		}

		.search-input__button {
			@include respond-below(lg) {
				@include respond-above(sm) {
					position: static;
					color: #000;
					.icon {
						right: -10px;
					}
				}
			}
		}
		
		@include respond-below(xl) {
			width: 230px;
			flex: 0 0 230px;
		}
		@include respond-below(lg) {
			width: 20px;
			flex: 0 0 20px;
		}

		@include respond-below(sm) {
			width: 100%;
			flex: 0 0 40px;
			height: 40px;
		}

	}

	.shopbag {
		height: 100%;
	}


	// Mobile only
	&__links {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: stretch;
		        align-items: stretch;
		width: calc(100% + 15px);
		overflow: hidden;
		
		flex: 1 1 auto;
		padding: 14px 0 40px 0;
		
		@media (max-height: 520px) {
			padding: 10px 0;
		}
	}

	&__single-link {
		height: 51px;
		width: 100%;
		flex: 0 0 51px;
		
		@media (max-height: 520px) {
			height: 42px;
			flex: 0 0 42px;
		}
		
		padding-right: 15px;
		position: relative;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;

		border-top: 1px solid #eaeaea;
		&:last-of-type {
			border-bottom: 1px solid #eaeaea;
		}

		color: $dark;
		
		.arrow-down {
			width: 8px;
			flex: 0 0 8px;
			height: 8px;
			
			color: #d9d9d9;
		}
	}

	&__link-text {
		@extend %text__sm;
		font-weight: 500;
		flex: 1 1 auto;
	}

	&__link-icon {
		flex: 0 0 34px;
		width: 34px;
		padding-right: 7px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		.icon {
			font-size: 14px;
			font-weight: 400;
			color: #999;
			
			&.location {
				font-size: 15px;
    			margin-bottom: 3px;
			}

			&.delivery {
				font-size: 12px;
    			margin-bottom: 3px;
			}

			&.payment {
				font-size: 17px;
    			margin-bottom: 1px;
			}

			&.return {
				font-size: 13px;
    			margin-bottom: 3px;
			}
		}
	}

	&__cross {
		width: 14px;
		height: 14px;
			
		position: absolute;
		top: 15px;
		right: 15px;
		
		color: #BDBDBD;
		cursor: pointer;
		.icon {
			color: inherit;
			width: 100%;
			height: 100%;
		}
	}

	&__user {
		flex: 0 0 auto;

		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
	}
	
	&__log-in {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		width: 100%;
		height: 40px;
		flex: 0 0 40px;
		
		border: 1px solid #bdbdbd;
		background: #FFF;
		color: $dark;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		
		@extend %text__sm;
		font-weight: 500;
	}

	&__sign-in {
		@extend %text__sm;
		font-weight: 500;
		
		color: $purple;
		-webkit-align-self: center;
		        align-self: center;
		
		margin-top: 29px;
	}

	&__phone {
		margin: 25px auto;
		display: inline-block;
		
		flex: 0 0 auto;
		
		color: $dark;
		@extend %text__md;
		
		@media (max-height: 520px) {
			margin: 15px auto;
		}
	}

	&__links, &__user, &__cross {
		@include respond-above(sm) {
			display: none;
		}
	}	
}