include ../catalogButton/catalogButton.pug
include ../searchInput/searchInput.pug
include ../searchBlock/searchBlock.pug
include ../icon/icon.pug
include ../city/city.pug
include ../shopBag/shopBag.pug
include ../itemsPreview/itemsPreview.pug


mixin menu()
	.menu
		+city('city_menu')
		.menu__container.container
			+catalogButton()
			+searchInput({placeholder: 'Поиск', id: 'menuSearch'})
			+searchBlock()
			.menu__content
				a.menu__icon(href="javascript:void(0)", data-items="273")
					+icon('heart')
				.menu__icon(data-items="273")
					a.menu__icon--inner.preview__open(href="javascript:void(0)")
						+icon('scales')
					+itemsPreview({
						title: 'Сравнение товаров',
						button: 'Сравнить',
						summary: false
					})
				+shopBag()
			nav.menu__links
				a.menu__single-link.city__open(href="javascript:void(0)")
					span.menu__link-icon
						+icon('location')
					span.menu__link-text
						| Москва
					+icon('arrow-down')
				a.menu__single-link(href="javascript:void(0)")
					span.menu__link-icon
						+icon('delivery')
					span.menu__link-text
						| Доставка
					+icon('arrow-down')
				a.menu__single-link(href="javascript:void(0)")
					span.menu__link-icon
						+icon('payment')
					span.menu__link-text
						| Оплата
					+icon('arrow-down')
				a.menu__single-link(href="javascript:void(0)")
					span.menu__link-icon
						+icon('return')
					span.menu__link-text
						| Возврат
					+icon('arrow-down')
			.menu__user
				a.menu__phone(href="tel:+74956637373") +7 (495) 663-73-73
				a.menu__log-in(href="javascript:void(0)") Войти
				a.menu__sign-in(href="javascript:void(0)") Регистрация
			.menu__cross.js__menu-close
				+icon('cross')