.tabs {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	 
	margin-bottom: 44px;
	
	@include respond-below(lg) {
		display: none;
	}
}

.tab {
	position: relative;
	cursor: pointer;
	&:not(:last-child) {
		margin-right: 61px;
	}

	font-family: Cera Pro;
	font-weight: 500;
	font-size: 21px;
	line-height: 24px;
	color: $purple;
	
	-webkit-transition: color .3s linear;
	   -moz-transition: color .3s linear;
	    -ms-transition: color .3s linear;
	     -o-transition: color .3s linear;
	        transition: color .3s linear;
	
	&:after {
		position: absolute;
		left: 0;
		bottom: -5px;

		width: 100%;
		height: 2px;

		content: "";
			
		display: block;
		background: $purple;
			
		opacity: 0;
			
		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;
	}
		
	&_active {
		color: $dark;
		&:after {
			opacity: 1;
		}
	}

	&__body {
		display: none;
		&_active {
			display: block;
		}
		@include respond-below(lg) {
			display: block;
			padding: 30px 0;
			border-top: 1px solid #D9D9D9;
			
			@include respond-below(sm) {
				padding: 23px 0;
			}
			& + .tab__body {
				border-bottom: 1px solid #D9D9D9;
			}
			&_active {
				.tab__title {
					margin-bottom: 15px;
					.icon {
						-webkit-transform: rotate(-90deg) translateX(1px) translateY(1px);
						   -moz-transform: rotate(-90deg) translateX(1px) translateY(1px);
						    -ms-transform: rotate(-90deg) translateX(1px) translateY(1px);
						     -o-transform: rotate(-90deg) translateX(1px) translateY(1px);
						        transform: rotate(-90deg) translateX(1px) translateY(1px);
					}
				}
				.tab__inner {
					max-height: 2000px;
				}
			}
		}
	}

	&__inner {
		@include respond-below(lg) {
			max-height: 0;
			overflow: hidden;
			-webkit-transition: max-height .5s linear;
			   -moz-transition: max-height .5s linear;
			    -ms-transition: max-height .5s linear;
			     -o-transition: max-height .5s linear;
			        transition: max-height .5s linear;
		}
	}
	
	&__title {
		display: none;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		    
		font-family: Cera Pro;
		font-weight: 500;
		font-size: 21px;
		line-height: 24px;
		margin-bottom: 0;
		cursor: pointer;
		
		@include respond-below(sm) {
			font-size: 16px;
		}

		-webkit-transition: margin-bottom .3s linear .2s;
		   -moz-transition: margin-bottom .3s linear .2s;
		    -ms-transition: margin-bottom .3s linear .2s;
		     -o-transition: margin-bottom .3s linear .2s;
		        transition: margin-bottom .3s linear .2s;

		color: $dark;

		.icon {
			font-size: 16px;
			color: $purple;
			-webkit-transform: rotate(90deg) translateX(3px) translateY(-1px);
			   -moz-transform: rotate(90deg) translateX(3px) translateY(-1px);
			    -ms-transform: rotate(90deg) translateX(3px) translateY(-1px);
			     -o-transform: rotate(90deg) translateX(3px) translateY(-1px);
			        transform: rotate(90deg) translateX(3px) translateY(-1px);
			    
			-webkit-transition: transform .5s ease-in-out;
			   -moz-transition: transform .5s ease-in-out;
			    -ms-transition: transform .5s ease-in-out;
			     -o-transition: transform .5s ease-in-out;
			        transition: transform .5s ease-in-out;
		}
		@include respond-below(lg) {
			display: flex;
		}
	}
}