include ../checkbox/checkbox.pug
mixin subscription()
	.subscription
		.subscription__inner
			.subscription__content
				h2.subscription__title Будь в курсе
				p.subscription__text Подпишись на последние обновления и узнавайте о новинках и специальных предложениях первыми
			form.subscription__form
				label.subscription__label(for="subscription")
					input.subscription__input.subscription__input_wrong#subscription(type="email" placeholder="Адрес электроной почты" name="email")
				button.button.button_orange(type="button") Подписаться
				+checkbox({
					'id': 'subscriptionAgree',
					'name': 'agreement'
				})
					p
						| Я согласен на обработку&nbsp
						a(href="javascript:void(0)") персональных данных
						| , а также с 
						a(href="javascript:void(0)") условиями подписки
		.subscription__done
			.subscription__done--check
				.subscription__done--check-first
				.subscription__done--check-second
				+icon('done')
			.subscription__done--title Подписка успешно оформлена!
			.subscription__done--text Спасибо!