.subscription {
	height: 430px;
	width: 100%;
	
	@include respond-below(xl) {
		height: 360px;
	}
	@include respond-below(lg) {
		height: 270px;
	}
	@include respond-below(sm) {
		height: 356px;
	}

	-webkit-border-radius: 4px;
	        border-radius: 4px;
	position: relative;
	
	background-image: url('../assets/images/template/subscription__bg.svg');
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center left;
	background-repeat: no-repeat;
	
	&:after {
		width: calc(100% - 100px);
		height: 158px;
		
		position: absolute;
		z-index: -1;
		left: 50px;
		bottom: 0;
		
		display: block;
		content: "";
		box-shadow:   0px 20px 30px rgba(64, 157, 225, 0.49);
	}

	&_sended {
		.subscription__inner {
			visibility: hidden;
			opacity: 0;
			pointer-events: none;
			-webkit-user-select: none;
			   -moz-user-select: none;
			    -ms-user-select: none;
			        user-select: none;

			-webkit-transition: opacity .3s linear;
		   	   -moz-transition: opacity .3s linear;
		   	    -ms-transition: opacity .3s linear;
		   	     -o-transition: opacity .3s linear;
		   	        transition: opacity .3s linear;
		}
		.subscription__done {
			visibility: visible;
			opacity: 1;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			pointer-events: auto;
		}
	}

	&__done {
		
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		
		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;

		position: absolute;
		width: 100%;
		height: 100%;
		
		top: 0;
		left: 0;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(lg) {
			padding-top: 15px;
		}
		
		@include respond-below(sm) {
			padding-top: 25px;
		}
		
		&--title {
			font-family: Cera Pro;
			font-style: normal;
			font-weight: bold;
			font-size: 35px;
			
			color: #fff;
			margin: 30px 0 20px 0;
			
			text-align: center;
			
			@include respond-below(lg) {
				font-size: 25px;
				line-height: 35px;
				margin: 20px 0 20px 0;
			}
		}

		&--text {
			@extend %text__md;
			font-weight: 500;
			

			color: #fff;
		}
		
		&--check {
			width: 120px;
			height: 120px;
			flex: 0 0 120px;
			
			overflow: hidden;
			background: #FF9900;
			box-shadow: 0px 30px 30px rgba(37, 65, 102, 0.26);
			
			position: relative;
			border-radius: 50%;
			
			@include respond-below(lg) {
				width: 80px;
				height: 80px;
				flex: 0 0 80px;
			}
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			&-first {
				background: #FFB039;
				width: 241px;
				height: 241px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: -26px;
				bottom: 24px;
				
				@include respond-below(lg) {
					width: 153px;
					height: 153px;
					
					left: -13px;
					bottom: 17px;
				}
			}
			
			&-second {
				background: #FFCB7D;
				width: 110px;
				height: 110px;
				
				position: absolute;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				left: 36px;
				bottom: 80px;
				
				@include respond-below(lg) {
					width: 76px;
					height: 76px;

					left: 25px;
					bottom: 55px;
				}
			}
			
			.icon {
				color: #fff;
				height: 41px;
				width: auto;
				
				position: relative;
				
				z-index: 1;
				
				@include respond-below(lg) {
					height: 28px;
				}
			}
		}

	}

	&__inner {

		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		padding: 0 90px;
		
		height: 100%;
		width: 100%;
		
		@include respond-below(xl){
			padding: 0 49px;
		}
		
		@include respond-below(lg){
			padding: 33px 40px 10px;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
	
		@include respond-below(md) {
			padding: 33px 30px 10px;
		}
		@include respond-below(sm) {
			padding: 33px 20px 10px;
		}
	
	}

	-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
	   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
	    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
	     -o-transition: visibility 0s linear .3s, opacity .3s linear;
	        transition: visibility 0s linear .3s, opacity .3s linear;

	&__form {
		flex: 0 0 calc(50% - 15px);
		width: calc(50% - 15px);
		max-width: calc(50% - 15px);
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		
		padding-bottom: 6px;
		
		@include respond-below(xl) {
			flex: 1 1 auto;
			width: auto;
			max-width: 450px;
			padding-bottom: 21px;
		}

		.button {
			width: 127px;
			height: 40px;
			flex: 0 0 127px;
			
			@include respond-below(lg){
				margin-left: 30px;
			}
			@include respond-below(sm) {
				order: 3;
				width: 100%;
				flex: 0 0 100%;
				margin-left: 0;
			}
		}

		@include respond-below(lg) {
			flex: 0 0 auto;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		}
		.checkbox {
			flex: 0 0 289px;
			width: 289px;
			margin-top: 20px;
			
			@include respond-below(sm) {
				order: 2;
				width: 100%;
				max-width: 100%;
				margin: 20px 0 15px;
			}
		}
	}

	&__label {
		width: 289px;
		height: 40px;
		flex: 0 0 289px;
		
		@include respond-below(md) {
			width: 293px;
			flex: 0 0 293px;
		}
		@include respond-below(sm) {
			width: 100%;
			flex: 0 0 100%;
			order: 1;
		}
		
		display: block;
	}
	&__input {
		background: #FFFFFF;
		box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		border: none;
		outline: none;
		
		width: 100%;
		height: 100%;

		padding-left: 20px;
		
		-webkit-transition: box-shadow .3s linear;
		   -moz-transition: box-shadow .3s linear;
		    -ms-transition: box-shadow .3s linear;
		     -o-transition: box-shadow .3s linear;
		        transition: box-shadow .3s linear;
		
		&:focus, &:not(:placeholder-shown) {
			-webkit-box-shadow: none;
			        box-shadow: none;
		}

		&, &::placeholder {
			font-family: Cera Pro;
			font-size: 14px;
			font-weight: 500;
		}
		&::placeholder {
			color: #999;
		}
		color: $dark;
		
		&_wrong {
			&::placeholder {
				color: #FF626D;
			}
		}
	}
	

	&__content {
		margin-right: 30px;
		flex: 0 0 calc(50% - 15px);
		width: calc(50% - 15px);
		max-width: calc(50% - 15px);
		
		padding-bottom: 17px;
		
		@include respond-below(xl) {
			flex: 0 0 356px;
			width: 356px;
			max-width: 356px;
		}

		@include respond-below(lg) {
			flex: 0 0 auto;
			padding-bottom: 0;
			margin-bottom: 19px;
		}

		@include respond-below(sm) {
			width: 100%;
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 29px;
		}
	}
	

	&__title {
		font-family: Cera Pro;
		font-weight: bold;
		font-size: 65px;
		line-height: 75px;
		color: #fff;
		
		margin-bottom: 13px;

		@include respond-below(xl) {
			font-size: 50px;
			line-height: 75px;
			margin-bottom: 3px;
		}
		@include respond-below(lg) {
			font-size: 35px;
			line-height: 47px;
		}
	}
	&__text {
		@extend %text__md;
		font-weight: 500;
		color: #fff;
		
		@include respond-below(lg) {
			font-size: 14px;
			line-height: 22px;
		}
		@include respond-below(sm) {
			font-size: 12px;
			line-height: 18px;
		}
	}
}



// WEBP trying

// .webp {
// 	.subscription {
// 		background-image: url('../assets/images/template/subscription_bg.webp');
// 	}
// }