extends ../layout.pug

include ../../components/item/item.pug
include ../../components/cartItem/cartItem.pug
include ../../components/carousel/carousel.pug

block content
	.colored-section.wrapper
		.container
			main.cart
				h1.title.title_lavender Корзина
				a.back-link(href="javascript:void(0)") Перейти в каталог
				.cart__inner
					+cartItem({
						'image': './assets/images/content/items/item3',
						'category': 'Ванны',
						'name': "Rest Spa",
						'amount': '1',
						'oldPrice': '25 900 ₽',
						'newPrice': '21 800 ₽'
					})
					+cartItem({
						'image': './assets/images/content/items/item3',
						'category': 'Ванны',
						'name': "Rest Spa",
						'amount': '1',
						'oldPrice': '25 900 ₽',
						'newPrice': '21 800 ₽'
					})
					+cartItem({
						'image': './assets/images/content/items/item2',
						'category': 'Ванны',
						'name': "Rest Spa",
						'amount': '1',
						'oldPrice': '25 900 ₽',
						'newPrice': '21 800 ₽'
					})
				.cart__panel
					.cart__overall
						.cart__overall-line
							.cart__overall-name Количество
							.cart__overall-val 3 товара
						.cart__overall-line.cart__overall-line_total
							.cart__overall-name Итого
							.cart__overall-val 65 400 ₽
						.cart__overall-line
							.cart__overall-name Вы экономите
							.cart__overall-val 4 100 ₽
						a.cart__order-button.button(href="javascript:void(0)") Оформить заказ
					a.cart__continue.button.button_white(href="javascript:void(0)") Продолжить покупки
			+carousel({
				'className': 'carousel_classic',
				'title': 'Вы смотрели',
				'titleClasses': 'title_link title_sand',
				'titleLink': 'javascript:void(0)'
			})
				+item({
					'image': './assets/images/content/items/item1',
					'title': 'Blanque 1810 VTL DX',
					'price': '10 900 ₽'
				})
				+item({
					'image': './assets/images/content/items/item2',
					'itemClass': 'item_full',
					'title': 'Acquazzurra 80x100 STI DX',
					'price': '10 900 ₽'
				})
				+item({
					'image': './assets/images/content/items/item3',
					'title': 'Rest SPA',
					'price': '832 365 ₽'
				})
				+item({
					'image': './assets/images/content/items/item4',
					'title': 'Fusion SPA 231',
					'price': '766 062 ₽'
				})
				+item({
					'image': './assets/images/content/items/item1',
					'title': 'Blanque 1810 VTL DX',
					'price': '10 900 ₽'
				})