.cart {
	padding-top: 30px;
	position: relative;
	
	.title {
		margin-left: 8px;
	}

	&__inner {
		margin-top: 33px;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: stretch;
		        align-items: stretch;
	}

	&__panel {
		margin: 15px auto 70px;
		width: 100%;
		max-width: 100%;
		
		display: grid;
		grid-template-columns: 255px 1fr 350px;
		grid-template-rows: auto;
		
		@include respond-below(lg) {
			margin-top: 30px;
			margin-bottom: 62px;

			background: #FFFFFF;
			box-shadow: 0px -10px 10px rgba(33, 42, 67, 0.04);
			
			width: calc(100% + 30px);
			max-width: calc(100% + 30px);
			margin-left: -15px;
			
			grid-template-columns: 1fr 250px;
			grid-template-rows: auto auto;
		}

		@include respond-below(md) {
			margin-bottom: 52px;
		}

		@include respond-below(sm)  {
			margin-bottom: 50px;

			grid-template-columns: 100%;
			grid-template-rows: auto 50px;
			padding: 19px 15px 26px 15px;
		}
	}

	&__overall {
		grid-row: 1/2;
		grid-column: 3/4;
		width: 100%;
		
		height: auto;
		padding: 23px 30px 30px 30px;
		
		background: #FFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;

		@include respond-below(lg) {
			grid-row: 1/3;
			grid-column: 1/3;
			padding: 19px 15px 15px 15px;

			-webkit-box-shadow: none;
			        box-shadow: none;
			-webkit-border-radius: 0;
			        border-radius: 0;
			
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-columns: 1fr 120px 240px;
		}

		@include respond-below(md) {
			grid-template-columns: 1fr 45px 225px;
		}
		@include respond-below(sm) {
			grid-column: 1/2;
			grid-row: 1/2;

			grid-template-columns: 100%;
			grid-template-rows: repeat(3, auto) 50px;
			padding: 6px 0 0 0;
		}

		&-line {
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			    
			margin-bottom: 10px;
			
			@include respond-below(lg) {
				grid-column: 1/2;
				-webkit-align-items: center;
				        align-items: center;
				margin-bottom: 4px;
			}

			@include respond-below(sm) {
				grid-column: 1/2;
				margin-bottom: 9px;
			}
			    
			&_total {
				.cart__overall-name, .cart__overall-val {
					font-weight: bold;
					font-size: 21px;
					line-height: 33px;
				}
			}
		}

		&-name, &-val {
			flex: 1 1 auto;
			width: auto;
			
			@extend %text__sm;
			color: $dark;
		}

		&-name {
			font-weight: 400;
			text-align: left;
		}

		&-val {
			text-align: right;
			font-weight: 500;
		}
	}

	&__order-button {
		height: 50px;
		margin-top: 20px;
		width: 100%;
		
		@include respond-below(lg) {
			grid-row: 1/3;
			grid-column: 3/4;
			width: 240px;
			margin-top: 11px;
		}

		@include respond-below(md) {
			width: 225px;
		}
		
		@include respond-below(sm) {
			width: 100%;
			grid-row: 4/5;
			grid-column: 1/2;
			height: 100%;
		}
		
		@extend %text__md;
	}

	&__continue {
		-webkit-align-self: center;
		        align-self: center;
	    
	    grid-row: 1/2;
	    grid-column: 1/2;
	    
	    width: 100%;
	    height: 50px;
		
		@extend %text__md;
		
		@include respond-below(lg) {
			grid-row: 2/3;
			grid-column: 2/3;
			
			width: calc(100% - 15px);
			max-width: calc(100% - 15px);
			height: auto;
			
			-webkit-align-self: center;
			        align-self: center;
			-webkit-justify-self: center;
			        justify-self: center;
			
			text-align: center;
			font-size: 14px;
			line-height: 22px;
			
			margin-bottom: 22px;
			margin-right: 20px;
			
			-webkit-box-shadow: none;
			        box-shadow: none;
			background: none;
			-webkit-border-radius: 0;
			        border-radius: 0;
		}

		@include respond-below(md) {
			margin-right: 5px;
		}
		@include respond-below(sm) {
			grid-column: 1/2;
			margin-bottom: 0;
    		margin-top: 35px;
    		margin-right: -5px;
		}
	}

}