.order-item {
	height: 80px;
	
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	&__image {
		flex: 0 0 80px;
		width: 80px;
		max-width: 80px;
		margin-right: 20px;
		
		border: 1px solid #D9D9D9;
		border-radius: 4px;
		overflow: hidden;
		background: #FFF;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			max-width: 100%;
		}
	}

	&__content {
		flex: 0 0 calc(100% - 100px);
		width: calc(100% - 100px);
		max-width: calc(100% - 100px);
	}

	&__title {
		@extend %text__md;
		line-height: 16px;
		font-weight: 400;
		
		margin-bottom: 4px;
		
		color: $dark;
	}
	&__total {
		@extend %text__sm;
		font-weight: 400;
		
		color: $dark;
	}
}