mixin orderItem(item)
	.order-item
		.order-item__image
			picture
				source(type="image/webp" srcset=item.image+".webp")
				source(type="image/png" srcset=item.image+".png")
				img(src=item.image+'.png', alt=item.title)
		.order-item__content
			.order-item__title #{item.title}
			.order-item__total #{item.total}
