.modal_opened {
	position: fixed;
	overflow: hidden;
	max-width: 100vw;
}

.wrapper {
	@include respond-below(sm) {
		margin-top: -30px;
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	
	background: rgba(44, 41, 66, .5);
	
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}


.colored-section {
	background: #F7F7F7;
}

.container {
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;

	max-width: map-get($breakpoints, xl);
	@include respond-below(xl) {
		max-width: map-get($breakpoints, lg);
	}
	@include respond-below(lg) {
		max-width: 100%;
	}
}


	
.back-link {
	position: absolute;
	top: 38px;
	right: 0;
	
	cursor: pointer;
	
	color: $purple;
	
	@extend %text__md;
	font-weight: 500;
	
	-webkit-transition: color .3s linear;
	   -moz-transition: color .3s linear;
	    -ms-transition: color .3s linear;
	     -o-transition: color .3s linear;
	        transition: color .3s linear;
	
	&:hover {
		color: $purpleDark;
	}
}

.input {

	&__label {
		display: block;
	}

	width: 100%;
	height: 100%;

	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	box-sizing: border-box;
	border-radius: 4px;
	
	padding-left: 20px;
	
	-webkit-transition: border-color .3s linear;
	   -moz-transition: border-color .3s linear;
	    -ms-transition: border-color .3s linear;
	     -o-transition: border-color .3s linear;
	        transition: border-color .3s linear;
	
	&:focus {
		border-color: $purple;
	}
	
	&, &::placeholder {
		font-family: Cera Pro;
		font-size: 16px;
		font-weight: 400;	
	}

	&::placeholder {
		color: #999;
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
	}


	color: $dark;
	
	&_wrong {
		border-color: $red;
		&::placeholder {
			color: $red;
		}
	}
}

.radio {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	 
	cursor: pointer;
	padding-left: 50px;
	position: relative;
	
	@include respond-below(md) {
		padding-left: 45px;
	}
	
	input {
		margin: 0;
		visibility: hidden;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		display: none;
	}
	
	&__mark {
		border: 1px solid #D9D9D9;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		width: 30px;
		height: 30px;
		background: #fff;
		
		position: absolute;
		left: 0;
		top: 0;
		
		&:after {
			content: "";
			
			width: 12px;
			height: 12px;
			
			position: absolute;
			top: 8px;
			left: 8px;
			
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			
			background: $purple;
			
			opacity: 0;
			-webkit-transition: opacity .3s linear;
			   -moz-transition: opacity .3s linear;
			    -ms-transition: opacity .3s linear;
			     -o-transition: opacity .3s linear;
			        transition: opacity .3s linear;
		}
	}

	input:checked ~ .radio__mark {
		&:after {
			opacity: 1;
		}
	}

	&__inner {
		padding-top: 3px;
	}

	&__title {
		@extend %text__md;
		font-weight: 500;
		
		color: $dark;
		margin-bottom: 6px;
	}

	&__text {
		@extend %text__sm;
		font-weight: 400;
		
		color: #999999;
	}
}

.scrolled {
	overflow-y: auto;
	-ms-overflow-x: hidden;
	    overflow-x: hidden;
	.simplebar-track.simplebar-vertical {
		width: 5px;
		right: 10px;
		background: #EAEAEA;
		
		height: calc(100% - 20px);
		top: 10px;
		
		-webkit-border-radius: 100px;
		        border-radius: 100px;
	}
	
	&.simplebar-dragging {
		.simplebar-scrollbar:before {
			background: $purple !important;
		}
	}

	.simplebar-scrollbar {
		width: 100%;
		height: 100%;
		right: 0;
		
		&:before {
			height: 100%;
			opacity: 1 !important;
			top: 0 !important;
			-webkit-border-radius: 100px;
			        border-radius: 100px;
		    background: #BDBDBD;

		    -webkit-transition: background .3s linear, opacity .3s linear !important;
		       -moz-transition: background .3s linear, opacity .3s linear !important;
		        -ms-transition: background .3s linear, opacity .3s linear !important;
		         -o-transition: background .3s linear, opacity .3s linear !important;
		            transition: background .3s linear, opacity .3s linear !important;
		}
		
		&.simplebar-hover {
			cursor: pointer;
			&:before {
				background: #999;
			}
		}
	}
}

.simplebar-wrapper {
	height: 100%;
}


// Texts

%text {
	&__xs {
		font-family: $font, arial, helvetica;
		font-size: 12px;
		line-height: 1.5;
	}
	&__sm {
		font-family: $font, arial, helvetica;
		font-size: 14px;
		line-height: 22px;
	}
	&__md {
		font-family: $font, arial, helvetica;
		font-size: 16px;
		line-height: 1.5;
	}
	&__lg {
		font-family: $font, arial, helvetica;
		font-size: 25px;
		line-height: 1.4;
	}
}

.title {
	@extend %text__lg;
	font-weight: 500;
	
	color: $dark;
	display: inline-block;
	position: relative;
	z-index: 1;
	
	&_link {

		cursor: pointer;

		a {
			color: inherit;
			span:last-child {
				&:before {
					width: calc(100% + 34px);
				}
			}
		}
	
		.icon {
			margin-left: -1px;
			font-size: 12px;
			color: inherit;
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;
		}

		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;

		&:hover {
			opacity: .7;
			.icon {
				-webkit-transform: translateX(5px);
				   -moz-transform: translateX(5px);
				    -ms-transform: translateX(5px);
				     -o-transform: translateX(5px);
				        transform: translateX(5px);
			}
		}
	}
	
	&_centered {
		margin: 0 auto;
	}

	&_number {
		&:after {
			content: attr(data-number);
			display: block;
			
			@extend %text__xs;
			font-weight: 400;
			
			color: $dark;
			
			position: absolute;
			top: -4px;
			right: -15px;
		}
	}
	
	span {
		position: relative;
		display: inline;
		&:before {
			content: "";
			position: absolute;
			z-index: -1;
			left: -8px;
			bottom: -8px;
			
			width: calc(100% + 16px);
			height: 16px;
		}
	}
	&_lavender {
		
		span {
			&:before {
				background: #D9D9F7;
			}
		}
	}
	&_grey-blue {
		
		span {
			&:before {
				background: #D9E6F7;
			}
		}
	}
	&_pistachio {
		
		span {
			&:before {
				background: #C5EDBF;
			}
		}
	}
	&_light-pink {
		
		span {
			&:before {
				background: #F8C0BC;
			}
		}
	}
	&_blue-lagoon {
		
		span {
			&:before {
				background: #BCF5F2;
			}
		}
	}
	&_sand {
		
		span {
			&:before {
				background: #F9E1B2;
			}
		}
	}
	&_cream {
		
		span {
			&:before {
				background: #F7E1B7;
			}
		}
	}
	&_pink {
		
		span {
			&:before {
				background: #F6C3C0;
			}
		}
	}

	@include respond-below(sm) {
		font-size: 21px;
		line-height: 33px;
	}
}


// Button

.button {
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	
	-webkit-transition: box-shadow .3s linear, background .3s linear;
	   -moz-transition: box-shadow .3s linear, background .3s linear;
	    -ms-transition: box-shadow .3s linear, background .3s linear;
	     -o-transition: box-shadow .3s linear, background .3s linear;
	        transition: box-shadow .3s linear, background .3s linear;
	
	background: $purple;
	
	&:hover, &:focus, &:active {
		background: $purpleDark;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}

	&_orange {
		background: $orange;
		
		&:hover, &:focus, &:active {
			background: $orangeDark;
		}
	}

	&_white {
		background: #FFFFFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border: 1px solid #fff;
		color: $purple;
		

		-webkit-transition: color .3s linear, border-color .3s linear, box-shadow .3s linear;
		   -moz-transition: color .3s linear, border-color .3s linear, box-shadow .3s linear;
		    -ms-transition: color .3s linear, border-color .3s linear, box-shadow .3s linear;
		     -o-transition: color .3s linear, border-color .3s linear, box-shadow .3s linear;
		        transition: color .3s linear, border-color .3s linear, box-shadow .3s linear;
		
		&:hover {
			border-color: #D9D9D9;
			background: #fff;
			-webkit-box-shadow: none;
			        box-shadow: none;
		}
		&:active, &:focus {
			background: #fff;
			color: $purpleDark;
		}
	}

	&_disabled {
		background: #D9D9D9;
		border: 1px solid #d9d9d9;
		-webkit-box-shadow: none;
		        box-shadow: none;
		
		cursor: default;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		
		&:hover, &:active, &:focus {
			background: #D9D9D9;
		}
	}

	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	
	@extend %text__sm;
	text-align: center;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
}



button.button, input.button {
	display: inline-block;
}


.arrow {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	
	border: 1px solid #fff;
	
	-webkit-transition: border-color .3s linear, box-shadow .3s linear;
	   -moz-transition: border-color .3s linear, box-shadow .3s linear;
	    -ms-transition: border-color .3s linear, box-shadow .3s linear;
	     -o-transition: border-color .3s linear, box-shadow .3s linear;
	        transition: border-color .3s linear, box-shadow .3s linear;
	
	svg {
		width: 10px;
		height: 10px;
		
		fill: #999999;
		
		-webkit-transition: fill .3s linear;
		   -moz-transition: fill .3s linear;
		    -ms-transition: fill .3s linear;
		     -o-transition: fill .3s linear;
		        transition: fill .3s linear;
	}
	
	&:hover {
		border-color: #D9D9D9;
		-webkit-box-shadow: none;
		        box-shadow: none;
		    
		svg {
			fill: $purple;
		}
	}

	&:active {
		svg {
			fill: $purpleDark;
		}
	}
}

// Structure

.info-blocks__container {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	-webkit-align-items: stretch;
	        align-items: stretch;
	height: 300px;
	
	@include respond-below(xl) {
		height: 250px;
	}
	@include respond-below(lg) {
		height: 180px;
	}
	@include respond-below(md) {
		height: auto;
		-webkit-flex-direction: column;
			-ms-flex-direction: column;
			    flex-direction: column;	
	}

	.info-block {
		flex: 0 0 calc(50% - 15px);
		width: calc(50% - 15px);
		max-width: calc(50% - 15px);

		@include respond-below(md) {
			max-width: 100%;
			width: 100%;
			flex: 0 0 200px;
			height: 200px;
			& + .info-block {
				margin-top: 30px;
			}
		}
		@include respond-below(sm) {
			flex: 0 0 180px;
			height: 180px;
		}
	}
}


.items__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	grid-gap: 30px;
	justify-items: center;
	
	margin-top: 30px;
	
	
	@include respond-below(lg) {
		grid-template-columns: repeat(2, 1fr);
	}

	@include respond-below(md) {
		grid-template-columns: 1fr;
	}

	@include respond-below(sm) {
		.item {
			width: 100%;
		}
	}
}