@font-face {
    font-family: 'Cera Pro';
    src: url('../assets/fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../assets/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CeraPro-Regular.woff') format('woff'),
        url('../assets/fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-disaply: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../assets/fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../assets/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CeraPro-Medium.woff') format('woff'),
        url('../assets/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-disaply: swap;
}
@font-face {
    font-family: 'Cera Pro';
    src: url('../assets/fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../assets/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/CeraPro-Bold.woff') format('woff'),
        url('../assets/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-disaply: swap;
}