html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  font-family: $font, arial, helvetica;
}
body {line-height: 1; background: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
ol, ul {list-style: none}

blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
strong {font-weight: bold} 

input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
}

table {border-collapse: collapse; border-spacing: 0}
img {border: 0; max-width: 100%}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}