// Colors
$dark: #111111;

$red: #FF626D;
$redDark: #D63F4E;

$purple: #7264C0;
$purpleDark: #4D418F;

$orange: #FF9900;
$orangeDark: #ED8E00;

// Sizes


// General
$font: "Cera Pro";

// Responsive
$breakpoints: (
	xl: 1140px,
	lg: 960px,
	md: 720px,
	sm: 540px,
	xs: 400px,
	xxs: 375px
);