extends ../layout.pug

include ../../components/sort/sort.pug
include ../../components/item/item.pug
include ../../components/filter/filter.pug
include ../../components/banner/banner.pug
include ../../components/applied/applied.pug
include ../../components/showFilter/showFilter.pug
include ../../components/carousel/carousel.pug
include ../../components/pagination/pagination.pug
include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/compilations/compilations.pug

block content
	.catalog-page.colored-section
		.container
			+breadcrumbs([
				{
					'item': 'Главная',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Сантехника',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Ванны',
					'link': 'javascript:void(0)'
				}
			])
			.catalog-page__top-block
				.catalog-page__top-compilation
					h1.title.title_number.title_lavender(data-number="75") Ванны
					+compilations([
						{
							'text': 'Популярные',
							'link': 'javascript:void(0)'
						},
						{
							'text': 'Рекомендуемые',
							'link': 'javascript:void(0)'
						},
						{
							'text': 'Креативные',
							'link': 'javascript:void(0)'
						},
						{
							'text': 'Минимализм',
							'link': 'javascript:void(0)'
						},
						{
							'text': 'Крутые',
							'link': 'javascript:void(0)'
						},
					])
				+sort({
					'active': 'По цене по возрастанию',
					'variants': [
						'По цене по убыванию',
						'По популярности по возрастанию',
						'По популярности по убыванию',
						'По цене по убыванию',
						'По популярности по возрастанию',
						'По популярности по убыванию',
					]
				})
				+showFilter()
			+applied()
			.catalog-page__wrapper
				+filter()
				main.catalog-page__content
					.catalog-page__items
						+item({
							'image': './assets/images/content/items/item1',
							'title': 'Blanque 1810 VTL DX',
							'price': '10 900 ₽'
						})
						+item({
							'image': './assets/images/content/items/item3',
							'title': 'Rest SPA',
							'price': '832 365 ₽'
						})
						+item({
							'image': './assets/images/content/items/item4',
							'title': 'Fusion SPA 231',
							'price': '766 062 ₽'
						})
						+item({
							'image': './assets/images/content/items/item1',
							'title': 'Blanque 1810 VTL DX',
							'price': '10 900 ₽'
						})
						+item({
							'image': './assets/images/content/items/item3',
							'title': 'Rest SPA',
							'price': '832 365 ₽'
						})
						+item({
							'image': './assets/images/content/items/item4',
							'title': 'Fusion SPA 231',
							'price': '766 062 ₽'
						})
						+item({
							'image': './assets/images/content/items/item1',
							'title': 'Blanque 1810 VTL DX',
							'price': '10 900 ₽'
						})
						+item({
							'image': './assets/images/content/items/item3',
							'title': 'Rest SPA',
							'price': '832 365 ₽'
						})
						+item({
							'image': './assets/images/content/items/item4',
							'title': 'Fusion SPA 231',
							'price': '766 062 ₽'
						})
					+pagination()
					+carousel({
						'className': 'carousel_short-classic',
						'title': 'Вы смотрели',
						'titleClasses': 'title_link title_sand',
						'titleLink': 'javascript:void(0)'
					})
						+item({
							'image': './assets/images/content/items/item1',
							'title': 'Blanque 1810 VTL DX',
							'price': '10 900 ₽'
						})
						+item({
							'image': './assets/images/content/items/item2',
							'itemClass': 'item_full',
							'title': 'Acquazzurra 80x100 STI DX',
							'price': '10 900 ₽'
						})
						+item({
							'image': './assets/images/content/items/item3',
							'title': 'Rest SPA',
							'price': '832 365 ₽'
						})
						+item({
							'image': './assets/images/content/items/item4',
							'title': 'Fusion SPA 231',
							'price': '766 062 ₽'
						})
						+item({
							'image': './assets/images/content/items/item1',
							'title': 'Blanque 1810 VTL DX',
							'price': '10 900 ₽'
						})
					.catalog-page__info-block
						+banner({
							'type': 1,
							'className': 'info-block_large'
						})
