.catalog-page {
	padding-bottom: 90px;
	
	@include respond-below(lg) {
		padding-bottom: 60px;
	}
	
	@include respond-below(sm) {
    	margin-top: -30px;
    	padding-bottom: 50px;
	}

	.applied {
		margin-top: 20px;
		
		@include respond-below(lg) {
			margin-top: 30px;
		}
	}

	&__top-block {
		
		display: grid;
		grid-template-columns: 50% 1fr;
		grid-template-rows: auto 29px;
		grid-gap: 33px 0;
		
		-webkit-align-items: end;
		        align-items: end;
		
		@include respond-below(lg) {
			grid-template-rows: auto 40px;
			grid-gap: 30px 0;
			.show-filter {
				position: relative;
				z-index: 7;
				grid-row: 3/4;
				grid-column: 2/3;
				justify-self: end;
				margin-top: -20px;
				display: flex;
			}
		}
		
		@include respond-below(sm) {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			.show-filter {
				position: fixed;
				bottom: 30px;
				right: 15px;
			}
		}

		.sort {
			grid-row: 1/2;
			grid-column: 2/3;
			justify-self: end;
			
			@include respond-below(lg) {
				grid-row: 3/4;
    			grid-column: 1/3;
    			justify-self: start;
			}
		}

		.title {
			margin-left: 8px;
		}
	}

	&__top-compilation {
		grid-row: 1/3;
		grid-column: 1/3;
		max-width: 100%;
		position: relative;
		z-index: 5;

		@include respond-below(sm) {
			width: 100%;
			z-index: 4;
		}
	}

	&__wrapper {
		margin-top: 50px;
		
		@include respond-below(lg) {
			margin-top: 30px;
		}
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		
		.filter {
			width: 257px;
			max-width: 257px;
			flex: 0 0 257px;
			
			margin-right: 28px;
			margin-top: -8px;
		}

		@include respond-below(xl) {
			.filter {
				width: 212px;
				max-width: 212px;
				flex: 0 0 212px;
			}
		}
		@include respond-below(lg) {
			.filter {
				width: 100vw;
				max-width: none;
				margin-top: 0;
				margin-right: 0;
			}
		}

	}

	&__content {
			
		flex: 1 1 auto;
		max-width: calc(100% - 285px);
		
		@include respond-below(xl) {
			max-width: calc(100% - 240px);
		}

		@include respond-below(lg) {
			max-width: 100%
		}
		

		.carousel {
			margin-top: 91px;
			
			@include respond-below(xl) {
				margin-top: 72px;
			}
			@include respond-below(lg) {
				margin-top: 62px;
			}
			@include respond-below(md) {
				margin-top: 52px;
			}
		}

	}

	&__items {
		display: grid;
		grid-template-rows: auto;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 30px;
		justify-items: center;
		
		@include respond-below(lg) {
			grid-template-columns: repeat(2, 1fr)
		}
		@include respond-below(md) {
			grid-template-columns: 1fr;
		}
		@include respond-below(sm) {
			.item {
				width: 290px;
				max-width: 290px;
			}
		}
	}

	&__info-block {
		height: 300px;
		@include respond-below(xl) {
			height: 250px;
			.info-block__content {
				padding-top: 50px;
			}
		}
		@include respond-below(lg) {
			height: 270px;
			.info-block {
				padding-left: 30px;
			}
			.info-block__content {
				padding-bottom: 60px;
			}
		}

		@include respond-below(md) {
			height: 200px;
			.info-block__content {
				padding-top: 25px;
				padding-bottom: 30px;
			}
		}

		@include respond-below(sm) {
			height: 180px;
			.info-block {
				padding-left: 20px;
			}
			.info-block__content {
				padding-top: 13px;
				padding-bottom: 20px;
			}
		}
		margin-top: -10px;
		
		.info-block {
			height: 100%;
		}
	}
}