.logotype {
	display: block;
	cursor: pointer;
	
	-webkit-transition: opacity .3s linear;
	   -moz-transition: opacity .3s linear;
	    -ms-transition: opacity .3s linear;
	     -o-transition: opacity .3s linear;
	        transition: opacity .3s linear;

	&:hover {
		opacity: .8;
	}
}