extends ../layout.pug

include ../../components/item/item.pug
include ../../components/slider/slider.pug
include ../../components/banner/banner.pug
include ../../components/carousel/carousel.pug
include ../../components/subscription/subscription.pug
include ../../components/categoryItem/categoryItem.pug

block content
	main.main-page
		div
			.container
				+slider()
		.colored-section.main-page__categories
			.container
				+carousel({
					'className': 'carousel_one-direction',
					'title': 'Популярные категории',
					'titleClasses': 'title_centered title_lavender'
				})
					+categoryItem({
						'name': 'Мебель',
						'image': './assets/images/content/categories/furniture'
					})
					+categoryItem({
						'name': 'Плитка',
						'image': './assets/images/content/categories/tile'
					})
					+categoryItem({
						'name': 'Сантехника',
						'image': './assets/images/content/categories/plumbing'
					})
					+categoryItem({
						'name': 'Светильники',
						'image': './assets/images/content/categories/light'
					})
					+categoryItem({
						'name': 'Мебель',
						'image': './assets/images/content/categories/furniture'
					})
					+categoryItem({
						'name': 'Плитка',
						'image': './assets/images/content/categories/tile'
					})
					+categoryItem({
						'name': 'Сантехника',
						'image': './assets/images/content/categories/plumbing'
					})
					+categoryItem({
						'name': 'Светильники',
						'image': './assets/images/content/categories/light'
					})
		.main-page__brands
			.container
				+carousel({
					'className': 'carousel_single-line',
					'title': 'Популярные бренды',
					'titleClasses': 'title_link title_grey-blue',
					'titleLink': 'javascript:void(0)'
				})
					.carousel__single-item
						a(href="javascript:void(0)")
							+icon('apple')
						a(href="javascript:void(0)")
							+icon('samsung')
						a(href="javascript:void(0)")
							+icon('nike')
						a(href="javascript:void(0)")
							+icon('huawei')
						a(href="javascript:void(0)")
							+icon('addidas')
					.carousel__single-item
						a(href="javascript:void(0)")
							+icon('apple')
						a(href="javascript:void(0)")
							+icon('samsung')
						a(href="javascript:void(0)")
							+icon('nike')
						a(href="javascript:void(0)")
							+icon('huawei')
						a(href="javascript:void(0)")
							+icon('addidas')
					.carousel__single-item
						a(href="javascript:void(0)")
							+icon('apple')
						a(href="javascript:void(0)")
							+icon('samsung')
						a(href="javascript:void(0)")
							+icon('nike')
						a(href="javascript:void(0)")
							+icon('huawei')
						a(href="javascript:void(0)")
							+icon('addidas')
				.info-blocks__container
					+banner({
						'type': 1
					})
					+banner({
						'type': 2
					})
		.main-page__sections.colored-section
			.container
				+carousel({
					'className': 'carousel_classic',
					'title': 'Популярные товары',
					'titleClasses': 'title_link title_pistachio',
					'titleLink': 'javascript:void(0)'
				})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'itemClass': 'item_liked item_compared item_added',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full item_liked item_compared item_added',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
				+carousel({
					'className': 'carousel_classic',
					'title': 'Товары со скидкой',
					'titleClasses': 'title_link title_light-pink',
					'titleLink': 'javascript:void(0)'
				})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'sale': '40%',
						'newPrice': '10 900 ₽',
						'oldPrice': '17 900 ₽',
						'hasSale': 'item_has-sale'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full',
						'title': 'Acquazzurra 80x100 STI DX',
						'sale': '40%',
						'newPrice': '10 900 ₽',
						'oldPrice': '17 900 ₽',
						'hasSale': 'item_has-sale'
					})
					+item({
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'sale': '40%',
						'newPrice': '10 900 ₽',
						'oldPrice': '17 900 ₽',
						'hasSale': 'item_has-sale'
					})
					+item({
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'sale': '40%',
						'newPrice': '10 900 ₽',
						'oldPrice': '17 900 ₽',
						'hasSale': 'item_has-sale'
					})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'sale': '40%',
						'newPrice': '10 900 ₽',
						'oldPrice': '17 900 ₽',
						'hasSale': 'item_has-sale'
					})

				+carousel({
					'className': 'carousel_classic',
					'title': 'Лучшие по отзывам',
					'titleClasses': 'title_link title_blue-lagoon',
					'titleLink': 'javascript:void(0)'
				})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full item_liked_disselect item_added_disselect item_compared_disselect',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item3',
						'itemClass': 'item_liked_disselect item_added_disselect item_compared_disselect',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
				+carousel({
					'className': 'carousel_classic',
					'title': 'Вам понравиться',
					'titleClasses': 'title_link title_sand',
					'titleLink': 'javascript:void(0)'
				})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item2',
						'itemClass': 'item_full',
						'title': 'Acquazzurra 80x100 STI DX',
						'price': '10 900 ₽'
					})
					+item({
						'image': './assets/images/content/items/item3',
						'title': 'Rest SPA',
						'price': '832 365 ₽'
					})
					+item({
						'image': './assets/images/content/items/item4',
						'title': 'Fusion SPA 231',
						'price': '766 062 ₽'
					})
					+item({
						'image': './assets/images/content/items/item1',
						'title': 'Blanque 1810 VTL DX',
						'price': '10 900 ₽'
					})
				.main-page__subscription
					+subscription()