.main-page__categories {
	margin-top: -285px;
	padding-top: 347px;
	padding-bottom: 91px;

	@include respond-below(xl) {
		margin-top: -250px;
		padding-top: 292px;
		padding-bottom: 71px;
	}
	@include respond-below(lg) {
		margin-top: -205px;
		padding-top: 237px;
		padding-bottom: 60px;
	}
	@include respond-below(md) {
		margin-top: -170px;
		padding-top: 192px;
		padding-bottom: 51px;
	}
	@include respond-below(sm) {
		margin-top: -230px;
		padding-top: 251px;
		padding-bottom: 49px;
	}
	.container {
		text-align: center;
	}
}


.main-page__brands {
	padding-top: 103px;
	
	@include respond-below(xl) {
		padding-top: 73px;
	}
	@include respond-below(lg) {
		padding-top: 64px;
	}
	@include respond-below(md) {
		padding-top: 53px;
	}
	@include respond-below(sm) {
		padding-top: 49px;
	}

	.carousel {
		margin-bottom: 92px;
		@include respond-below(xl) {
			margin-bottom: 71px;
		}
		@include respond-below(lg) {
			margin-bottom: 62px;
		}
		@include respond-below(md) {
			margin-bottom: 55px;
		}
		@include respond-below(md) {
			margin-bottom: 51px;
		}
	}
}

.main-page__sections {
	padding-top: 242px;
    margin-top: -150px;
    
    margin-bottom: 302px;
    .subscription {
    	bottom: -212px;
    	margin-top: -214px;
    	@include respond-below(xl) {
    		bottom: -180px;
    		margin-top: -182px;
    	}
    	@include respond-below(lg) {
    		bottom: -135px;
    		margin-top: -137px;
    	}
    	@include respond-below(sm) {
    		bottom: -170px;
    		margin-top: -173px;
    	}
    }
    
	@include respond-below(xl) {
		padding-top: 197px;
		margin-top: -125px;
		margin-bottom: 250px;
	}
	@include respond-below(lg) {
		padding-top: 152px;
		margin-top: -90px;
		margin-bottom: 195px;
	}

	@include respond-below(md) {
		padding-top: 146px;
		margin-bottom: 185px;
	}
	@include respond-below(sm) {
		padding-top: 139px;
		margin-bottom: 218px;
	}

    .carousel_classic {
    	margin-bottom: 52px;
    	
    	@include respond-below(xl) {
    		margin-bottom: 32px;
    	}
    	@include respond-below(lg) {
    		margin-bottom: 22px;
    	}
    	@include respond-below(md) {
    		margin-bottom: 12px;
    	}
    	@include respond-below(sm) {
    		margin-bottom: 10px;
    	}
    }
}