include ../icon/icon.pug

mixin coloredCheckbox(checkbox)
	label.colored-checkbox(class=checkbox.className, for=checkbox.id)
		.colored-checkbox__input
			input(type="checkbox" id=checkbox.id name=checkbox.name)
			span.colored-checkbox__marker
				+icon('check')
		.colored-checkbox__title #{checkbox.title}
		.colored-checkbox__amount #{checkbox.amount}