.colored-checkbox {
	display: grid;
	grid-template-columns: 20px 1fr auto;
	grid-gap: 0 15px;
	grid-template-rows: auto;
	-webkit-align-items: start;
	        align-items: start;
	cursor: pointer;
	
	@include respond-below(lg) {
		grid-template-columns: 26px 1fr auto;
	}
	
	&__input {
		grid-row: 1/2;
		grid-column: 1/2;
		
		input {
			-webkit-appearance: none;
		   	  -moz-appearance: none;
		           appearance: none;

		     position: absolute;
		     opacity: 0;
		     cursor: pointer;
		     height: 0;
		     width: 0;
		     margin: 0;

		     &:checked ~ .colored-checkbox__marker {
		     	background: $purple;
		     	border-color: $purple;
  			}
		}
	}

	&__marker {
		width: 20px;
		height: 20px;
		flex: 0 0 20px;
		max-width: 20px;
		border: 1px solid #d9d9d9;
		
		@include respond-below(lg) {
			width: 26px;
			height: 26px;
			flex: 0 0 26px;
			max-width: 26px;
		}
	
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		background: #FFFFFF;
		border-radius: 4px;
		
		-webkit-transition: background .3s linear,border-color .3s linear;
		   -moz-transition: background .3s linear,border-color .3s linear;
		    -ms-transition: background .3s linear,border-color .3s linear;
		     -o-transition: background .3s linear,border-color .3s linear;
		        transition: background .3s linear,border-color .3s linear;

		.icon {
			font-size: 12px;
			color: #fff;
		}
	}

	&__title {
		@extend %text__sm;
		font-weight: 400;
		line-height: 20px;
		color: $dark;
		
		@include respond-below(lg) {
			line-height: 26px;
    		font-size: 16px;
		}
	}

	&__amount {
		@extend %text__sm;
		font-weight: 400;
		line-height: 20px;
		color: #999;
	}

	&_inactive {
		cursor: default;
		.colored-checkbox__marker {
			background: #eaeaea !important;
			border: 1px solid #d9d9d9 !important;
			
			.icon {
				display: none !important;
			}
		}

		.colored-checkbox__title {
			color:#999999 !important;
		}
	}
}