.filter {

	&__block {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
		
		-webkit-transition: margin .3s linear;
		   -moz-transition: margin .3s linear;
		    -ms-transition: margin .3s linear;
		     -o-transition: margin .3s linear;
		        transition: margin .3s linear;
		
		&_opened {
			margin-bottom: 40px;
			.filter__content {
				max-height: 2000px;
			}
			.filter__title {
				.icon {
					-webkit-transform: rotate(-90deg);
					   -moz-transform: rotate(-90deg);
					    -ms-transform: rotate(-90deg);
					     -o-transform: rotate(-90deg);
					        transform: rotate(-90deg);
				}
			}
		}
	}

	&__content {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;

		max-height: 0;
		overflow: hidden;
		padding-top: 20px;
		padding-left: 12px;
		padding-right: 12px;
		width: calc(100% + 24px);
		margin-left: -12px;
		
		-webkit-transition: max-height .3s ease-in-out;
		   -moz-transition: max-height .3s ease-in-out;
		    -ms-transition: max-height .3s ease-in-out;
		     -o-transition: max-height .3s ease-in-out;
		        transition: max-height .3s ease-in-out;
		
		.alphabet {
			margin-bottom: 20px;
		}
		.search-input {
			margin-bottom: 25px;
			height: 35px;
			flex: 0 0 35px;
			width: 100%;

			&__label {
				&:focus-within {
					& + .search-input__button {
						.icon {
							-webkit-transform: translateX(7px);
							   -moz-transform: translateX(7px);
							    -ms-transform: translateX(7px);
							     -o-transform: translateX(7px);
							        transform: translateX(7px);
						}
					}
				}
			}

			&__clear {
				right: 50px;
				top: 11px;
			}
			
			&__input {
				padding-left: 15px;
				border-color: #d9d9d9;
			
				&, &::placeholder {
					font-size: 14px;
					font-weight: 500;
				}
			}

			&__button {
				width: 35px;
				height: 35px;
				.icon {
			    	width: 15px;
    				height: 15px;
    				top: 10px;
    				right: 17px;
    			}
			}
		}
	}

	&__title {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		@extend %text__md;
		font-weight: 500;
		
		color: $dark;
		cursor: pointer;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&:hover {
			color: $purple;
		}
		
		.icon {
			font-size: 16px;
			margin-right: 1px;
    		margin-top: 4px;
			
			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			
			color: $purple;
			
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;
		}
	}

	&__list {
		overflow: hidden;
		width: 100%;

		-webkit-transition: max-height .3s linear;
		   -moz-transition: max-height .3s linear;
		    -ms-transition: max-height .3s linear;
		     -o-transition: max-height .3s linear;
		        transition: max-height .3s linear;
		
		&_opened {
			.filter__item:nth-of-type(n + 6) {
				display: block;
			}
		}
	}

	&__item {
		margin-bottom: 20px;
		&:nth-of-type(n + 6) {
			display: none;
		}
	}

	&__show-more {
		padding-left: 35px;
		
		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@extend %text__sm;
		font-weight: 500;
		
		color: $purple;
		
		white-space: nowrap;
		
		.icon {
			font-size: 9px;
			margin-top: -2px;
    		margin-left: 10px;
			
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;

			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			
			color: $purple;
		}

		cursor: pointer;
		
		&_opened {
			.icon {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
		}
	}

	&__colors {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-align-items: center;
		        align-items: center;
		    
		width: 100%;
		margin-bottom: -15px;
	}

	&__single-color {
		width: 30px;
		height: 30px;
		max-width: 30px;
		flex: 0 0 30px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		@include respond-below(xl) {
			&:not(:nth-of-type(5n)) {
				margin-right: 15px;
			}
		}
		margin-bottom: 15px;
		
		cursor: pointer;
		position: relative;
		
		&[data-color="yellow"] {
			background: #FCC10A;
		}
		&[data-color="pink"] {
			background: $red;
		}
		&[data-color="green"] {
			background: #7BD19F;
		}
		&[data-color="blue"] {
			background: #71D1F0;
		}
		&[data-color="dark-blue"] {
			background: #6095E5;
		}
		&[data-color="white"] {
			background: #fff;
			border: 1px solid #d9d9d9;
			&:after {
				background: $dark;
				top: 8px;
				left: 8px;
			}
		}

		&:after {
			background: #FFF;
			
			content: "";
			width: 12px;
			height: 12px;
			
			display: block;
			position: absolute;
			top: 9px;
			left: 9px;
			
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			
			opacity: 0;
			-webkit-transition: opacity .3s linear;
			   -moz-transition: opacity .3s linear;
			    -ms-transition: opacity .3s linear;
			     -o-transition: opacity .3s linear;
			        transition: opacity .3s linear;
			will-change: opacity;
		}

		&.filter__single-color_checked {
			&:after {
				opacity: 1;
			}
		}
	}

	&__slider {
		width: 100%;
		padding-bottom: 20px;
		&-track {
			height: 2px;
			background: #d9d9d9;
			.ui-slider-range {
				background: $purple;
				height: 2px;
				top: -1px;
			}
			.ui-slider-handle {
				box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
				background: #FFF;
				top: -11px;
				
				width: 22px;
				height: 22px;
				border: none;
				
				cursor: pointer;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
			}
		}
	}

	&__inputs {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		    
		width: 100%;
		height: 35px;
		margin-bottom: 40px;
	}

	&__input {
		width: 120px;
		flex: 0 0 120px;
		max-width: 120px;
		height: 35px;
		
		@include respond-below(xl) {
			width: 97px;
			flex: 0 0 97px;
			max-width: 97px;
		}
		
		border: 1px solid #d9d9d9;
		border-radius: 4px;
		
		padding-left: 15px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		&::placeholder {
			font-family: "Cera Pro";
			font-size: 16px;
			
			font-weight: 500;
			color: #999;
		}

		@extend %text__sm;
		font-weight: 500;
		color: $dark;
	}


	&__cross, .title, &__panel {
		display: none;
	}

	@include respond-below(lg) {
		background: #FFF;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		
		width: 100vw;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		padding-bottom: 100px;
		
		&__container {
			padding: 60px 45px 0 45px;
			overflow-y: scroll;
			-webkit-overflow-scrolling:touch;
		    height: 100%;
			width: 100%;
			
			@include respond-below(md) {
				padding: 60px 30px 0 30px;
			}

			@include respond-below(sm) {
				padding: 30px 15px 0 15px;
			}
		}
		
		-webkit-transform: translateX(-100%);
		   -moz-transform: translateX(-100%);
		    -ms-transform: translateX(-100%);
		     -o-transform: translateX(-100%);
		        transform: translateX(-100%);
		-webkit-transition: transform .5s ease-in-out;
		   -moz-transition: transform .5s ease-in-out;
		    -ms-transition: transform .5s ease-in-out;
		     -o-transition: transform .5s ease-in-out;
		        transition: transform .5s ease-in-out;
		
		&_shown {
			-webkit-transform: translateX(0);
			   -moz-transform: translateX(0);
			    -ms-transform: translateX(0);
			     -o-transform: translateX(0);
			        transform: translateX(0);
		}

		.title {
			display: inline-block;
			margin-bottom: 30px;
			margin-left: 10px;
			
			@include respond-below(sm) {
				margin-bottom: 32px;
			}
		}

		&__cross {
			display: block;
			
			position: relative;
			top: -15px;
			float: right;
			cursor: pointer;
			
			.icon {
				font-size: 24px;
				color: #bdbdbd;
				
				@include respond-below(sm) {
					font-size: 14px;
				}
			}
		}

		&__title {
			font-size: 21px;
			min-height: 31px;
			
			@include respond-below(sm) {
				font-size: 16px;
    			min-height: 28px;
			}
			.icon {
				position: absolute;
				z-index: 2;
				top: 30px;
				right: -1px;
				@include respond-below(sm) {
				    top: 23px;
    				right: -2px
				}
			}
		}

		&__block {
			padding: 26px 0;
			position: relative;
			margin-bottom: 0;
			border-top: 1px solid #eaeaea;
			&:last-of-type {
				border-bottom: 1px solid #eaeaea;
			}

			@include respond-below(sm) {
				padding: 20px 0 23px;
			}
		}

		&__colors {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		    @include respond-below(sm) {
		    	padding-top: 8px;
		    	-webkit-justify-content: space-between;
		    	        justify-content: space-between;
		    }
		}
		
		&__single-color {
			width: 40px;
			height: 40px;
			flex: 0 0 40px;
			max-width: 40px;
			
			&:not(:nth-of-type(6n)) {
				margin-right: 66px;
			}

			&:after {
				top: 12px;
				left: 12px;
				width: 16px;
				height: 16px;
			}

			&[data-color="white"] {
				&:after {
					top: 11px;
					left: 11px;
				}
			}

			@include respond-below(md) {
				margin-bottom: 20px;
				&:not(:nth-of-type(5n)) {
					margin-right: 0;
				}
				&:not(:nth-of-type(6n)) {
					margin-right: 48px;
				}
			}
			@include respond-below(sm) {
				margin-bottom: 20px;
				margin-right: 15px !important;
				&:not(:nth-of-type(6n)) {
					margin-right: 0;
				}
			}
		}
		

		&__slider {
			padding-bottom: 30px;
		}
		&__slider-block {
			min-height: 89px;
		}
		&__slider-content {
			margin-top: -49px;
			position: relative;
			
			@include respond-below(sm) {
				margin-top: 0;
				padding-top: 16px !important;
			}
		}
		&__inputs {
			-webkit-justify-content: center;
			        justify-content: center;
		    height: 40px;
		    
		    margin-bottom: 47px;
		    
		    @include respond-below(sm) {
		    	-webkit-justify-content: space-between;
		    	        justify-content: space-between;
		    }
		}
		&__input {
			height: 40px;
			width: 150px;
			max-width: 150px;
			flex: 0 0 150px;
			
			margin: 0 10px;
			padding-left: 20px;
			&, &::placeholder {
				font-size: 16px;
			}

			@include respond-below(md) {
				width: 130px;
				max-width: 130px;
				flex: 0 0 130px;
				margin: 0 12.5px;
			}

			@include respond-below(sm) {
				margin: 0;
			}
		}
		&__slider-track {
			top: 2px;
			.ui-slider-handle {
				height: 40px;
				width: 40px;
				top: -20px;
			}
		}

		&__content {
			padding-top: 0px;
			-webkit-transition: padding-top .3s linear;
			   -moz-transition: padding-top .3s linear;
			    -ms-transition: padding-top .3s linear;
			     -o-transition: padding-top .3s linear;
			        transition: padding-top .3s linear;
		}

		&__block_opened {
			.filter__content {
				padding-top: 26px;
				@include respond-below(sm) {
					padding-top: 20px;
				}
			}
		}
			
		.alphabet {
			margin-bottom: 24px;
		}
		
		&__show-more {
			font-size: 16px;
			padding-left: 41px;
			padding-top: 1px;
			.icon {
				margin-top: 3px;
			}
		}

		.search-input {

			height: 40px;
			flex: 0 0 40px;
			margin-bottom: 30px;
			
			@include respond-below(sm) {
				margin-bottom: 23px;
			}

			&__button {
				position: absolute;
				width: 40px;
    			height: 40px;
    			top: 0;
    			right: 0;
    			color: #999;
    			
    			.icon {
    				width: 20px;
    				height: 20px;
    			}
    			
			}

			&__clear {
				top: 13px;
				right: 60px;
			}

			&__label {
				display: block;
			}

			&__input {
				padding-left: 20px;
				&, &::placeholder {
					font-size: 16px;
				}
			}
		}

		&__panel {
			background: #FFFFFF;
			box-shadow: 0px -10px 10px rgba(33, 42, 67, 0.04);
			bottom: 0;
			position: absolute;
			left: 0;
			width: 100%;
			height: 80px;
			
			z-index: 10;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			padding: 15px 45px;
			@include respond-below(md) {
				padding: 15px 30px;
			}
			@include respond-below(sm) {
				box-shadow: 0px -10px 10px rgba(33, 42, 67, 0.04);
				height: 70px;
				padding: 15px;
			}
		}

		&__cancel {
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;

			
			font-family: Cera Pro;
			font-weight: 500;
			font-size: 16px;
			line-height: 40px;
				
			@include respond-below(sm) {
				font-size: 14px;
			}


			color: $dark;
			
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
			
			&:hover {
				color: $red;
			}

			.icon {
				font-size: 15px;
				color:$red;
				margin-right: 13px;
			}
		}

		&__show {
			background: $orange;
			border-radius: 4px;
			width: 250px;
			height: 50px;
			flex: 0 0 250px;
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
			
			font-family: Cera Pro;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #fff;
			
			@include respond-below(sm) {
				width: 129px;
				flex: 0 0 129px;
				max-width: 129px;
				height: 40px;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}