include ../icon/icon.pug
include ../alphabet/alphabet.pug
include ../coloredCheckbox/coloredCheckbox.pug
include ../searchInput/searchInput.pug

mixin filter()
	aside.filter
		.filter__panel
			a.filter__cancel(href="javascript:void(0)")
				+icon('cross')
				| Сбросить
			a.filter__show(href="javascript:void(0)") Показать (18)
		.filter__container
			.filter__cross
				+icon('cross')
			.title.title_sand Фильтр
			.filter__block.filter__block_opened
				.filter__title
					| Производитель
					+icon('arrow-down')
				.filter__content
					+searchInput()
					+alphabet()
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1',
								'name': 'filter1',
								'title': 'Неактивный',
								'amount': 0,
								'className': 'colored-checkbox_inactive'
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2',
								'name': 'filter2',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3',
								'name': 'filter3',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4',
								'name': 'filter4',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter5',
								'name': 'filter5',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter6',
								'name': 'filter6',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter7',
								'name': 'filter7',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter8',
								'name': 'filter8',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter9',
								'name': 'filter9',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter10',
								'name': 'filter10',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter11',
								'name': 'filter11',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter12',
								'name': 'filter12',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter13',
								'name': 'filter13',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter14',
								'name': 'filter14',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter15',
								'name': 'filter15',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter16',
								'name': 'filter16',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter17',
								'name': 'filter17',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter18',
								'name': 'filter18',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter19',
								'name': 'filter19',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter20',
								'name': 'filter20',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter21',
								'name': 'filter21',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter22',
								'name': 'filter22',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter23',
								'name': 'filter23',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter24',
								'name': 'filter24',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter25',
								'name': 'filter25',
								'title': 'Roca',
								'amount': 19
							})
					.filter__show-more
						| Еще 20
						+icon('arrow-down')
			.filter__block.filter__block_opened
				.filter__title
					| Цвет
					+icon('arrow-down')
				.filter__content
					ul.filter__colors
						li.filter__single-color.filter__single-color_checked(data-color="yellow")
						li.filter__single-color.filter__single-color_checked(data-color="white")
						li.filter__single-color(data-color="pink")
						li.filter__single-color(data-color="green")
						li.filter__single-color(data-color="blue")
						li.filter__single-color(data-color="dark-blue")
			.filter__block.filter__block_opened.filter__slider-block
				.filter__title
					| Цена, ₽
					+icon('arrow-down')
				.filter__content.filter__slider-content
					.filter__slider
						.filter__inputs
							input.filter__input#priceFrom(type="text" name="price-from")
							input.filter__input#priceTo(type="text" name="price-to")
						.filter__slider-track
			.filter__block.filter__block_opened
				.filter__title
					| Модель
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_0',
								'name': 'filter1_0',
								'title': 'Asys',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_0',
								'name': 'filter2_0',
								'title': 'Aurora',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_0',
								'name': 'filter3_0',
								'title': 'Bis',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_0',
								'name': 'filter4_0',
								'title': 'Bis Mts',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter5_0',
								'name': 'filter5_0',
								'title': 'Bis One Steel',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter6_0',
								'name': 'filter6_0',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter7_0',
								'name': 'filter7_0',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter8_0',
								'name': 'filter8_0',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter9_0',
								'name': 'filter9_0',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter10_0',
								'name': 'filter10_0',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter11_0',
								'name': 'filter11_0',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter12_0',
								'name': 'filter12_0',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter13_0',
								'name': 'filter13_0',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter14_0',
								'name': 'filter14_0',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter15_0',
								'name': 'filter15_0',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter16_0',
								'name': 'filter16_0',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter17_0',
								'name': 'filter17_0',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter18_0',
								'name': 'filter18_0',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter19_0',
								'name': 'filter19_0',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter20_0',
								'name': 'filter20_0',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter21_0',
								'name': 'filter21_0',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter22_0',
								'name': 'filter22_0',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter23_0',
								'name': 'filter23_0',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter24_0',
								'name': 'filter24_0',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter25_0',
								'name': 'filter25_0',
								'title': 'Roca',
								'amount': 19
							})
					.filter__show-more
						| Еще 20
						+icon('arrow-down')
			.filter__block.filter__block_opened
				.filter__title
					| Фактура поверхности
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_1',
								'name': 'filter1_1',
								'title': 'Asys',
								'amount': 5
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_1',
								'name': 'filter2_1',
								'title': 'Aurora',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_1',
								'name': 'filter3_1',
								'title': 'Bis',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_1',
								'name': 'filter4_1',
								'title': 'Bis Mts',
								'amount': 46
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter5_1',
								'name': 'filter5_1',
								'title': 'Bis One Steel',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter6_1',
								'name': 'filter6_1',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter7_1',
								'name': 'filter7_1',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter8_1',
								'name': 'filter8_1',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter9_1',
								'name': 'filter9_1',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_10',
								'name': 'filter10_1',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_11',
								'name': 'filter11_1',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_12',
								'name': 'filter12_1',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_13',
								'name': 'filter13_1',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_14',
								'name': 'filter14_1',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_15',
								'name': 'filter15_1',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_16',
								'name': 'filter16_1',
								'title': 'Aquaform',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_17',
								'name': 'filter17_1',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_18',
								'name': 'filter18_1',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_19',
								'name': 'filter19_1',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_10',
								'name': 'filter20_1',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_11',
								'name': 'filter21_1',
								'title': 'Besco',
								'amount': 11
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_12',
								'name': 'filter22_1',
								'title': 'Cersanit',
								'amount': 23
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_13',
								'name': 'filter23_1',
								'title': 'Kaldewei',
								'amount': 25
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_14',
								'name': 'filter24_1',
								'title': 'Roca',
								'amount': 19
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_15',
								'name': 'filter25_1',
								'title': 'Roca',
								'amount': 19
							})
					.filter__show-more
						| Еще 20
						+icon('arrow-down')
			.filter__block
				.filter__title
					| Материал
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_3',
								'name': 'filter1_3',
								'title': 'Глянцевая',
								'amount': 12
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_3',
								'name': 'filter2_3',
								'title': 'Матовая',
								'amount': 5
							})
			.filter__block.filter__block_opened
				.filter__title
					| Цвет фурнитуры
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_4',
								'name': 'filter1_4',
								'title': 'Белый ',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_4',
								'name': 'filter2_4',
								'title': 'Бронза',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_4',
								'name': 'filter3_4',
								'title': 'Золото',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_4',
								'name': 'filter4_4',
								'title': 'Хром',
								'amount': 5
							})
			.filter__block.filter__block_opened
				.filter__title
					| Форма
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_5',
								'name': 'filter1_5',
								'title': 'Круглая',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_5',
								'name': 'filter2_5',
								'title': 'Овальная',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_5',
								'name': 'filter3_5',
								'title': 'Прямоугольная',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_5',
								'name': 'filter4_5',
								'title': 'Угловая',
								'amount': 5
							})
			.filter__block.filter__block_opened
				.filter__title
					| Вариант установки
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_6',
								'name': 'filter1_6',
								'title': 'Встраиваемая',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_6',
								'name': 'filter2_6',
								'title': 'Отдельно стоящая',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_6',
								'name': 'filter3_6',
								'title': 'Пристенная',
								'amount': 3
							})
			.filter__block.filter__block_opened
				.filter__title
					| Угол установки
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_7',
								'name': 'filter1_7',
								'title': 'Встраиваемая',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_7',
								'name': 'filter2_7',
								'title': 'Отдельно стоящая',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_7',
								'name': 'filter3_7',
								'title': 'Пристенная',
								'amount': 3
							})
			.filter__block.filter__block_opened
				.filter__title
					| Опции
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_8',
								'name': 'filter1_8',
								'title': 'Аромотерапия',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_8',
								'name': 'filter2_8',
								'title': 'Датчик уровня воды',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_8',
								'name': 'filter3_8',
								'title': 'Подголовник',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_8',
								'name': 'filter4_8',
								'title': 'Противоскользящее покрытие дна',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter5_8',
								'name': 'filter5_8',
								'title': 'Ручки',
								'amount': 3
							})
			.filter__block
				.filter__title
					| Страна производитель
					+icon('arrow-down')
				.filter__content
					ul.filter__list
						li.filter__item
							+coloredCheckbox({
								'id': 'filter1_9',
								'name': 'filter1_9',
								'title': 'Аромотерапия',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter2_9',
								'name': 'filter2_9',
								'title': 'Датчик уровня воды',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter3_9',
								'name': 'filter3_9',
								'title': 'Подголовник',
								'amount': 3
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter4_9',
								'name': 'filter4_9',
								'title': 'Противоскользящее покрытие дна',
								'amount': 4
							})
						li.filter__item
							+coloredCheckbox({
								'id': 'filter5_9',
								'name': 'filter5_9',
								'title': 'Ручки',
								'amount': 3
							})