.item {
	width: 255px;
	height: 430px;
	
	@include respond-below(xl) {
		width: 210px;
		height: 390px;
	}
	
	@include respond-below(lg) {
		width: 330px;
		height: 510px;
	}

	@include respond-below(md) {
		@include respond-above(sm) {
			width: 510px;
			height: 255px;
		}
	}

	@include respond-below(sm) {
		width: 275px;
		height: 454px;
	}
	
	display: flex !important;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	@include respond-below(md) {
		@include respond-above(sm) {
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
	    	-webkit-justify-content: space-between;
	    	        justify-content: space-between;
		}
	}
	
	background: #FFF;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	
	overflow: hidden;
	
	&_full {
		.item__image {
			border-bottom: none;
			picture, img {
				width: 100%;
				height: 100%;
				flex: 0 0 100%;
			}
		}
		.item__like {
			.icon {
				.heart {
					color:#999999;
				}
			}
		}
	}

	&_liked {
		.item__like {
			background: #FFF;
			.icon {
				.heart {
					opacity: 0;
					&_colored {
						opacity: 1;
					}
				}
			}
		}

		&_disselect {
			.item__like {
				border: 1px solid #eaeaea;
				
				&:hover {
					.icon {
						.disselect {
							color: #999;
						}
					}
				}
				.icon {
					.heart {
						&, &_colored {
							opacity: 0;
						}
					}
					.disselect {
						opacity: 1;
					}
				}
			}
		}
	}

	&_added {
		.item__bag {
			.icon {
				&:after {
					background: #FF9900;
					width: 6px;
					height: 6px;
					display: block;
					content: "";
					
					-webkit-border-radius: 50px;
					        border-radius: 50px;
					
					position: absolute;
					top: 12px;
					right: 7px;
				}
				.empty-bag {
					opacity: 0;
				}
				.full-bag {
					opacity: 1;
				}
			}
		}	
		&_disselect {
			.item__bag {
				background: #FFF;
				border: 1px solid #eaeaea;

				&:hover {
					background: #FFF;
					.icon {
						.disselect {
							color: #999;
						}
					}
				}
				.icon {
					.empty-bag, .full-bag {
						opacity: 0;
					}
					.disselect {
						opacity: 1;
					}
				}
			}
		}
	}

	&_compared {
		.item__compare {
			visibility: visible;
			opacity: 1;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			pointer-events: auto;
			background: #FFF;
			.icon {
				color: $purple;
			}
		}	

		&_disselect {
			.item__compare {
				visibility: visible;
				opacity: 1;
				-webkit-user-select: auto;
				   -moz-user-select: auto;
				    -ms-user-select: auto;
				        user-select: auto;
				pointer-events: auto;
				background: #FFF;
				border: 1px solid #eaeaea;
				
				&:hover {
					.icon {
						.disselect {
							color: #999;
						}
					}
				}
				.icon {
					.compare-icon {
						opacity: 0;
					}
					.disselect {
						opacity: 1;
					}
				}
			}
		}
	}

	&__image {
		flex: 0 0 255px;
		height: 255px;
		width: 100%;
		max-width: 100%;
		
		overflow: hidden;
		
		@include respond-below(xl) {
			flex: 0 0 210px;
			height: 210px;
		}

		@include respond-below(lg) {
			flex: 0 0 330px;
			height: 330px;
		}

		@include respond-below(md) {
			@include respond-above(sm) {
				flex: 0 0 50%;
				width: 50%;
				max-width: 50%;
				height: 100%;
			}
		}

		@include respond-below(sm) {
			flex: 0 0 274px;
			height: 274px;
		}

		position: relative;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		picture {
			min-width: 85%;
			width: auto;
			height: auto;
			flex: 0 0 auto;
			img {
				width: 100%;
				height: 100%;
			}
		}

		border-bottom: 1px solid #EAEAEA;
		@include respond-below(md) {
			@include respond-above(sm) {
				border-bottom: none;
				border-right: 1px solid #eaeaea;
			}
		}
		
		&-buttons {
			z-index: 2;
			position: absolute;
			top: 20px;
			left: 0;
			
			height: 40px;
			width: 100%;
			padding: 0 20px;
			
			@include respond-below(xl) {
				padding: 0 15px;
				top: 15px;
			}
			@include respond-below(lg) {
				padding: 0 30px;
				top: 30px;
				height: 50px;
			}
			@include respond-below(md) {
				padding: 0 20px;
				top: 20px;
			}
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
		}
	}


	&__like {
		width: 40px;
		height: 40px;
		
		background: rgba(255,255,255,.8);
		cursor: pointer;
		
		border: 1px solid rgba(255,255,255,.8);
		
		&:hover {
			background: #FFF;
			border: 1px solid #eaeaea;
		}
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		-webkit-transition: border-color .3s linear, background .3s linear;
		   -moz-transition: border-color .3s linear, background .3s linear;
		    -ms-transition: border-color .3s linear, background .3s linear;
		     -o-transition: border-color .3s linear, background .3s linear;
		        transition: border-color .3s linear, background .3s linear;
		
		.icon {
			width: 22px;
			height: 22px;
			margin-top: 4px;
    		position: relative;
			.heart {
				width: 100%;
				height: 100%;
				color: #BDBDBD;
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
				&_colored {
					color: $red;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					-webkit-transition: opacity .3s linear;
					   -moz-transition: opacity .3s linear;
					    -ms-transition: opacity .3s linear;
					     -o-transition: opacity .3s linear;
					        transition: opacity .3s linear;
				}
			}

			.disselect {
				position: absolute;
				width: 15px;
				height: 15px;
				top: 2px;
				left: 3px;

				color: #bdbdbd;
				
				opacity: 0;
				
				-webkit-transition: opacity .3s linear, color .3s linear;
				   -moz-transition: opacity .3s linear, color .3s linear;
				    -ms-transition: opacity .3s linear, color .3s linear;
				     -o-transition: opacity .3s linear, color .3s linear;
				        transition: opacity .3s linear, color .3s linear;
			}
		}

		@include respond-below(lg) {
			height: 50px;
			width: 50px;
			border: 1px solid #EAEAEA;
		}
	}

	&__compare {
		width: 40px;
		height: 40px;
		
		background: rgba(255,255,255,.8);
		border: 1px solid rgba(255,255,255,.8);
		cursor: pointer;
		
		visibility: hidden;
		opacity: 0;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		pointer-events: none;
		
		-webkit-transition: visibility 0s linear .3s, opacity .3s linear, border-color .3s linear, background .3s linear;
		   -moz-transition: visibility 0s linear .3s, opacity .3s linear, border-color .3s linear, background .3s linear;
		    -ms-transition: visibility 0s linear .3s, opacity .3s linear, border-color .3s linear, background .3s linear;
		     -o-transition: visibility 0s linear .3s, opacity .3s linear, border-color .3s linear, background .3s linear;
		        transition: visibility 0s linear .3s, opacity .3s linear, border-color .3s linear, background .3s linear;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		&:hover {
			background: #FFF;
			border: 1px solid #eaeaea;
		}
		
		.icon {
			color: #999999;
			width: 16px;
			height: 21px;
			
			position: relative;
			.compare-icon {
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}
		}
		
		.disselect {
			position: absolute;
			width: 15px;
			height: 15px;
			top: 3px;
			left: 1px;
			color: #bdbdbd;
				
			opacity: 0;
				
			-webkit-transition: opacity .3s linear, color .3s linear;
			   -moz-transition: opacity .3s linear, color .3s linear;
			    -ms-transition: opacity .3s linear, color .3s linear;
			     -o-transition: opacity .3s linear, color .3s linear;
			        transition: opacity .3s linear, color .3s linear;
		}

		@include respond-below(lg) {
			
			width: 50px;
			height: 50px;

			visibility: visible;
			opacity: 1;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			pointer-events: auto;
		}
	}
	
	&__title {
		@extend %text__md;
		font-weight: 400;
		
		color: $dark;
		text-align: center;
		
		a {
			color: inherit;
		}
	}

	&__content {
		padding: 30px 20px;
		
		@include respond-below(xl) {
			padding: 30px 15px 25px 15px;
		}
		@include respond-below(lg) {
			padding: 30px;
		}
		@include respond-below(sm) {
			padding: 30px 20px;
		}

		flex: 1 0 auto;
		height: auto;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
	}

	&__sale {
		width: 40px;
		flex: 0 0 40px;
		height: 40px;
		
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		background: $red;
		color: #fff;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-justify-content: center;
		        justify-content: center;
		
		@extend %text__sm;
		font-weight: 700;
		
		visibility: hidden;
		pointer-events: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		
		@include respond-below(lg) {
			width: 50px;
			flex: 0 0 50px;
			height: 50px;
		}
		@include respond-below(md) {
			@include respond-above(sm) {
				order: 2;
				display: none;
			}
		}
	}

	&__info {
		width: 100%;
		max-width: 100%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(md) {
			@include respond-above(sm) {
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
			    -webkit-justify-content: center;
			            justify-content: center;
			}
		}
		
		&.item_has-sale {
			.item__sale {
				visibility: visible;
				pointer-events: all;
				-webkit-user-select: auto;
				   -moz-user-select: auto;
				    -ms-user-select: auto;
				        user-select: auto;
				@include respond-below(md) {
					@include respond-above(sm) {
						display: flex;
						margin-right: 30px;
					}
				}
			}
			@include respond-below(md) {
				@include respond-above(sm) {
					.item__price {
						margin-bottom: 38px;
					}
				}
			}
		}
	}

	&__bag {
		width: 40px;
		max-width: 40px;
		height: 40px;
		flex: 0 0 40px;
		padding-bottom: 1px;
		
		cursor: pointer;
		background: #7264C0;
		position: relative;
		
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		-webkit-transition: background .3s linear;
		   -moz-transition: background .3s linear;
		    -ms-transition: background .3s linear;
		     -o-transition: background .3s linear;
		        transition: background .3s linear;
		
		&:hover {
			background: $purpleDark;
		}
		
		.icon {
			width: 19.58px;
			height: 23px;
			color: #fff;
			
			position: relative;
			
			.full-bag {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}
			.empty-bag {
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}

			.disselect {
				position: absolute;
				width: 15px;
				height: 15px;
				top: 5px;
				left: 3px;

				color: #bdbdbd;
				
				opacity: 0;
				
				-webkit-transition: opacity .3s linear, color .3s linear;
				   -moz-transition: opacity .3s linear, color .3s linear;
				    -ms-transition: opacity .3s linear, color .3s linear;
				     -o-transition: opacity .3s linear, color .3s linear;
				        transition: opacity .3s linear, color .3s linear;
			}
		}
		@include respond-below(lg) {
			width: 50px;
			flex: 0 0 50px;
			height: 50px;
			max-width: 50px;
		}
		@include respond-below(md) {
			@include respond-above(sm) {
				order: 3
			}
		}
	}

	&__price {
		@extend %text__md;
		font-weight: 700;
		
		@include respond-below(md) {
			@include respond-above(sm) {
				flex: 0 0 100%;
				text-align: center;
				order:1;
				margin-bottom: 52px;
			}
		}
	}

	&__new-price {
		color: $red;
	}

	&__old-price {
		text-decoration-line: line-through;
		color: #999;
		font-weight: 400;
	}
	
	-webkit-transition: transform .3s linear, box-shadow .3s linear;
	   -moz-transition: transform .3s linear, box-shadow .3s linear;
	    -ms-transition: transform .3s linear, box-shadow .3s linear;
	     -o-transition: transform .3s linear, box-shadow .3s linear;
	        transition: transform .3s linear, box-shadow .3s linear;

	&:hover {
		-webkit-transform: translateY(-5px);
		   -moz-transform: translateY(-5px);
		    -ms-transform: translateY(-5px);
		     -o-transform: translateY(-5px);
		        transform: translateY(-5px);
	    box-shadow: 0px 12px 40px rgba(33, 42, 67, 0.1);
	    
		.item__compare {
			visibility: visible;
			opacity: 1;
			pointer-events: auto;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;

			-webkit-transition: visibility 0s linear 0s, opacity .3s linear, border-color .3s linear, background .3s linear;
			-moz-transition: visibility 0s linear 0s, opacity .3s linear, border-color .3s linear, background .3s linear;
			-ms-transition: visibility 0s linear 0s, opacity .3s linear, border-color .3s linear, background .3s linear;
			-o-transition: visibility 0s linear 0s, opacity .3s linear, border-color .3s linear, background .3s linear;
			transition: visibility 0s linear 0s, opacity .3s linear, border-color .3s linear, background .3s linear;
		}
	}
}