include ../icon/icon.pug

mixin item(item)
	.item(class=item.itemClass)
		.item__image
			picture
				source(type="image/webp" srcset=item.image+".webp")
				source(type="image/png" srcset=item.image+".png")
				img(src=item.image+'.png', alt=item.name)
			.item__image-buttons
				a.item__like(href="javascript:void(0)")
					span.icon
						svg.heart(width="22" height="20" viewBox="0 0 22 20" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M11.6985 1.76015L11.0004 2.4556L10.3022 1.76029C9.2154 0.678099 7.72443 0 6.06134 0C2.65669 0 0 2.81744 0 6.16665C0 7.91733 0.71766 9.50765 1.88627 10.6378L1.89728 10.6484L1.90797 10.6595L10.9982 20L20.0516 10.6972L20.0666 10.683C21.2631 9.55024 22 7.94048 22 6.16665C22 2.81744 19.3433 0 15.9387 0C14.276 0 12.7846 0.67815 11.6985 1.76015ZM3.27663 9.20012L3.27587 9.19939C2.48753 8.43661 2 7.36141 2 6.16665C2 3.86491 3.81751 2 6.06134 2C7.16529 2 8.15704 2.4467 8.89092 3.17744L11.0006 5.27843L13.11 3.17705C13.8429 2.4469 14.8349 2 15.9387 2C18.1825 2 20 3.8649 20 6.16665C20 7.37738 19.4992 8.46593 18.6919 9.2304L18.6467 9.27321L10.9982 17.1324L3.34422 9.26762L3.34126 9.26457L3.31012 9.23243L3.27663 9.20012Z" fill="currentColor")
						svg.heart_colored(width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(d="M11.6985 2.00429L11.0004 2.69974L10.3022 2.00443C9.2154 0.92224 7.72443 0.244141 6.06134 0.244141C2.65669 0.244141 0 3.06158 0 6.41079C0 8.16147 0.71766 9.75179 1.88627 10.8819L1.89728 10.8926L1.90797 10.9036L10.9982 20.2441L20.0516 10.9414L20.0666 10.9272C21.2631 9.79438 22 8.18462 22 6.41079C22 3.06158 19.3433 0.244141 15.9387 0.244141C14.276 0.244141 12.7846 0.922291 11.6985 2.00429Z" fill="currentColor")
						svg.disselect(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612")
							polygon(points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011")
				a.item__compare(href="javascript:void(0)")
					span.icon
						svg.compare-icon(width="16" height="20" viewBox="0 0 16 20"  xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0C1.55228 0 2 0.447715 2 1V19C2 19.5523 1.55228 20 1 20C0.447715 20 0 19.5523 0 19V1ZM7 8C7 7.44772 7.44772 7 8 7C8.55228 7 9 7.44772 9 8V19C9 19.5523 8.55228 20 8 20C7.44772 20 7 19.5523 7 19V8ZM15 11C14.4477 11 14 11.4477 14 12V19C14 19.5523 14.4477 20 15 20C15.5523 20 16 19.5523 16 19V12C16 11.4477 15.5523 11 15 11Z" fill="currentColor")
						svg.disselect(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612")
							polygon(points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011")
		.item__content
			h3.item__title
				a(href="javascript:void(0)") #{item.title}
			.item__info(class=item.hasSale)
				.item__sale #{item.sale}
				if item.sale
					.item__price
						.item__new-price #{item.newPrice}
						.item__old-price #{item.oldPrice}
				else
					.item__price #{item.price}
				a.item__bag(href="javascript:void(0)")
					span.icon
						svg.empty-bag(width="20" height="23" viewBox="0 0 20 23" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M5.00003 6V5C5.00003 2.23858 7.23861 0 10 0C12.7615 0 15 2.23858 15 5L15 6H15.6901C17.2313 6 18.5218 7.16788 18.6752 8.70149L19.7752 19.7015C19.9518 21.4675 18.5649 23 16.7901 23H3.21001C1.43514 23 0.0482917 21.4675 0.224897 19.7015L1.3249 8.70149C1.47826 7.16789 2.76875 6 4.31001 6H5.00003ZM7.00003 6V5C7.00003 3.34315 8.34318 2 10 2C11.6569 2 13 3.34315 13 5V6H7.00003ZM3.31497 8.9005C3.36609 8.3893 3.79626 8 4.31001 8H15.6901C16.2038 8 16.634 8.38929 16.6851 8.9005L17.7851 19.9005C17.844 20.4892 17.3817 21 16.7901 21H3.21001C2.61839 21 2.1561 20.4892 2.21497 19.9005L3.31497 8.9005Z" fill="currentColor")
						svg.full-bag(width="20" height="24" viewBox="0 0 20 24" fill="none" xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd" clip-rule="evenodd" d="M4.99979 5.24414V6.24414H4.30976C2.76851 6.24414 1.47801 7.41203 1.32465 8.94563L0.224653 19.9456C0.0480476 21.7117 1.4349 23.2441 3.20976 23.2441H16.7898C18.5647 23.2441 19.9515 21.7117 19.7749 19.9456L18.6749 8.94563C18.5216 7.41202 17.2311 6.24414 15.6898 6.24414H14.9997L14.9998 5.24414C14.9998 2.48272 12.7612 0.244141 9.99979 0.244141C7.23837 0.244141 4.99979 2.48272 4.99979 5.24414ZM7 5.24414V6.24414H13V5.24414C13 3.58729 11.6569 2.24414 10 2.24414C8.34315 2.24414 7 3.58729 7 5.24414Z" fill="currentColor")
						svg.disselect(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="612px" height="612px" viewBox="0 0 612 612")
							polygon(points="612,36.004 576.521,0.603 306,270.608 35.478,0.603 0,36.004 270.522,306.011 0,575.997 35.478,611.397 306,341.411 576.521,611.397 612,575.997 341.459,306.011")

