.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.addidas {
	font-size:(25/10)*1rem;
	width:(95/25)*1em;
}
.apple {
	font-size:(31/10)*1rem;
	width:(26/31)*1em;
}
.arrow-down {
	font-size:(306/10)*1rem;
	width:(306/306)*1em;
}
.arrow_icon {
	font-size:(19/10)*1rem;
	width:(22/19)*1em;
}
.bag {
	font-size:(23/10)*1rem;
	width:(20/23)*1em;
}
.check {
	font-size:(78.369/10)*1rem;
	width:(78.369/78.369)*1em;
}
.city-mark {
	font-size:(56/10)*1rem;
	width:(40/56)*1em;
}
.cross {
	font-size:(612/10)*1rem;
	width:(612/612)*1em;
}
.delivery {
	font-size:(12/10)*1rem;
	width:(18/12)*1em;
}
.done {
	font-size:(40/10)*1rem;
	width:(55/40)*1em;
}
.facebook {
	font-size:(12/10)*1rem;
	width:(6/12)*1em;
}
.filter-icon {
	font-size:(28/10)*1rem;
	width:(32/28)*1em;
}
.hamburger {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.heart {
	font-size:(20/10)*1rem;
	width:(22/20)*1em;
}
.huawei {
	font-size:(29/10)*1rem;
	width:(129/29)*1em;
}
.instagram {
	font-size:(12/10)*1rem;
	width:(12/12)*1em;
}
.location {
	font-size:(15/10)*1rem;
	width:(11/15)*1em;
}
.minus {
	font-size:(2/10)*1rem;
	width:(20/2)*1em;
}
.nike {
	font-size:(32/10)*1rem;
	width:(89/32)*1em;
}
.odnoklassniki {
	font-size:(14/10)*1rem;
	width:(10/14)*1em;
}
.payment {
	font-size:(18/10)*1rem;
	width:(16/18)*1em;
}
.pickup {
	font-size:(16/10)*1rem;
	width:(13/16)*1em;
}
.plus {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.return {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
.samsung {
	font-size:(31/10)*1rem;
	width:(93/31)*1em;
}
.scales {
	font-size:(20/10)*1rem;
	width:(16/20)*1em;
}
.search {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.user {
	font-size:(16/10)*1rem;
	width:(17/16)*1em;
}
.video {
	font-size:(16/10)*1rem;
	width:(26/16)*1em;
}
.vk {
	font-size:(7/10)*1rem;
	width:(13/7)*1em;
}
