include ../icon/icon.pug

mixin searchInput(input={placeholder: 'Поиск', id: 'searchInput'})
	.search-input
		form.search-input__form
			label.search-input__label(for=input.id)
				input.search-input__input(id=input.id, type="text", placeholder=input.placeholder, name="s")
				a.search-input__clear(href="javascript:void(0)")
					+icon('cross')
			button.search-input__button(type="button")
				+icon('search')