.search-input {

	&__form {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		
		
	}

	&__label {
		height: 100%;
		width: 100%;
		display: block;
		
		position: relative;
		z-index: 1;
		

		&:focus-within {
			.search-input__input {
				border-color: $purple;
			}
			& + .search-input__button {
				background: $purple;
				color: #fff;
				.icon {
					-webkit-transform: translateX(10px);
					   -moz-transform: translateX(10px);
					    -ms-transform: translateX(10px);
					     -o-transform: translateX(10px);
					        transform: translateX(10px);
				}
			}
		}
	}

	&__input {
		width: 100%;
		height: 100%;
		
		border: 1px solid #EAEAEA;
		border-radius: 4px;
		
		padding-left: 20px;
		
		&::placeholder {
			font-family: "Cera Pro";
			font-size: 16px;
			
			font-weight: 500;
			color: #999;
		}

		@extend %text__md;
		font-weight: 500;
		color: $dark;
		
		-webkit-transition: border-color .3s linear;
		   -moz-transition: border-color .3s linear;
		    -ms-transition: border-color .3s linear;
		     -o-transition: border-color .3s linear;
		        transition: border-color .3s linear;
		
		&:not(:placeholder-shown) + .search-input__clear {
			pointer-events: auto;
			-webkit-user-select: auto;
			   -moz-user-select: auto;
			    -ms-user-select: auto;
			        user-select: auto;
			    
			opacity: 1;
		}
	}

	&__clear {
		opacity: 0;
		pointer-events: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		

		.icon {
			font-size: 14px;
		}
		
		color: #bdbdbd;
		
		position: absolute;
		z-index: 2;
		
		top: 13px;
		right: 60px;
		
		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;
	}

	&__button {
		background: none;
		outline: none;
		border: none;
		padding: 0;
		
		width: 40px;
		height: 40px;
		
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		-webkit-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		overflow: hidden;
		
		-webkit-transition: background .3s linear, color .3s linear;
		   -moz-transition: background .3s linear, color .3s linear;
		    -ms-transition: background .3s linear, color .3s linear;
		     -o-transition: background .3s linear, color .3s linear;
		        transition: background .3s linear, color .3s linear;
		
		
		
		color: #999;
		cursor: pointer;
		
		
		.icon {
			width: 20px;
			height: 20px;
			
			position: absolute;
			top: 10px;
			right: 20px;
			
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;
		}
	}
	
}