.catalog-dialog {
	position: absolute;
	top: calc(100% + 30px);
	z-index: 2;
	left: 0;	
	
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	

	box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
	border-radius: 4px;
	overflow: hidden;
	

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;

	-webkit-transition: opacity .3s linear, visibility 0s linear .3s;
	   -moz-transition: opacity .3s linear, visibility 0s linear .3s;
		-ms-transition: opacity .3s linear, visibility 0s linear .3s;
		 -o-transition: opacity .3s linear, visibility 0s linear .3s;
			transition: opacity .3s linear, visibility 0s linear .3s;
	
	@include respond-below(lg) {
		max-width: 690px;
		height: 650px;
	}
	
	@include respond-below(md) {
		max-width: 510px;
	}

	@include respond-below(sm) {
		width: 100vw;
		height: 100vh;
		max-width: 100vw;
		top: 0;
		
		position: fixed;
		z-index: 5;
	}

	&_opened {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		-webkit-user-select: auto;
		   -moz-user-select: auto;
		    -ms-user-select: auto;
		        user-select: auto;
		
		-webkit-transition: opacity .3s linear, visibility 0s linear 0s;
		   -moz-transition: opacity .3s linear, visibility 0s linear 0s;
		    -ms-transition: opacity .3s linear, visibility 0s linear 0s;
		     -o-transition: opacity .3s linear, visibility 0s linear 0s;
		        transition: opacity .3s linear, visibility 0s linear 0s;
	}
	
	&__head {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		position: relative;

		width: 100%;
		height: 60px;
		flex: 0 0 60px;
		
		background: #FFF;
		padding: 0 30px;
		
		border-bottom: 1px solid #EAEAEA;
		
		@include respond-above(lg) {
			display: none;
		}
		@include respond-below(sm) {
			padding: 0 15px;
			height: 81px;
			flex: 0 0 81px;
		}
	}

	&__title {
		font-size: 21px;
		line-height: 24px;
		font-family: Cera Pro;
		font-weight: 500;
		
		color: $dark;
		

		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		cursor: default;
		.icon {
			display: none;
		}

		@include respond-below(sm) {
			cursor: pointer;
			font-size: 16px;
			.icon {
				display: block;
				
				color: $purple;
				
				margin-right: 30px;
				
				font-size: 18px;
			}
		}
	}

	@include respond-below(lg) {
		@include respond-above(md) {
			&_third-level {
				.catalog-dialog__title {
					display: none;
				}
				.catalog-dialog__back {
					display: flex;
				}
			}
		}
	}

	@include respond-below(md) {
		&_second-level {
			.catalog-dialog__title {
				display: none;
			}
			.catalog-dialog__back {
				display: flex;
			}
		}
	}

	&__back {
		font-size: 21px;
		line-height: 24px;
		font-family: Cera Pro;
		font-weight: 500;
		
		color: $dark;
		
		display: none;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(sm) {
			font-size: 16px;
		}

		.icon {
			color: $purple;
			
			margin-right: 20px;
			
			font-size: 16px;
			
			@include respond-below(sm) {
				font-size: 18px;
				margin-right: 30px;
			}
		}
	}

	&__cross {
		position: absolute;
		cursor: pointer;
		right: 15px;
		top: 15px;

		.icon {
			color: #bdbdbd;
			font-size: 15px;
		}
	}

	&__body {
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: stretch;
		        align-items: stretch;
		
		@include respond-below(lg) {
			-webkit-justify-content: flex-end;
			        justify-content: flex-end;
		    
		    flex: 1 1 calc(100vh - 81px);
		   	max-height: calc(100vh - 81px);
		   	height:  calc(100vh - 81px);
		}

	}

	&__menu {
		background: #FFF;
		height: 608px;
		width: 380px;
		max-width: 380px;
		flex: 0 0 380px;
		
		&[data-menu-level="1"] {
			width: 350px;
			max-width: 350px;
			flex: 0 0 350px;
		}

		&:not([data-menu-level="1"]) {
			display: none;
			&.catalog-dialog__menu_active {
				display: block;
			}
		}
		
		padding: 30px 27px 25px 30px;
		
		&:not(:last-of-type) {
			border-right: 1px solid #EAEAEA;
		}

		@include respond-below(xl) {
			width: 320px;
			max-width: 320px;
			flex: 0 0 320px;
			height: 501px;
			
			&[data-menu-level="1"] {
				width: 320px;
				max-width: 320px;
				flex: 0 0 320px;
			}
			&[data-menu-level="3"] {
				width: 290px;
				max-width: 290px;
				flex: 0 0 290px;
			}
		}

		@include respond-below(lg) {
			padding-top: 20px;
			height: auto;
			&, &[data-menu-level="1"], &[data-menu-level="3"] {
				width: 345px;
				max-width: 345px;
				flex: 0 0 345px;
			}
		}

		@include respond-below(md) {
			&, &[data-menu-level="1"], &[data-menu-level="3"] {
				width: 510px;
				max-width: 510px;
				flex: 0 0 510px;
			}
		}

		@include respond-below(sm) {
			
			padding-right: 25px;
			padding-left: 15px;
			
			.simplebar-wrapper {
				height: 100%;
			}

			&, &[data-menu-level="1"], &[data-menu-level="3"] {
				width: 100%;
				max-width: 100%;
				flex: 0 0 100%;
			}
		}
	}

	&__item {
		
		height: 50px;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(xl) {
			height: 40px;
		}

		@include respond-below(lg) {
			height: 50px;
		}


		@include respond-below(sm) {
			height: 45px;
		}

		&_submenu {
			.catalog-dialog__link {
				.icon {
					display: block;
				}
			}
		}

		&:hover, &_active {
			.catalog-dialog__link {
				color: $purple;
				.icon {
					color: $purple;
				}
			}
		}
	}

	&__link {
		width: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		white-space: nowrap;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		@extend %text__md;
		color: $dark;
		

		@include respond-below(xl) {
			font-size: 14px;
		}

		@include respond-below(lg) {
			font-size: 16px;
		}

		@include respond-below(sm) {
			font-size: 14px;
		}

		.icon {
			display: none;
			color: #d9d9d9;
			font-size: 12px;
			margin-top: 4px;
			
			@include respond-below(sm) {
				font-size: 10px;
				margin-top: 2px;
			}
			
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
				-ms-transition: color .3s linear;
				 -o-transition: color .3s linear;
					transition: color .3s linear;
		}
	}
}