include ../icon/icon.pug

mixin catalogDialog()
	.catalog-dialog
		.catalog-dialog__head
			a.catalog-dialog__title(href="javascript:void(0)")
				+icon('arrow_icon')
				| Каталог
			a.catalog-dialog__back(href="javascript:void(0)")
				+icon('arrow_icon')
				| Назад
			.catalog-dialog__cross
				+icon('cross')
		.catalog-dialog__body
			ul.scrolled.catalog-dialog__menu(data-menu-level="1")
				li.catalog-dialog__item.catalog-dialog__item_submenu(data-menu="phones")
					a.catalog-dialog__link(href="javascript:void(0)")
						| Телефоны
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Ноутбуки, планшеты, ПК
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| GameZone
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Бытовая техника
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Товары для дома и ремонта
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Наушники и аудио
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Гаджеты, умные часы, авто
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Фото- и видеокамеры
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Игрушки и товары для детей
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Аксессуары
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Электромобили Tesla
						+icon('arrow-down')
			ul.scrolled.catalog-dialog__menu(data-menu="phones", data-menu-level="2")
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Все телефоны
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Все смартфоны
						+icon('arrow-down')
				li.catalog-dialog__item.catalog-dialog__item_submenu(data-menu="apple")
					a.catalog-dialog__link(href="javascript:void(0)")
						| Apple iPhone
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Huawei
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Nokia
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Samsung Galaxy
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Honor
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Смартфоны на Android
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Новинки и флагманы
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Популярные бренды
						+icon('arrow-down')
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)")
						| Кнопочные телефоны
						+icon('arrow-down')
			ul.scrolled.catalog-dialog__menu(data-menu="apple", data-menu-level="3")
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone XR
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone XS Max
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone XS
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone X
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone 8
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") (PRODUCT)RED™
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone 8 Plus
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") (PRODUCT)RED™
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone 8
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone 8 Plus
				li.catalog-dialog__item
					a.catalog-dialog__link(href="javascript:void(0)") iPhone 7