.show-filter {
	display: none;
	
	background: $orange;
	box-shadow: -2px 8px 16px rgba(32, 27, 50, 0.22);
	height: 60px;
	width: 60px;
	
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: center;
	        align-items: center;
	-webkit-border-radius: 50px;
	        border-radius: 50px;
	
	cursor: pointer;

	&_passed {
		z-index: 1 !important;
	}

	&__icon {
		.icon {
		    font-size: 28px;
    		color: #fff;
    		margin-bottom: -2px;
		}
	}

	&__chosen {
		display: none;
		background: #FFFFFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		width: 24px;
		height: 24px;
		
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		@extend %text__md;
		font-weight: 500;
		
		color: $orange;
	}

	&_filter-chosen {
		.show-filter__icon {
			display: none;
		}
		.show-filter__chosen {
			display: flex;
		}
	}
}