extends ../layout.pug

include ../../components/item/item.pug
include ../../components/carousel/carousel.pug
include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/productImageSlider/productImageSlider.pug

block content
	.colored-section.wrapper
		.container
			+breadcrumbs([
				{
					'item': 'Главная',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Сантехника',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Ванны',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Rest SPA',
					'link': 'javascript:void(0)'
				}
			])
			main.product
				h1.title.title_lavender Rest SPA
				.product__content
					+productImageSlider()
					.product__info
						.product__price-block.product__price-block_sale
							.product__price-value 10 900 ₽
							.product__price-previous 10 900 ₽
							.product__price-sale 40%
						a.product__button.button(href="javascript:void(0)")
							+icon('bag')
							| Купить
						.product__features-list
							.product__feature.product__feature_colors
								.product__feature-name Цвет фурнитуры
								ul.product__colors
									li.product__single-color(data-color="yellow")
									li.product__single-color(data-color="white")
									li.product__single-color.product__single-color_checked(data-color="green")
									li.product__single-color(data-color="dark-blue")
							.product__feature
								.product__feature-name Тип
								.product__feature-value Ванны
							.product__feature
								.product__feature-name Модель
								.product__feature-value Aurora
							.product__feature
								.product__feature-name Фактура поверхности
								.product__feature-value Глянцевая
				.tabs
					.tab.tab_active(data-tab="about") О товаре
					.tab(data-tab="characteristics") Характеристики
				.tab__body.tab__body_active(data-tab="about")
					.tab__title
						| О товаре
						+icon('arrow-down')
					.tab__inner
						p.product__text Ванна Villeroy&Boch из серии Oberon изготовлена из инновационного материала Quaryl, который дает фантастические возможности для самых оригинальных дизайнерских идей. Конструкция чаши замечательно продумана для максимального использования внутреннего пространства.
				.tab__body(data-tab="characteristics")
					.tab__title
						| Характеристики
						+icon('arrow-down')
					.tab__inner
						ul.product__list
							li.product__list-title Размеры
							li.product__list-item
								.product__list-item-name Длинна
								.product__list-item-value 180
							li.product__list-item
								.product__list-item-name Ширина
								.product__list-item-value 85
							li.product__list-item
								.product__list-item-name Высота
								.product__list-item-value 52
							li.product__list-item
								.product__list-item-name Объем 
								.product__list-item-value 200
						ul.product__list
							li.product__list-title Внешний вид
							li.product__list-item
								.product__list-item-name Форма
								.product__list-item-value Овальная
							li.product__list-item
								.product__list-item-name Материал
								.product__list-item-value Мрамор литьевой
							li.product__list-item
								.product__list-item-name Фактура поверхности
								.product__list-item-value Матовая
						ul.product__list
							li.product__list-title Установка
							li.product__list-item
								.product__list-item-name Вариат установки
								.product__list-item-value Отдельно стоящая
						ul.product__list
							li.product__list-title Параметры
							li.product__list-item
								.product__list-item-name Вес в упаковке
								.product__list-item-value 189
			+carousel({
				'className': 'carousel_classic',
				'title': 'С этим товаром покупают',
				'titleClasses': 'title_link title_pistachio',
				'titleLink': 'javascript:void(0)'
			})
				+item({
					'image': './assets/images/content/items/item1',
					'title': 'Blanque 1810 VTL DX',
					'price': '10 900 ₽'
				})
				+item({
					'image': './assets/images/content/items/item2',
					'itemClass': 'item_full',
					'title': 'Acquazzurra 80x100 STI DX',
					'price': '10 900 ₽'
				})
				+item({
					'image': './assets/images/content/items/item3',
					'title': 'Rest SPA',
					'price': '832 365 ₽'
				})
				+item({
					'image': './assets/images/content/items/item4',
					'title': 'Fusion SPA 231',
					'price': '766 062 ₽'
				})
				+item({
					'image': './assets/images/content/items/item1',
					'title': 'Blanque 1810 VTL DX',
					'price': '10 900 ₽'
				})
			.product__meta Фабрика Gruppo Treesse существует уже более 40 лет. Производство находится в Италии, в небольшом древнем городе Непи, провинция Витербо. Это семейный бизнес, что, несомненно, укрепляет наши позиции, а также позволяет быстро принимать ключевые решения. Мы гордимся культурным наследием своей страны и нашими мастерами, из-под кисти которых веками рождаются шедевры. История итальянского искусства богата и насыщена, и мы счастливы продолжать ее обогащать.