.product {

	padding-bottom: 91px;
	
	@include respond-below(xl) {
		padding-bottom: 71px;
	}

	@include respond-below(lg) {
		padding-bottom: 62px;
	}
	@include respond-below(md) {
		padding-bottom: 51px;
	}

	.title {
		margin-left: 8px;
	}

	&__content {
		display: grid;
		grid-template-columns: 540px auto;
		grid-template-rows: auto auto;
		grid-gap: 90px 60px;
		
		margin-top: 33px;
		
		@include respond-below(xl) {
			grid-template-columns: 450px auto;
			grid-gap: 73px 30px;
		}

		@include respond-below(lg) {
			grid-template-columns: 100%;
			grid-gap: 41px;
			margin-bottom: 34px;
		}

		@include respond-below(md) {
			margin-bottom: 24px;
		}

		@include respond-below(sm) {
			margin-bottom: 19px;
		}
	}

	&-image {
		width: 100%;
		max-width: 100%;
		grid-row: 1/2;
		grid-column: 1/2;
	}

	&__meta {
		margin-top: -40px;
		width: 100%;
		max-width: 100%;
		padding: 90px 0;
		

		@extend %text__xs;
		font-weight: 400;
		color: #999999;
		
		@include respond-below(lg) {
			display: none;
		}
	}


	&__info {
		grid-row: 1/2;
		grid-column: 2/3;
		
		width: 100%;
		max-width: 100%;
		
		display: grid;
		grid-template-columns: 230px 1fr;
		grid-template-rows: 106px 50px 1fr;
		grid-auto-rows: auto;
		
		@include respond-below(xl) {
			grid-template-columns: 210px 1fr;
		}
		@include respond-below(lg) {
			grid-row: 2/3;
			grid-column: 1/2;
			
			grid-template-columns: 1fr 210px;
			grid-template-rows: 50px auto;
		}
		@include respond-below(md) {
			grid-row: 2/3;
			grid-column: 1/2;
			
			grid-template-columns: 1fr 210px;
			grid-template-rows: 50px 50px auto;
			grid-gap: 50px 0; 
		}

		@include respond-below(sm) {
			grid-template-columns: 1fr;
			grid-gap: 35px 0;
		}
	}


	&__price-block {
		grid-row: 1/2;
		grid-column: 1/3;
		
		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: auto auto 1fr;
		grid-gap: 21px;
		
		-webkit-align-items: center;
		        align-items: center;
		
		padding-top: 10px;
		position: relative;
		
		@include respond-below(lg) {
			grid-column: 1/2;
			padding-top: 2px;
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;
		}
		@include respond-below(md) {
			-webkit-justify-content: center;
			        justify-content: center;
		}

		@include respond-below(sm) {
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
		&_sale {
			@include respond-below(md) {
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
			}
			.product__price-value {
				color: $red;
				text-align: left;
			}
		}
	}

	&__price-value {
		@extend %text__lg;
		font-weight: 500;
		
		color: $dark;
		text-align: center;
		
		grid-row: 1/2;
		grid-column: 1/2;
		
		@include respond-below(lg) {
			margin-right: 20px;
		}
		@include respond-below(sm) {
			font-size: 21px;
			line-height: 33px;
			margin-right: 16px;
		}
	}

	&__price-previous {
		@extend %text__md;
		font-weight: 400;

		color: #999;
		
		text-decoration-line: line-through;
		margin-top: 6px;
	}

	&__price-sale {
		position: absolute;
		top: 0;
		right: 0;
		
		height: 60px;
		width: 60px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		padding-left: 4px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		text-align: center;
		
		background: $red;
		color: #fff;
		@extend %text__md;
		font-weight: 500;
		
		@include respond-below(lg) {
			position: static;
			width: 50px;
			height: 50px;
			margin-left: 31px;
		}

		@include respond-below(sm) {
			position: absolute;
    		top: -5px;
		}
	}

	&__button {
		grid-row: 2/3;
		grid-column: 1/2;
		
		@include respond-below(lg) {
			grid-row: 1/2;
			grid-column: 2/3;
		}

		@include respond-below(md) {
			grid-row: 2/3;
			grid-column: 1/3;
		}

		width: 100%;
		max-width: 100%;
		height: 100%;
		
		font-family: Cera Pro;
		font-style: normal;
		font-size: 20px;
		line-height: 24px;
		
		-webkit-box-shadow: none;
		        box-shadow: none;
		
		.icon {
			font-size: 23px;
			margin-right: 15px;
		    position: relative;
    		bottom: 1px;
    		left: 1px;
		}
	}

	&__features-list {
		grid-row: 3/4;
		grid-column: 1/3;
		padding-top: 58px;
		
		@include respond-below(lg) {
			padding-top: 60px;
		}
		
		@include respond-below(md) {
			padding-top: 0;
		}

		@include respond-below(sm) {
			padding-top: 15px;
		}
		
		width: 100%;
		max-width: 100%;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-content: stretch;
		        align-content: stretch;
	}

	&__feature {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		    
		margin-bottom: 25px;
		
		@include respond-below(lg) {
			margin-bottom: 22px;
		}
		@include respond-below(sm) {
			margin-bottom: 25px;
			&_colors {
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
			}
		}
		    
		&-name, &-value {
			width: 50%;
			max-width: 50%;
			flex: 0 0 50%;
			
			@extend %text__md;
		    color: $dark;
		    
		    @include respond-below(sm) {
		    	width: auto;
		    	max-width: none;
		    	flex: 1 1 auto;
		    }
		}

		&-name {
			font-weight: 500;
			text-align: left;
		}

		&-value {
			font-weight: 400;
			text-align: right;
		}
	}

	&__colors {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		    
		width: 100%;
		
		@include respond-below(sm) {
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
		    margin-top: 25px;
		}
	}

	&__single-color {
		width: 30px;
		height: 30px;
		max-width: 30px;
		flex: 0 0 30px;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		@include respond-below(lg) {
			width: 40px;
			height: 40px;
			max-width: 40px;
			flex: 0 0 40px;
		}
		
		cursor: pointer;
		position: relative;
		
		&:not(:last-child) {
			margin-right: 15px;
			@include respond-below(lg) {
				margin-right: 30px;
			}
		}
		
		&[data-color="yellow"] {
			background: #FCC10A;
		}
		&[data-color="pink"] {
			background: $red;
		}
		&[data-color="green"] {
			background: #7BD19F;
		}
		&[data-color="blue"] {
			background: #71D1F0;
		}
		&[data-color="dark-blue"] {
			background: #6095E5;
		}
		&[data-color="white"] {
			background: #fff;
			border: 1px solid #d9d9d9;
			&:after {
				background: $dark;
				top: 8px;
				left: 8px;
				@include respond-below(lg) {
					top: 11px;
					left: 11px;
				}
			}
		}

		&:after {
			background: #FFF;
			
			content: "";
			width: 12px;
			height: 12px;
			
			display: block;
			position: absolute;
			top: 9px;
			left: 9px;
			
			@include respond-below(lg) {
				width: 16px;
				height: 16px;
				top: 12px;
				left: 12px;
			}
			
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			
			opacity: 0;
			-webkit-transition: opacity .3s linear;
			   -moz-transition: opacity .3s linear;
			    -ms-transition: opacity .3s linear;
			     -o-transition: opacity .3s linear;
			        transition: opacity .3s linear;
			will-change: opacity;
		}

		&.product__single-color_checked {
			&:after {
				opacity: 1;
			}
		}
	}

	&__text {
		@extend %text__md;
		font-weight: 400;
		
		color: $dark;
		
		@include respond-below(lg) {
			padding-right: 20px;
		}
		@include respond-below(md) {
			padding-right: 10px;
		}
		@include respond-below(sm) {
			padding-right: 0;
		}
	}

	&__list {
		&:not(:last-child) {
			margin-bottom: 60px;
		}

		@include respond-below(lg) {
			&:first-child {
				margin-top: 43px;
			}
		}
		@include respond-below(md) {
			&:first-child {
				margin-top: 33px;
			}
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
		&-title {
			font-family: Cera Pro;
			font-weight: 500;
			font-size: 21px;
			line-height: 24px;
			margin-bottom: 20px;
			
			@include respond-below(sm) {
				font-size: 16px;
			}
			
			color: $dark;
		}

		&-item {
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			margin-bottom: 20px;

			&-name, &-value {
				max-width: 50%;
				flex: 0 0 50%;
				width: 50%;
				
				@include respond-below(sm) {
					max-width: none;
					width: auto;
					flex: 1 1 auto;
				}
			}

			&-name {
				@extend %text__md;
				font-weight: 500;
				
				color: $dark;
			}
			&-value {
				@extend %text__md;
				font-weight: 400;
				
				color: $dark;
				@include respond-below(lg) {
					text-align: right;
				}
			}
		}

	}
}