include ../icon/icon.pug

mixin productImageSlider()
	.product-image
		.product-image__block
			a.product-image__like(href="javascript:void(0)")
				+icon('heart')
			a.product-image__compare(href="javascript:void(0)")
				+icon('scales')
			a.product-image__video(href="javascript:void(0)")
				+icon('video')
			.product-image__slider
				.product-image__item
					picture
						source(type="image/webp" srcset="./assets/images/content/product/product-full.webp")
						source(type="image/png" srcset="./assets/images/content/product/product-full.png")
						img(src='./assets/images/content/product/product-full.png', alt="Product")
				.product-image__item
					picture
						source(type="image/webp" srcset="./assets/images/content/product/product-full.webp")
						source(type="image/png" srcset="./assets/images/content/product/product-full.png")
						img(src='./assets/images/content/product/product-full.png', alt="Product")
				.product-image__item
					picture
						source(type="image/webp" srcset="./assets/images/content/product/product-full.webp")
						source(type="image/png" srcset="./assets/images/content/product/product-full.png")
						img(src='./assets/images/content/product/product-full.png', alt="Product")
				.product-image__item
					picture
						source(type="image/webp" srcset="./assets/images/content/product/product-full.webp")
						source(type="image/png" srcset="./assets/images/content/product/product-full.png")
						img(src='./assets/images/content/product/product-full.png', alt="Product")
		.product-image__nav
			.product-image__small-item
				picture
					source(type="image/webp" srcset="./assets/images/content/product/product-small.webp")
					source(type="image/png" srcset="./assets/images/content/product/product-small.png")
					img(src='./assets/images/content/product/product-small.png', alt="Product")
			.product-image__small-item
				picture
					source(type="image/webp" srcset="./assets/images/content/product/product-small.webp")
					source(type="image/png" srcset="./assets/images/content/product/product-small.png")
					img(src='./assets/images/content/product/product-small.png', alt="Product")
			.product-image__small-item
				picture
					source(type="image/webp" srcset="./assets/images/content/product/product-small.webp")
					source(type="image/png" srcset="./assets/images/content/product/product-small.png")
					img(src='./assets/images/content/product/product-small.png', alt="Product")
			.product-image__small-item
				picture
					source(type="image/webp" srcset="./assets/images/content/product/product-small.webp")
					source(type="image/png" srcset="./assets/images/content/product/product-small.png")
					img(src='./assets/images/content/product/product-small.png', alt="Product")