.product-image {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	    
	&__block {
		width: 100%;
		height: 540px;
		max-height: 540px;
		flex: 0 0 540px;
		
		@include respond-below(xl) {
			height: 450px;
			max-height: 450px;
			flex: 0 0 450px;
		}

		@include respond-below(lg) {
			height: auto;
			max-height: none;
			flex: 0 0 auto;
			&:before {
  				content: "";
  				padding-top: 100%;
  				float: left;
  			}
		}
		
		position: relative;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		overflow: hidden;
		
		margin-bottom: 30px;
		
		@include respond-below(sm) {
			margin-bottom: 15px;
		}
	}

	&__like {
		width: 50px;
		height: 50px;
		
		position: absolute;
		z-index: 2;
		top: 30px;
		left: 30px;
		
		@include respond-below(sm) {
			top: 20px;
			left: 20px;
		}

		background: #fff;
		border: 1px solid #EAEAEA;
		cursor: pointer;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		.icon {
			color: #BDBDBD;
			width: 22px;
			height: 22px;
			margin-top: 3px;
			margin-right: 0;
		}
	}

	&__compare {
		width: 50px;
		height: 50px;
		
		position: absolute;
		z-index: 2;
		top: 30px;
		right: 30px;
		

		@include respond-below(sm) {
			top: 20px;
			right: 20px;
		}

		
		background: #fff;
		border: 1px solid #EAEAEA;
		cursor: pointer;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		.icon {
			color: #bdbdbd;
			width: 16px;
			height: 21px;
		}
	}
	&__video {
		width: 50px;
		height: 50px;
		
		position: absolute;
		z-index: 2;
		bottom: 30px;
		right: 30px;
		

		@include respond-below(sm) {
			bottom: 20px;
			right: 20px;
		}

		
		background: #fff;
		border: 1px solid #EAEAEA;
		cursor: pointer;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		.icon {
			color: #bdbdbd;
			width: 26px;
			height: 22px;
		}
	}

	&__slider {
		width: 100%;
		height: 100%;
		overflow: hidden;
		
		z-index: 1;
		position: relative;
		
		background: #FFF;
		
		@include respond-below(lg) {
			position: absolute;
		}
	}

	&__item {
		height: 100%;
		background: #FFF;

		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		img {
			margin: 0 auto;
			display: block;
			max-width: 88%;
			max-height: 100%;
			height: auto;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.product-image__arrow {
		width: 50px;
		height: 50px;
		
		position: absolute;
		top: 47px;
		z-index: 10;
		
		@include respond-below(xl) {
			top: 33px;
		}
		
		&.product-image__arrow_prev {
			left: -25px;
			svg {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
		&.product-image__arrow_next {
			right: -25px;
		}
	}

	&__nav {
		max-width: calc(100% - 50px);
		width: calc(100% - 50px);
		margin: 0 auto -20px auto;
		
		@include respond-below(lg) {
			max-width: calc(100% + 15px);
			width: calc(100% + 15px);
			margin: 0 -15px 0 0;
			overflow: hidden;
		}
		
		.slick-list {
			margin: 0 -15px;
			padding-bottom: 20px !important;
			
			@include respond-below(lg) {
				padding-right: 75px;
			}

			@include respond-below(sm) {
				padding-right: 30px;
				margin: 0 7.5px;
			}

			margin-top: -15px;
			padding-top: 15px !important;
		}
		.slick-slide {
			margin: 0 15px;
			height: auto;
			
			position: relative;
			
			&:before {
  				content: "";
  				padding-top: 100%;
  				float: left;
  			}

			& > div {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}

			@include respond-below(sm) {
				margin: 0 7.5px;
			}
		}

		.slick-current {
			.product-image__small-item {
				border: 2px solid #7264C0;
			}
		}
	}
	
	&__small-item {
		width: 100%;
		height: 100%;
		background: #FFF;
		
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		border: 2px solid #fff;
		
		display: flex !important;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		-webkit-transition: border-color .5s ease-in-out, box-shadow .3s linear, transform .3s linear;
		   -moz-transition: border-color .5s ease-in-out, box-shadow .3s linear, transform .3s linear;
		    -ms-transition: border-color .5s ease-in-out, box-shadow .3s linear, transform .3s linear;
		     -o-transition: border-color .5s ease-in-out, box-shadow .3s linear, transform .3s linear;
		        transition: border-color .5s ease-in-out, box-shadow .3s linear, transform .3s linear;
		
		&:hover {
			box-shadow: 0px 12px 40px rgba(33, 42, 67, 0.1);
			-webkit-transform: translateY(-5px);
			   -moz-transform: translateY(-5px);
			    -ms-transform: translateY(-5px);
			     -o-transform: translateY(-5px);
			        transform: translateY(-5px);
		}

		img {
			margin: 0 auto;
			display: block;
			height: auto;
			width: 100%;
			flex: 0 0 100%;
			object-fit: cover;
			object-position: center;
		}	
	}

}