doctype html
html(lang="ru")
	head
		//- Meta Tags
		meta(http-equiv='X-UA-Compatible' content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")
		meta(http-equiv="Cache-Control" content="no-cache")
		<!--[if IE]>
		meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
		<![endif]-->
		meta(name="HandheldFriendly" content="true")
		//- Favicon
		link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon.png")
		link(rel="icon", type="image/png", sizes="32x32", href="favicon/favicon-32x32.png")
		link(rel="icon", type="image/png", sizes="16x16", href="favicon/favicon-16x16.png")
		link(rel="manifest", href="favicon/site.webmanifest")
		link(rel="mask-icon", href="favicon/safari-pinned-tab.svg", color="#7264c0")
		link(rel="shortcut icon", href="favicon/favicon.ico")
		meta(name="msapplication-TileColor", content="#ffffff")
		meta(name="msapplication-TileImage", content="favicon/mstile-144x144.png")
		meta(name="msapplication-config", content="favicon/browserconfig.xml")
		meta(name="theme-color", content="#ffffff")
		<!--[if lt IE 9]>
			script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
		<![endif]-->
		//- Title
		title Virney
		//- Styles
		link(rel="stylesheet" href="./css/style.css")
	body
		include ../components/city/city.pug
		include ../components/header/header.pug
		include ../components/footer/footer.pug
		include ../components/checkCity/checkCity.pug
		+header()
		block content
		+footer()
		+checkCity()
		.overlay
		script(src="./js/main.js")