.city {
	
	position: absolute;
	top: calc(100% + 15px);
	left: 1px;
	z-index: 100;
	
	width: 468px;
	height: 605px;
	cursor: default;
	
	background: #FFF;
	padding: 34px 30px 30px 30px;
	box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
	border-radius: 4px;
	
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	
	-webkit-transition: opacity .3s linear, visibility 0s linear .3s;
	   -moz-transition: opacity .3s linear, visibility 0s linear .3s;
		-ms-transition: opacity .3s linear, visibility 0s linear .3s;
		 -o-transition: opacity .3s linear, visibility 0s linear .3s;
			transition: opacity .3s linear, visibility 0s linear .3s;
	
	&_first {
		@include respond-above(lg) {
			width: 330px;
			height: 250px;
			padding: 10px 10px 20px 10px;
			
			.city__cross, .city__title, .city__text {
				display: none;
			}

			.city__head {
				border-bottom: #000;
				padding-bottom: 0;
				.search-input {
					margin-top: 0;
				}
			}

			.city__body {
				padding-top: 20px;
			}

			.city__list {
				display: flex;
				
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
				-webkit-align-items: stretch;
				        align-items: stretch;
				
				padding-left: 10px;
				-ms-overflow-y: auto;
				    overflow-y: auto;

				max-height: 160px;
				height: 100%;
				
				.simplebar-track.simplebar-vertical {
					width: 5px;
					right: 10px;
					background: #EAEAEA;
					
					height: calc(100% - 20px);
					top: 10px;
					
					-webkit-border-radius: 100px;
					        border-radius: 100px;
				}
				
				&.simplebar-dragging {
					.simplebar-scrollbar:before {
						background: $purple !important;
					}
				}

				.simplebar-scrollbar {
					width: 100%;
					height: 100%;
					right: 0;
					
					&:before {
						height: 100%;
						opacity: 1 !important;
						top: 0 !important;
						-webkit-border-radius: 100px;
						        border-radius: 100px;
					    background: #BDBDBD;
					    
					    -webkit-transition: background .3s linear, opacity .3s linear !important;
					       -moz-transition: background .3s linear, opacity .3s linear !important;
					        -ms-transition: background .3s linear, opacity .3s linear !important;
					         -o-transition: background .3s linear, opacity .3s linear !important;
					            transition: background .3s linear, opacity .3s linear !important;
					}
					
					&.simplebar-hover {
						cursor: pointer;
						&:before {
							background: #999;
						}
					}
				}
			}

			.city__link {
				font-size: 16px;
				line-height: 24px;
			}
		}
	}

	@include respond-below(lg) {
		width: calc(100vw - 30px);
		height: calc(100vh - 90px);
		
		top: 55px;
		left: 15px;
		
		position: fixed;
		
		padding-bottom: 23px;
	}
	
	@include respond-below(sm){
		width: 100vw;
		height: 100vh;
		height: calc(var(--vh, 1vh) * 100);
		
		top: 0;
		left: 0;

		padding: 29px 15px 27px 15px;
	}

	&_opened {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		-webkit-user-select: auto;
		   -moz-user-select: auto;
		    -ms-user-select: auto;
		        user-select: auto;
		
		-webkit-transition: opacity .3s linear, visibility 0s linear 0s;
		   -moz-transition: opacity .3s linear, visibility 0s linear 0s;
		    -ms-transition: opacity .3s linear, visibility 0s linear 0s;
		     -o-transition: opacity .3s linear, visibility 0s linear 0s;
		        transition: opacity .3s linear, visibility 0s linear 0s;
	}
	
	&__cross {
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 15px;
		.icon {
			font-size: 14px;
			color: #BDBDBD;
		}
	}

	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	&__head {
		padding: 0 0 30px 0;
		
		border-bottom: 1px solid #EAEAEA;
		
		@include respond-below(sm) {
			border-bottom: none;
		}

		.search-input {
			margin-top: 20px;
			height: 40px;
			
			@include respond-below(sm) {
				margin-top: 27px;
				&__input {
					&, &::placeholder {
						font-size: 14px;
					}
				}
			}
		}
	}

	&__title {
		font-family: Cera Pro;
		font-weight: 500;
		font-size: 21px;
		line-height: 24px;
		
		color: $dark;
		margin-bottom: 10px;
		
		.icon {
			display: none;
		}

		@include respond-below(sm) {
			font-size: 16px;
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: center;
			        align-items: center;
			.icon {
				font-size: 20px;
				color: $purple;
				margin-right: 30px;
				display: block;
				margin-bottom: 1px;
				margin-left: -1px;
				cursor: pointer;
			}
		}
	}
	
	&__text {
		@extend %text__xs;
		font-weight: 400;
		
		color: $dark;
		
		@include respond-below(sm) {
			display: none;
		}
	}

	&__body {
		overflow: hidden;
		height: auto;
		flex: 0 0 auto;
		
		padding-top: 25px;
		
		@extend %text__sm;
		
		@include respond-below(lg) {
			flex: 1 1 auto;
			padding-top: 20px;
		}

		@include respond-below(sm) {
			padding-top: 5px;
			padding-left: 10px;
		}
	}

	&__list {
		max-height: 400px;
		overflow: hidden;
		
		display: grid;
		grid-template-columns: auto auto 1fr;
		grid-template-rows: repeat(12, auto);
		grid-auto-flow: column;
		grid-column-gap: 44px;
		
		@include respond-below(lg) {
			max-height: none;
			height: 100%;
			grid-column-gap: 100px;
		}

		@include respond-below(md) {
			grid-column-gap: 41px;
		}

		@include respond-below(sm) {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			    
			padding-left: 10px;
		}
		.simplebar-content-wrapper {
			&::-webkit-scrollbar {
				display: none;
			}
			scrollbar-width: none;
		}
	}

	&__item {
		width: 100%;
		max-width: 100%;
		
		margin-bottom: 10px;
		
		@include respond-below(lg) {
			margin-bottom: 0;
			-webkit-align-self: center;
			        align-self: center;
		}

		@include respond-below(sm) {
			margin-bottom: 23px;
		}
		
		&_active, &:hover {
			.city__link {
				color: $purple;
			}
		}
	}

	&__link {
		@extend %text__sm;
		font-weight: 500;
		color: $dark;
		
		white-space: nowrap;
		letter-spacing: -.1px;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		@include respond-below(lg) {
			font-size: 16px;
		}
		@include respond-below(md) {
			font-weight: 400;
		}
		@include respond-below(sm) {
			font-weight: 500;
			font-size: 14px;
		}
	}

	&__dropdown {
		&--inner {
			display: inline-flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			    
			cursor: pointer;
		
			@extend %text__md;
			font-weight: 400;
			
			width: 100%;
			height: 100%;
			
			padding: 0 18px 0 21px;
			color: $dark;
			
			background: #FFF;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			overflow: hidden;
			
			-webkit-transition: box-shadow .3s linear, border-color .3s linear, color .3s linear;
			   -moz-transition: box-shadow .3s linear, border-color .3s linear, color .3s linear;
			    -ms-transition: box-shadow .3s linear, border-color .3s linear, color .3s linear;
			     -o-transition: box-shadow .3s linear, border-color .3s linear, color .3s linear;
			        transition: box-shadow .3s linear, border-color .3s linear, color .3s linear;
			
			& > .icon {
			-webkit-transition: transform .3s linear, color .3s linear;
			   -moz-transition: transform .3s linear, color .3s linear;
			    -ms-transition: transform .3s linear, color .3s linear;
			     -o-transition: transform .3s linear, color .3s linear;
			        transition: transform .3s linear, color .3s linear;

			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			margin-left: 9px;
			font-size: 10px;
		}
			
			&.city__button_opened {
				border: 1px solid #D9D9D9;
				-webkit-box-shadow: none;
				        box-shadow: none;
				& > .icon {
					color: $purple;
					-webkit-transform: rotate(-90deg);
					   -moz-transform: rotate(-90deg);
					    -ms-transform: rotate(-90deg);
					     -o-transform: rotate(-90deg);
					        transform: rotate(-90deg);
				}
			}
		}
		
		position: relative;

		width: 330px;
		height: 40px;
		
		@include respond-below(sm) {
			width: 100%;
		}
	}
}