include ../icon/icon.pug
include ../searchInput/searchInput.pug

mixin city(className)
	.city(class=className)
		.city__cross
			+icon('cross')
		.city__head
			h3.city__title
				+icon('arrow_icon')
				| Выбор города
			.city__text Всего 1 286 городов
			+searchInput({
				placeholder: 'Поиск города'
			})
		.city__body
			ul.city__list
				li.city__item.city__item_active
					a.city__link(href="javascript:void(0)") Москва
				li.city__item
					a.city__link(href="javascript:void(0)") Санкт-Петербург
				li.city__item
					a.city__link(href="javascript:void(0)") Архангельск
				li.city__item
					a.city__link(href="javascript:void(0)") Владивосток
				li.city__item
					a.city__link(href="javascript:void(0)") Волгоград
				li.city__item
					a.city__link(href="javascript:void(0)") Воронеж
				li.city__item
					a.city__link(href="javascript:void(0)") Екатеринбург
				li.city__item
					a.city__link(href="javascript:void(0)") Ижевск
				li.city__item
					a.city__link(href="javascript:void(0)") Иркутск
				li.city__item
					a.city__link(href="javascript:void(0)") Казань
				li.city__item
					a.city__link(href="javascript:void(0)") Кемерово
				li.city__item
					a.city__link(href="javascript:void(0)") Краснодар
				li.city__item
					a.city__link(href="javascript:void(0)") Красноярск
				li.city__item
					a.city__link(href="javascript:void(0)") Мурманск
				li.city__item
					a.city__link(href="javascript:void(0)") Набережные Челны
				li.city__item
					a.city__link(href="javascript:void(0)") Нижний Новгород
				li.city__item
					a.city__link(href="javascript:void(0)") Новосибирск
				li.city__item
					a.city__link(href="javascript:void(0)") Омск
				li.city__item
					a.city__link(href="javascript:void(0)") Пермь
				li.city__item
					a.city__link(href="javascript:void(0)") Ростов-на-Дону
				li.city__item
					a.city__link(href="javascript:void(0)") Саратов
				li.city__item
					a.city__link(href="javascript:void(0)") Самара
				li.city__item
					a.city__link(href="javascript:void(0)") Сочи
				li.city__item
					a.city__link(href="javascript:void(0)") Сургут
				li.city__item
					a.city__link(href="javascript:void(0)") Тверь
				li.city__item
					a.city__link(href="javascript:void(0)") Тольятти
				li.city__item
					a.city__link(href="javascript:void(0)") Тула
				li.city__item
					a.city__link(href="javascript:void(0)") Тюмень
				li.city__item
					a.city__link(href="javascript:void(0)") Ульяновск
				li.city__item
					a.city__link(href="javascript:void(0)") Уфа
				li.city__item
					a.city__link(href="javascript:void(0)") Хабаровск
				li.city__item
					a.city__link(href="javascript:void(0)") Челябинск
				li.city__item
					a.city__link(href="javascript:void(0)") Ярославль