.footer-copyright {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 380px 381px 1fr;
	
	@include respond-below(xl) {
		grid-template-columns: 320px 318px 1fr
	}
	@include respond-below(lg) {
		@include respond-above(sm) {
			grid-template-columns: 1fr 331px;
			grid-template-rows: auto 69px auto;
			margin-top: -161px;
			padding-left: 40px;
		}
	}
	
	@include respond-below(md) {
		@include respond-above(sm) {
		    grid-template-columns: 1fr 241px;
    		grid-template-rows: auto 59px auto;
    		padding-left: 0;
		}
	}

	@include respond-below(sm) {
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 50px 0;
	}
	&__text {
		grid-column: 1/2;
		
		@include respond-below(lg) {
			@include respond-above(sm) {
				grid-column: 1/3;
				grid-row: 3/4;
			}
		}

		@include respond-below(sm) {
			grid-column: 1/2;
			grid-row: 2/3;
			font-size: 14px;
		}
		
		@extend %text__sm;
		font-weight: 400;
		
		color: rgba(255,255,255,.7);
		
		padding-right: 20px;
		

		@include respond-below(xl) {
			padding-right: 28px;
		}

		@include respond-below(md) {
			padding-right: 0;
		}
	}

	.s-block {
		grid-column: 3/4;
		
		@include respond-below(lg) {
			@include respond-above(sm) {
				grid-column: 2/3;
				grid-row: 1/2;
			}
		}

		@include respond-below(sm) {
			grid-column: 1/2 !important;
			grid-row: 1/2 !important;
		}
	}
}