include ../socials/socials.pug

mixin footerCopyright()
	.footer-copyright
		small.footer-copyright__text © ООО «Virney» 2019. Все права защищены. Указанная стоимость товаров и условия их приобретения действительны на текущую дату.
		+socials()