.item-compare {
	width: 255px;
	height: auto;
	position: relative;

	@include respond-below(xl) {
		width: 210px;
	}
	@include respond-below(md) {
		width: 240px;
	}
	@include respond-below(sm) {
		width: 130px;
	}
	
	&__image {
		background: #FFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		height: 255px;
		max-width: 100%;
		@include respond-below(xl) {
			height: 210px;
		}
		@include respond-below(md) {
			height: 240px;
		}
		@include respond-below(sm) {
			height: 130px;
		}

		&-buttons {
			@include respond-below(sm) {
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: space-between;
				        justify-content: space-between;
				-webkit-align-items: flex-start;
				        align-items: flex-start;
				    
				margin-top: 30px;
			}
		}
		
		picture {
			min-width: 100%;
			width: auto;
			height: auto;
			max-width: 100%;
			flex: 0 0 auto;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
			}
		}
	}

	&_liked {
		.item-compare__like {
			background: #FFF;
			.icon {
				.heart {
					opacity: 0;
					&_colored {
						opacity: 1;
					}
				}
			}
		}

		&_disselect {
			.item-compare__like {
				border: 1px solid #eaeaea;
				
				&:hover {
					.icon {
						.disselect {
							color: #999;
						}
					}
				}
				.icon {
					.heart {
						&, &_colored {
							opacity: 0;
						}
					}
					.disselect {
						opacity: 1;
					}
				}
			}
		}
	}

	&_added {
		.item-compare__bag {
			.icon {
				&:after {
					background: #FF9900;
					width: 6px;
					height: 6px;
					display: block;
					content: "";
					
					-webkit-border-radius: 50px;
					        border-radius: 50px;
					
					position: absolute;
					top: 12px;
					right: 6px;
				}
				.empty-bag {
					opacity: 0;
				}
				.full-bag {
					opacity: 1;
				}
			}
		}	
		&_disselect {
			.item-compare__bag {
				background: #FFF;
				border: 1px solid #eaeaea;

				&:hover {
					background: #FFF;
					.icon {
						.disselect {
							color: #999;
						}
					}
				}
				.icon {
					.empty-bag, .full-bag {
						opacity: 0;
					}
					.disselect {
						opacity: 1;
					}
				}
			}
		}
	}

	&__like {
		position: absolute;
		bottom: 20px;
		left: 20px;
		
		@include respond-below(sm) {
			position: static;
		}

		width: 50px;
		height: 50px;
		max-width: 50px;
		flex: 0 0 50px;
		
		background: rgba(255,255,255,.8);
		cursor: pointer;
		
		border: 1px solid #eaeaea;
		
		&:hover {
			background: #FFF;
			border: 1px solid #bdbdbd;
			.icon {
				.heart {
					color: #999;
				}
			}
		}
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		-webkit-transition: border-color .3s linear, background .3s linear;
		   -moz-transition: border-color .3s linear, background .3s linear;
		    -ms-transition: border-color .3s linear, background .3s linear;
		     -o-transition: border-color .3s linear, background .3s linear;
		        transition: border-color .3s linear, background .3s linear;
		
		.icon {
			width: 22px;
			height: 22px;
			margin-top: 4px;
    		position: relative;
			.heart {
				width: 100%;
				height: 100%;
				color: #BDBDBD;
				-webkit-transition: opacity .3s linear, color .3s linear;
				   -moz-transition: opacity .3s linear, color .3s linear;
				    -ms-transition: opacity .3s linear, color .3s linear;
				     -o-transition: opacity .3s linear, color .3s linear;
				        transition: opacity .3s linear, color .3s linear;
				&_colored {
					color: $red;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					-webkit-transition: opacity .3s linear, color .3s linear;
					   -moz-transition: opacity .3s linear, color .3s linear;
					    -ms-transition: opacity .3s linear, color .3s linear;
					     -o-transition: opacity .3s linear, color .3s linear;
					        transition: opacity .3s linear, color .3s linear;
				}
			}

			.disselect {
				position: absolute;
				width: 15px;
				height: 15px;
				top: 2px;
				left: 3px;

				color: #bdbdbd;
				
				opacity: 0;
				
				-webkit-transition: opacity .3s linear, color .3s linear;
				   -moz-transition: opacity .3s linear, color .3s linear;
				    -ms-transition: opacity .3s linear, color .3s linear;
				     -o-transition: opacity .3s linear, color .3s linear;
				        transition: opacity .3s linear, color .3s linear;
			}
		}

		@include respond-below(lg) {
			height: 50px;
			width: 50px;
			border: 1px solid #EAEAEA;
		}
	}

	&__compare {
		position: absolute;
		right: 20px;
		top: 20px;

		width: 50px;
		height: 50px;
		max-width: 50px;
		flex: 0 0 50px;
		
		background: rgba(255,255,255,.8);
		border: 1px solid #eaeaea;
		cursor: pointer;
		
		-webkit-transition: border-color .3s linear, background .3s linear;
		   -moz-transition: border-color .3s linear, background .3s linear;
		    -ms-transition: border-color .3s linear, background .3s linear;
		     -o-transition: border-color .3s linear, background .3s linear;
		        transition: border-color .3s linear, background .3s linear;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		&:hover {
			background: #FFF;
			border: 1px solid #bdbdbd;
			.disselect {
				color: $redDark;
			}
		}
		
		.disselect {
			width: 13px;
			height: 15px;
			color: $red;
			
			margin-left: 1px;

			@include respond-below(sm) {
				width: 14px;
				height: 12px;
				
				margin-top: 2px;

			}
			
			-webkit-transition: color .3s linear;
			   -moz-transition: color .3s linear;
			    -ms-transition: color .3s linear;
			     -o-transition: color .3s linear;
			        transition: color .3s linear;
		}

		@include respond-below(sm) {
			width: 30px;
			height: 30px;
			max-width: 30px;
			flex: 0 0 30px;
			
			top: 10px;
			right: 10px;
		}
	}

	&__bag {
		width: 50px;
		max-width: 50px;
		height: 50px;
		flex: 0 0 50px;
		padding-bottom: 1px;
		
		
		cursor: pointer;
		background: #7264C0;
		position: relative;
		
		position: absolute;
		right: 20px;
		bottom: 20px;
		
		@include respond-below(sm) {
			position: static;
		}
		
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		-webkit-transition: background .3s linear;
		   -moz-transition: background .3s linear;
		    -ms-transition: background .3s linear;
		     -o-transition: background .3s linear;
		        transition: background .3s linear;
		
		&:hover {
			background: $purpleDark;
		}
		
		.icon {
			width: 19.58px;
			height: 23px;
			color: #fff;
			
			position: relative;
			
			.full-bag {
				opacity: 0;
				position: absolute;
				top: 0;
				right: -1px;
				width: 20px;
				height: 24px;
				
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}
			.empty-bag {
				-webkit-transition: opacity .3s linear;
				   -moz-transition: opacity .3s linear;
				    -ms-transition: opacity .3s linear;
				     -o-transition: opacity .3s linear;
				        transition: opacity .3s linear;
			}

			.disselect {
				position: absolute;
				width: 15px;
				height: 15px;
				top: 5px;
				left: 3px;

				color: #bdbdbd;
				
				opacity: 0;
				
				-webkit-transition: opacity .3s linear, color .3s linear;
				   -moz-transition: opacity .3s linear, color .3s linear;
				    -ms-transition: opacity .3s linear, color .3s linear;
				     -o-transition: opacity .3s linear, color .3s linear;
				        transition: opacity .3s linear, color .3s linear;
			}
		}
	}

}