.header {
	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;

	padding-bottom: 40px;

	position: relative;
	z-index: 15;
	
	@include respond-below(sm) {
		padding-bottom: 30px;
	}
	.menu {
		margin-top: 40px;
		@include respond-below(sm) {
			margin-top: 0;
		}
	}
}