.navbar {
	background: $dark;
	
	width: 100%;
	height: 40px;
	
	@include respond-below(sm) {
		height: 50px;
	}

	&__container {
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
		
		position: relative;
	}
	
	&__info {
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		@include respond-below(sm) {
			flex: 0 0 auto;
			margin-right: 12px;
		}
		
		.menu-city {
			height: 100%;
			
			@include respond-below(sm) {
				display: none;
			}
		}

		.logotype {
			width: 76px;
			height: auto;
			
			margin-top: 5px;
			margin-right: 80px;
			
			@include respond-below(lg) {
				margin-right: 72px;
			}
			@include respond-below(md) {
				margin-right: 36px;
			}
			@include respond-below(sm) {
				margin-right: 0;
			}
		}
	}

	&__links {
		height: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(sm) {
			display: none;
		}


		.navbar__icon {
			margin-left: 74px;
			@include respond-below(md) {
				margin-left: 38px;
			}
		}
		.navbar__single-link {

			&:not(:first-of-type) {
				margin-left: 86px;
				
				@include respond-below(lg) {
					margin-left: 71px;
				}
				@include respond-below(md) {
					margin-left: 35px;
				}
			}
		}
	}
	
	&__account {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		
		-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
		   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
		    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
		     -o-transition: visibility 0s linear .3s, opacity .3s linear;
		        transition: visibility 0s linear .3s, opacity .3s linear;
		
		&_opened {
			-webkit-transition: visibility 0s linear 0s, opacity .3s linear;
			   -moz-transition: visibility 0s linear 0s, opacity .3s linear;
			    -ms-transition: visibility 0s linear 0s, opacity .3s linear;
			     -o-transition: visibility 0s linear 0s, opacity .3s linear;
			        transition: visibility 0s linear 0s, opacity .3s linear;
		    
		    opacity: 1;
		    visibility: visible;
		    pointer-events: auto;
		    -webkit-user-select: auto;
		       -moz-user-select: auto;
		        -ms-user-select: auto;
		            user-select: auto;
		}

		position: absolute;
		right: 15px;
		top: 55px;
		z-index: 3;
		
		background: #FFFFFF;
		box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
		border-radius: 4px;
		
		width: 380px;
		height: 120px;
		
		overflow: hidden;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		padding: 40px 30px;
		
		&--cross {
			position: absolute;
			right: 15px;
			top: 15px;
			
			.icon {
				font-size: 16px;			
				color: #bdbdbd;
			}
		}

		@include respond-below(sm) {
			display: none;
		}
	}

	&__signin {
		width: 106px;
		max-width: 106px;
		flex: 0 0 106px;
		
		@extend %text__md;
		font-weight: 500;
		
		margin-right: 30px;

		height: 40px;
	}

	&__signup {
		@extend %text__md;
		font-weight: 500;
		
		color: $purple;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&:hover {
			color: $purpleDark;
		}
	}

	&__single-link {
		color: #fff;
		cursor: pointer;
		
		@extend %text__sm;
		font-weight: 500;
		
		position: relative;
		
		&:before {
			@extend %text__xs;
			display: none;
		}
		@include respond-below(sm) {
			&:before {
				font-weight: 500;
				
				background: $orange;
				color: #fff;
				line-height: 20px;
				text-align: center;
	
				display: block;
				content: attr(data-items);
				width: auto;
				height: 20px;
				-webkit-border-radius: 10px;
				        border-radius: 10px;
				
				position: absolute;
				top: -9px;
				left: 14px;
				
				padding: 0 7px;
			}
		}
		
		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;
		
		&:hover {
			opacity: .7;
		}
	}

	&__icon {
		color: #fff;
		line-height: 1;
		
		-webkit-transition: opacity .3s linear;
		   -moz-transition: opacity .3s linear;
		    -ms-transition: opacity .3s linear;
		     -o-transition: opacity .3s linear;
		        transition: opacity .3s linear;
		
		&:before {
			display: block;
			content: attr(data-items);
			width: auto;
			height: 20px;
			-webkit-border-radius: 10px;
			        border-radius: 10px;
			
			position: absolute;
			top: -7px;
			left: 10px;
			
			padding: 0 7px;
		}
		
		&:hover {
			opacity: .7;
		}
		
		.user {
			margin-top: 3px;

			width: 17px;
			font-size: 1em;
			max-height: 100%;
			color: inherit;
		}
	}
	
	// Mobile only
	&__hamburger {
		flex: 0 0 50px;
		width: 50px;
		height: 100%;
		
		background: $purple;
		cursor: pointer;

		position: relative;
		left: -15px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		.icon {
			color: #fff;
			
			width: 20px;
			height: 14px;
			flex: 0 0 20px;
		}
	}

	&__mobile {
		flex: 1 1 auto;
		height: 100%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		
		.navbar__single-link {
			margin-right: 40px;
			margin-top: 8px;
		}

		.shopbag {
			margin-right: 28px;
			margin-bottom: 1px;
		}

		.icon {
			color: #fff;
		}
		
		.heart {
			width: 22px;
			height: 20px;
		}
		.scales {
			width: 16px;
			height: 20px;
		}
		.shopbag {
			
		}
	}

	&__hamburger, &__mobile {
		@include respond-above(sm) {
			display: none;
		}
	}
}