include ../logo/logo.pug
include ../menuCity/menuCity.pug
include ../shopBag/shopBag.pug
include ../icon/icon.pug

mixin navbar()
	nav.navbar
		.container.navbar__container
			.navbar__hamburger.js__menu-open
				+icon('hamburger')
			.navbar__info
				+logo()
				+menuCity()
			.navbar__links
				a.navbar__single-link(href="javascript:void(0)") Доставка
				a.navbar__single-link(href="javascript:void(0)") Оплата
				a.navbar__single-link(href="javascript:void(0)") Возврат
				a.navbar__icon.navbar__account--open(href="javascript:void(0)")
					+icon('user')
				.navbar__account
					a.button.navbar__signin(href="javascript:void(0)") Войти
					a.navbar__signup(href="javascript:void(0)") Зарегистрироваться
					a.navbar__account--cross(href="javascript:void(0)")
						+icon('cross')
			.navbar__mobile
				a.navbar__single-link(href="javascript:void(0)", data-items="277")
					+icon('heart')
				a.navbar__single-link(href="javascript:void(0)", data-items="277")
					+icon('scales')
				+shopBag()