include ../icon/icon.pug

mixin itemsPreview(preview)
	.items-preview
		.items-preview__cross
			+icon('cross')
		.items-preview__title #{preview.title}
		.items-preview__body.scrolled
			.items-preview__item
				.items-preview__item--image
					picture
						source(type="image/webp" srcset="./assets/images/content/items/item1.webp")
						source(type="image/png" srcset="./assets/images/content/items/item1.png")
						img(src='./assets/images/content/items/item1.png', alt="Rest Spa")
				.items-preview__item--info
					a.items-preview__item--category(href="javascript:void(0)") Ванны
					a.items-preview__item--name(href="javascript:void(0)") Rest Spa
					a.items-preview__item--delete(href="javascript:void(0)") Удалить
				.items-preview__item--price
					span.items-preview__item--old-price 25 900 ₽
					span.items-preview__item--new-price 21 800 ₽
			.items-preview__item
				.items-preview__item--image
					picture
						source(type="image/webp" srcset="./assets/images/content/items/item2.webp")
						source(type="image/png" srcset="./assets/images/content/items/item2.png")
						img(src='./assets/images/content/items/item2.png', alt="Rest Spa")
				.items-preview__item--info
					a.items-preview__item--category(href="javascript:void(0)") Ванны
					a.items-preview__item--name(href="javascript:void(0)") Rest Spa
					a.items-preview__item--delete(href="javascript:void(0)") Удалить
				.items-preview__item--price
					span.items-preview__item--new-price 21 800 ₽
			.items-preview__item
				.items-preview__item--image
					picture
						source(type="image/webp" srcset="./assets/images/content/items/item3.webp")
						source(type="image/png" srcset="./assets/images/content/items/item3.png")
						img(src='./assets/images/content/items/item3.png', alt="Rest Spa")
				.items-preview__item--info
					a.items-preview__item--category(href="javascript:void(0)") Ванны
					a.items-preview__item--name(href="javascript:void(0)") Acquazzurra 80x100 STI DX Rest Spa Acquazzurra STI DX...
					a.items-preview__item--delete(href="javascript:void(0)") Удалить
				.items-preview__item--price
					span.items-preview__item--new-price 21 800 ₽
			.items-preview__item
				.items-preview__item--image
					picture
						source(type="image/webp" srcset="./assets/images/content/items/item2.webp")
						source(type="image/png" srcset="./assets/images/content/items/item2.png")
						img(src='./assets/images/content/items/item2.png', alt="Rest Spa")
				.items-preview__item--info
					a.items-preview__item--category(href="javascript:void(0)") Ванны
					a.items-preview__item--name(href="javascript:void(0)") Rest Spa
					a.items-preview__item--delete(href="javascript:void(0)") Удалить
				.items-preview__item--price
					span.items-preview__item--old-price 25 900 ₽
					span.items-preview__item--new-price 21 800 ₽
			.items-preview__item
				.items-preview__item--image
					picture
						source(type="image/webp" srcset="./assets/images/content/items/item1.webp")
						source(type="image/png" srcset="./assets/images/content/items/item1.png")
						img(src='./assets/images/content/items/item1.png', alt="Rest Spa")
				.items-preview__item--info
					a.items-preview__item--category(href="javascript:void(0)") Ванны
					a.items-preview__item--name(href="javascript:void(0)") Acquazzurra 80x100 STI DX Rest Spa Acquazzurra STI DX...
					a.items-preview__item--delete(href="javascript:void(0)") Удалить
				.items-preview__item--price
					span.items-preview__item--new-price 21 800 ₽
		footer.items-preview__footer
			a.button.items-preview__button(href="javascript:void(0)") #{preview.button}
			if preview.summary
				.items-preview__summary #{preview.summary}