.items-preview {
	
	width: 468px;
	height: 470px;
	
	background: #FFFFFF;
	box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
	border-radius: 4px;
	
	overflow: hidden;
	
	position: absolute;
	z-index: 3;
	right: 0;
	top: 55px;
	
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	
	-webkit-transition: visibility 0s linear .3s, opacity .3s linear;
	   -moz-transition: visibility 0s linear .3s, opacity .3s linear;
	    -ms-transition: visibility 0s linear .3s, opacity .3s linear;
	     -o-transition: visibility 0s linear .3s, opacity .3s linear;
	        transition: visibility 0s linear .3s, opacity .3s linear;
	
	&_opened {
		visibility: visible;
		opacity: 1;
		pointer-events: auto;
		-webkit-user-select: auto;
		   -moz-user-select: auto;
		    -ms-user-select: auto;
		        user-select: auto;
		
		-webkit-transition: visibility 0s linear 0s, opacity .3s linear;
		   -moz-transition: visibility 0s linear 0s, opacity .3s linear;
		    -ms-transition: visibility 0s linear 0s, opacity .3s linear;
		     -o-transition: visibility 0s linear 0s, opacity .3s linear;
		        transition: visibility 0s linear 0s, opacity .3s linear;
	}

	display: flex;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: stretch;
	        align-items: stretch;
	
	padding: 35px 30px 30px 30px;
	
	&__body {
		flex: 1 1 auto;
		
		margin: 30px 0;
		
		margin-right: -25px;
		padding-right: 25px;
		
		.simplebar-wrapper {
			height: 100%;
		}
	}
	
	&__title {
		font-family: Cera Pro;
		font-style: normal;
		font-weight: 500;
		font-size: 21px;
		line-height: 24px;
		
		color: $dark;
		
		flex: 0 0 auto;
	}
	
	&__cross {
		position: absolute;
		top: 15px;
		right: 15px;
		
		cursor: pointer;
		.icon {
			color: #bdbdbd;
			font-size: 16px;
		}
	}

	&__footer {
		flex: 0 0 40px;
		height: 40px;
		width: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: center;
		        align-items: center;
	}
	
	&__button {
		flex: 0 0 auto;
		width: auto;
		
		height: 40px;
		padding: 0 30px;
		
		@extend %text__md;
		font-weight: 500;
		
	}

	&__item {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: stretch;
		        align-items: stretch;
		
		height: 80px;
		width: 100%;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--image {
			width: 80px;
			flex: 0 0 80px;
			height: 80px;
			border: 1px solid #EAEAEA;
			background: #FFF;
			border-radius: 4px;
			overflow: hidden;
			
			img {
				display: block;
			}
			
			margin-right: 20px;
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: center;
			        align-items: center;
		}

		&--info {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: center;
			        justify-content: center;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			flex: 1 1 auto;
		}

		&--category {
			@extend %text__xs;
			font-weight: 400;
			
			color: #999999;
		}

		&--name {
			@extend %text__md;
			font-weight: 400;
			
			color: $dark;
		}

		&--delete {
			@extend %text__xs;
			font-weight: 400;
			
			color: #FF626D;
		}

		&--price {
			flex: 1 1 auto;
			white-space: nowrap;
			
			text-align: right;
			-webkit-align-self: center;
			        align-self: center;
			
			margin-left: 15px;
		}

		&--new-price {
			@extend %text__md;
			font-weight: 500;
			
			color: $dark;
		}
		&--old-price {
			@extend %text__md;
			font-weight: 500;
			
			color: #999999;
			
			margin-right: 15px;
			text-decoration-line: line-through;
			
		}
	}

	&__summary {
		float: right;
		font-family: Cera Pro;
		font-style: normal;
		font-weight: bold;
		font-size: 21px;
		line-height: 33px;
		
		color: $dark;
	}
}