include ../icon/icon.pug

mixin cartItem(item)
	.cart-item
		.cart-item__image
			picture
				source(type="image/webp" srcset=item.image+".webp")
				source(type="image/png" srcset=item.image+".png")
				img(src=item.image+'.png', alt=item.name)
		.cart-item__category #{item.category}
		.cart-item__name #{item.name}
		.cart-item__price
			.cart-item__price-title Сумма
			.cart-item__price-old #{item.oldPrice}
			.cart-item__price-new #{item.newPrice}
		.cart-item__amount
			a.cart-item__amount-minus(href="javascript:void(0)")
				+icon('minus')
			input.cart-item__amount-input(value=item.amount type="number" name="price" readonly="readonly")
			a.cart-item__amount-plus(href="javascript:void(0)")
				+icon('plus')
		a.cart-item__delete(href="javascript:void(0)") Удалить