.cart-item {
	width: 100%;
	height: 140px;
	flex: 0 0 140px;
	max-height: 140px;
	
	overflow: hidden;
	
	background: #FFFFFF;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
	border-radius: 4px;
	
	display: grid;
	grid-template-columns: 141px 1fr auto auto;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 14px 30px;
	
	@include respond-below(lg) {
		height: 201px;
		flex: 0 0 201px;
		max-height: 201px;
		
		grid-template-columns: 141px auto 1fr;
		grid-template-rows: auto 1fr auto 61px;
		grid-gap: 0;
	}

	@include respond-below(sm) {
		height: 295px;
		flex: 0 0 295px;
		max-height: 295px;
		
		grid-template-columns: 110px 1fr;
		grid-template-rows: 109px auto auto auto 61px;
	}

	& + & {
		margin-top: 15px;
	}

	&__image {
		grid-row: 1/4;
		grid-column: 1/2;
		
		height: 100%;
		width: 100%;
		
		@include respond-below(sm) {
			grid-row: 1/2;
		}
		
		border-right: 1px solid #EAEAEA;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		overflow: hidden;
		picture, img {
			max-width: 100%;
			max-height: 100%;
			display: block;
		}
	}

	&__category {
		grid-row: 1/2;
		grid-column: 2/3;
		
		@extend %text__sm;
		font-weight: 400;
		
		color: #999;
		
		-webkit-align-self: center;
		        align-self: center;
		
		padding-top: 17px;
		
		@include respond-below(lg) {
			padding-top: 20px;
    		padding-left: 15px;
		}

		@include respond-below(sm) {
			grid-column: 1/3;
			grid-row: 2/3;
			border-top: 1px solid #eaeaea;
			margin-top: -4px;
			padding-top: 17px;
		}
	}

	&__name {
		grid-row: 2/3;
		grid-column: 2/3;
		
		font-family: Cera Pro;
		font-weight: 500;
		font-size: 21px;
		line-height: 33px;

		color: $dark;
		padding-bottom: 20px;
		
		@include respond-below(lg) {
			padding-left: 15px;
			padding-bottom: 0;
			-webkit-align-self: center;
			        align-self: center;
		}

		@include respond-below(md) {
			font-size: 16px;
			line-height: 24px;
			margin-top: 4px;
		}

		@include respond-below(sm) {
			grid-row: 3/4;
			grid-column: 1/3;
		}
	}

	&__price {
		grid-row: 1/3;
		grid-column: 4/5;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		
		padding-right: 30px;
		padding-bottom: 15px;
		
		margin-left: -8px;
		
		
		@include respond-below(lg) {
			grid-row: 3/4;
			grid-column: 2/4;
			
			margin-left: 0;
			padding-right: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		}
		
		@include respond-below(md) {
			padding-bottom: 20px;
		}

		@include respond-below(sm) {
			grid-row: 4/5;
			grid-column: 1/3;
			padding-bottom: 14px;
		}

		&-title {
			flex: 0 0 100%;
			text-align: right;
			
			color: #999;
			@extend %text__sm;
			
			margin-top: 15px;
			

			@include respond-below(lg) {
				margin-top: 0;
				flex: 1 1 auto;
				text-align: left;
			}		
			
		}

		&-old {
			text-decoration-line: line-through;
			@extend %text__md;
			font-weight: 400;
			color: #999;
			
			margin-right: 22px;
		}

		&-new {
			font-family: Cera Pro;
			font-style: normal;
			font-weight: 500;
			font-size: 21px;
			line-height: 33px;
			
			@include respond-below(md) {
				font-size: 16px;
					line-height: 24px;
			}
			
			color: $dark;
		}
	}

	&__amount {
		grid-row: 2/3;
		grid-column: 3/4;
		
		
		margin-top: -3px;
		
		@include respond-below(lg) {
			grid-column: 1/4;
			grid-row: 4/5;
			
			border-top: 1px solid #EAEAEA;
			margin-top: 0;
			
			display: flex;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			
			padding: 0 30px;
		}

		@include respond-below(sm) {
			grid-row: 5/6;
		}

		&-input {
			border: 1px solid #EAEAEA;
			border-radius: 4px;
			
			height: 40px;
			width: 40px;
			text-align: center;
			
			@extend %text__md;
			font-weight: 500;
			
			color: $dark;
		}
		
		&-minus {
			margin-right: 26px;
			.icon {
				font-size: 2px;
				margin-bottom: 4px;
				
				color: $red;
				
				-webkit-transition: color .3s linear;
				   -moz-transition: color .3s linear;
				    -ms-transition: color .3s linear;
				     -o-transition: color .3s linear;
				        transition: color .3s linear;
			}

			&:hover {
				.icon {
					color: $redDark;
				}
			}
		}
		&-plus {
			margin-left: 25px;
			.icon {
				font-size: 20px;
				margin-bottom: -5px;
				
				color: $purple;
				
				-webkit-transition: color .3s linear;
				   -moz-transition: color .3s linear;
				    -ms-transition: color .3s linear;
				     -o-transition: color .3s linear;
				        transition: color .3s linear;
			}

			&:hover {
				.icon {
					color: $purpleDark;
				}
			}
		}
	}

	&__delete {
		grid-row: 3/4;
		grid-column: 4/5;
		@extend %text__sm;
		font-weight: 400;
		
		color: $red;
		
	    text-align: right;
    	padding-right: 30px;
    	position: relative;
    	bottom: 20px;
		
		@include respond-below(lg) {
			grid-row: 1/2;
			grid-column: 3/4;
			top: 20px;
			padding-right: 15px;
		}

		@include respond-below(sm) {
			grid-column: 2/3;
			top: 0;
			-webkit-align-self: center;
			        align-self: center;
			justify-self: end;
		}
		
	}
}