include ../icon/icon.pug

mixin carousel(carousel)
	.carousel(class=carousel.className)
		if carousel.titleLink
			h3.title(class=carousel.titleClasses)
				a(href=carousel.titleLink) #{carousel.title}
				+icon('arrow-down')
		else
			h3.title(class=carousel.titleClasses) #{carousel.title}
		.carousel__track
			block
