.carousel {
	
	.title {
		margin-left: 8px;
		margin-bottom: 43px;
		@include respond-below(md) {
			margin-bottom: 33px;
		}

		&_centered {
			margin-left: 0;
		}
	}

	position: relative;
	.carousel__track {
		position: static;
	}
	
	.carousel__arrow {
		width: 50px;
		height: 50px;
		
		position: absolute;
		top: 0;
		z-index: 10;
		
		&.carousel__arrow_prev {
			right: 80px;
			svg {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
		&.carousel__arrow_next {
			right: 0;
		}
	}

	&.carousel_single-line {

		@include respond-below(sm) {
			text-align: center;
		}

		.slick-list {
			margin-top: -15px;
			padding-top: 15px;
		}
		
		.title {
			margin-bottom: 90px;
			@include respond-below(xl) {
				margin-bottom: 74px;
			}
			@include respond-below(lg) {
				margin-bottom: 60px;
			}
			@include respond-below(sm) {
				margin-bottom: 52px;
			}
		}

		.carousel__track {
			@include respond-below(sm) {
				-ms-overflow-x: scroll;
				    overflow-x: scroll;
		    	display: flex;
		    	-webkit-flex-direction: row;
		    	    -ms-flex-direction: row;
		    	        flex-direction: row;
		    	-webkit-justify-content: flex-start;
		    	        justify-content: flex-start;
		    	-webkit-align-items: center;
		    	        align-items: center;
		    	&::-webkit-scrollbar { 
    				display: none; 
				}
				scrollbar-width: none;
			}
		}

		.carousel__single-item {
			display: flex !important;
			-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			        flex-direction: row;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			
			a {
				filter: grayscale(100%);
				
				-webkit-transition: filter .3s linear;
				   -moz-transition: filter .3s linear;
				    -ms-transition: filter .3s linear;
				     -o-transition: filter .3s linear;
				        transition: filter .3s linear;
				
				&:hover {
					filter: grayscale(0);
				}
			}

			.icon {
				font-size: 30px;
				@include respond-below(lg) {
					font-size: 25px;
				}
				@include respond-below(md) {
					font-size: 22px;
				}
				color: #B5B5C1;
				
				@include respond-below(sm) {
					font-size: 34px;
					margin-right: 65px;
				}
			}
		}

	}

	&.carousel_one-direction {
		
		.carousel__arrow {
			top: calc(50% - 13px);
			&.carousel__arrow_prev {
				display: none !important;
			}
			&.carousel__arrow_next {
				right: 0;
			}
		}

		@include respond-below(sm) {
			width: calc(100% + 15px);
			margin-right: -15px;
			
			.carousel__track {
				overflow: hidden;
			}
		}
		.slick-list {
			padding-right: 100px;
			margin: 0 -15px;
			
			@include respond-below(xl) {
				padding-right: 80px;
			}
			@include respond-below(lg) {
				padding-right: 60px;
			}
			@include respond-below(md) {
				margin: 0 -10px;
				padding-right: 50px;
			}
			@include respond-below(sm) {
				margin: 0 -7.5px;
				padding-right: 50px;
			}

			padding-top: 15px;
			margin-top: -15px;
		}
		.slick-slide {
			margin: 0 15px;
			@include respond-below(md) {
				margin: 0 10px;
			}
			@include respond-below(sm) {
				margin: 0 7.5px;
			}
		}
	}

	&.carousel_classic, &.carousel_short-classic {
		
		.slick-list {
			margin: 0 -15px;
			padding-bottom: 40px;
			
			margin-top: -15px;
			padding-top: 15px;
		}
		.slick-slide {
			margin: 0 15px;
		}

		@include respond-below(sm) {
			text-align: center;
			.title {
				margin-left: 0;
				max-width: 90%;
			}

			.slick-list {
				padding-right: 15px;
				margin: 0 -15px 0 0;
			}
			.slick-slide {
				margin: 0 15px 0 0;
				margin-top: -15px;
				padding-top: 15px;
			}
		}

	}
}