mixin categoryItem(item)
	a.category-item(href="javascript:void(0)")
		.category-item__image
			picture
				source(type="image/webp" srcset=item.image+".webp")
				source(type="image/png" srcset=item.image+".png")
				img(src=item.image+'.png', alt=item.name)
		.category-item__text #{item.name}