.category-item {
	display: flex !important;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: center;
	        align-items: center;
	
	-webkit-transition: transform .3s linear;
	   -moz-transition: transform .3s linear;
	    -ms-transition: transform .3s linear;
	     -o-transition: transform .3s linear;
	        transition: transform .3s linear;
	    
	&__image {
		width: 230px;
		height: 200px;
		
		@include respond-below(xl) {
			width: 190px;
			height: 160px;
		}
		@include respond-below(md) {
			width: 140px;
			height: 120px;
			padding: 0 27px;
		}
		@include respond-below(sm) {
			width: 130px;
			height: 110px;
			padding: 0 15px;
		}
		
		background: #FFF;
		box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
		border-radius: 4px;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		overflow: hidden;
		
		-webkit-transition: box-shadow .3s linear;
		   -moz-transition: box-shadow .3s linear;
		    -ms-transition: box-shadow .3s linear;
		     -o-transition: box-shadow .3s linear;
		        transition: box-shadow .3s linear;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__text {
		@extend %text__md;
		font-weight: 500;
		margin-top: 30px;
		color: $dark;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		@include respond-below(md) {
			margin-top: 20px;
		}
		@include respond-below(sm) {
			font-size: 14px;
			line-height: 22px;
		}
	}

	&:hover {
		-webkit-transform: translateY(-5px);
		   -moz-transform: translateY(-5px);
		    -ms-transform: translateY(-5px);
		     -o-transform: translateY(-5px);
		        transform: translateY(-5px);
		.category-item__image {
			box-shadow: 0px 12px 40px rgba(33, 42, 67, 0.1);
		}

		.category-item__text {
			color: $purple;
		}
	}
}
