.checkbox {
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-start;
	        justify-content: flex-start;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	
	input {
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
	    position: absolute;
  		opacity: 0;
  		cursor: pointer;
  		height: 0;
  		width: 0;
  		
  		&:checked ~ .checkbox__marker {
  			.icon {
  				opacity: 1;
  				
  			}
  		}
	}

	&__marker {
		width: 20px;
		height: 20px;
		flex: 0 0 20px;
		max-width: 20px;
		margin-right: 15px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;

		background: #FFFFFF;
		border-radius: 4px;
		
		.icon {
			font-size: 12px;
			color: #418AEC;
			
			opacity: 0;
			-webkit-transition: opacity .3s ease-in-out;
			   -moz-transition: opacity .3s ease-in-out;
			    -ms-transition: opacity .3s ease-in-out;
			     -o-transition: opacity .3s ease-in-out;
			        transition: opacity .3s ease-in-out;
			will-change: opacity
		}
	}
	p {
		@extend %text__xs;
		font-weight: 400;
		color: #fff;
		
		position: relative;
		top: -5px;

		a {
			color: inherit;
			display: inline;
			border-bottom: 1px solid #fff; 
		}
	}
}