include ../icon/icon.pug

mixin checkbox(checkbox)
	label.checkbox(for=checkbox.id)
		input(type="checkbox" checked="checked" id=checkbox.id name=checkbox.name)
		span.checkbox__marker
			+icon('check')
		block
