include ../icon/icon.pug
include ../catalogDialog/catalogDialog.pug

mixin catalogButton()
	.catalog-button
		.catalog-button__inner
			.catalog-button__icon
				+icon('hamburger')
			.catalog-button__text Каталог товаров
		+catalogDialog()