.catalog-button {
	position: relative;
	&__inner {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: stretch;
		        align-items: stretch;

		height: 100%;
		width: 100%;
		
		
		&:hover, &:active, &_active {
			.catalog-button__icon {
				background: $purpleDark;
				border-color: $purpleDark;
			}
			.catalog-button__text {
				color: $purple;
			}
		}
		cursor: pointer;
	}
	    

	&__icon {
		background: $purple;
		border: 1px solid $purple;
		color: #fff;
		-webkit-border-top-left-radius: 4px;
		        border-top-left-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		        border-bottom-left-radius: 4px;
		
		-webkit-transition: background .3s linear, border-color .3s linear;
		   -moz-transition: background .3s linear, border-color .3s linear;
		    -ms-transition: background .3s linear, border-color .3s linear;
		     -o-transition: background .3s linear, border-color .3s linear;
		        transition: background .3s linear, border-color .3s linear;
		
		@include respond-below(md) {
			@include respond-above(sm) {
				-webkit-border-radius: 4px;
			    	    border-radius: 4px;
			}
		}
		
		width: 60px;
		height: 100%;
		flex: 0 0 60px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		.hamburger {
			color: inherit;
			width: 20px;
			height: 14px;
		}
	}

	&__text {
		@extend %text__md;
		font-weight: 500;
		
		color: $dark;
		background: #FFF;
		border: 1px solid #EAEAEA;
		border-left: none;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		flex: 1 1 auto;
		width: calc(100% - 60px);
		-webkit-border-top-right-radius: 4px;
		        border-top-right-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		        border-bottom-right-radius: 4px;
		height: 100%;
		padding-left: 20px;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(md) {
			@include respond-above(sm) {
				display: none;
			}
		}

		@include respond-below(sm) {
			border: none;
		}
	}
}