.footer {
	background: $dark;
	padding: 90px 0;
	
	overflow: hidden;
	
	
	@include respond-below(xl) {
		padding: 70px 0;
	}
	@include respond-below(lg) {
		@include respond-above(sm) {
			padding: 60px 0;
		}
	}

	@include respond-below(md) {
		padding: 50px 0;
	}
}