include ../icon/icon.pug

mixin socials()
	.s-block
		span.s-block__text Мы в соцсетях
		ul.s-block__list
			li.s-block__item(data-social="vk")
				a.s-block__link(href="javascript:void(0)")
					+icon('vk')
			li.s-block__item(data-social="instagram")
				a.s-block__link(href="javascript:void(0)")
					+icon('instagram')
			li.s-block__item(data-social="facebook")
				a.s-block__link(href="javascript:void(0)")
					+icon('facebook')
			li.s-block__item(data-social="odnoklassniki")
				a.s-block__link(href="javascript:void(0)")
					+icon('odnoklassniki')
