.s-block {
	&__text {
		@extend %text__sm;
		font-weight: 400;

		color: rgba(255,255,255,.7);
	}

	&__list {
		margin-top: 7px;
		
		@include respond-below(xl) {
			margin-top: 6px;
		}

		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		
		@include respond-below(sm) {
			margin-top: 7px;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		}
	}

	&__item {
		width: 32px;
		height: 32px;
		
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		border: 2px solid rgba(255,255,255,.7);
		
		-webkit-transition: border-color .3s linear, background .3s linear;
		   -moz-transition: border-color .3s linear, background .3s linear;
		    -ms-transition: border-color .3s linear, background .3s linear;
		     -o-transition: border-color .3s linear, background .3s linear;
		        transition: border-color .3s linear, background .3s linear;
		
		&[data-social="vk"]:hover {
			border: 2px solid #4A76A8;
			background: #4A76A8;
		}
		&[data-social="instagram"]:hover {
			border: 2px solid #833AB4;
			background: #833AB4;
		}
		&[data-social="facebook"]:hover {
			border: 2px solid #3C5A99;
			background: #3C5A99;
		}
		&[data-social="odnoklassniki"]:hover {
			border: 2px solid #ED812B;
			background: #ED812B;
		}
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		margin-right: 20px;
		
		@include respond-below(sm) {
			margin-right: 0;
		}
		
	}

	&__link {
		color: #fff;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		width: 100%;
		height: 100%;
		flex: 0 0 100%;
		padding-bottom: 3px;
		
		.icon {
			font-size: 12px;
			margin-top: 2px;
			&.vk {
				font-size: 7px;
				margin-bottom: -2px;
			}
			&.odnoklassniki {
    			width: 14px;
    			height: 14px;
			}
		}
	}
}