.footer-list {
	padding-right: 50px;
	
	@include respond-below(md) {
		padding-right: 0;
	}
	
	&__title {
		@extend %text__lg;
		font-weight: 500;
		
		color: #fff;
		
		margin-bottom: 18px;
		
		@include respond-below(sm) {
			display: flex;
			-webkit-flex-direction: row;
				-ms-flex-direction: row;
				    flex-direction: row;		
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			-webkit-align-items: center;
			        align-items: center;
			-webkit-transition: margin-bottom .3s linear;
			   -moz-transition: margin-bottom .3s linear;
			    -ms-transition: margin-bottom .3s linear;
			     -o-transition: margin-bottom .3s linear;
			        transition: margin-bottom .3s linear;
			margin-bottom: 0;
		}

		.icon {
			display: none;
			@include respond-below(sm) {
				display: block;
				color: #fff;
				width: 20px;
				height: 16px;
				-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
				-webkit-transition: transform .3s linear;
				   -moz-transition: transform .3s linear;
				    -ms-transition: transform .3s linear;
				     -o-transition: transform .3s linear;
				        transition: transform .3s linear;
				will-change: transform;
			}
		}

	}
	@include respond-below(sm) {
		&_opened {
			.footer-list__items {
				max-height: 500px;
			}
			.footer-list__title {
				margin-bottom: 18px;
				.icon {
					-webkit-transform: rotate(-90deg);
					   -moz-transform: rotate(-90deg);
					    -ms-transform: rotate(-90deg);
					     -o-transform: rotate(-90deg);
					        transform: rotate(-90deg);
				}
			}
		}
	}

	&_info {
		.footer-list__title {
			.icon {
				display: none !important;
			}
		}
	}

	&__items {
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		@include respond-below(sm) {
			-webkit-transition: max-height .5s ease-in-out;
			   -moz-transition: max-height .5s ease-in-out;
			    -ms-transition: max-height .5s ease-in-out;
			     -o-transition: max-height .5s ease-in-out;
			        transition: max-height .5s ease-in-out;
	    	max-height: 0;
	    	overflow: hidden;
		}
	}

	&__link {
		font-family: Cera Pro;
		font-weight: normal;
		font-size: 16px;
		line-height: 40px;
		
		color: rgba(255,255,255,.7);
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&:hover {
			color: #9E8CFF;
		}
	}
}