include ../icon/icon.pug

mixin footerList(list)
	.footer-list(class=list.className)
		h4.footer-list__title
			| #{list.title}
			+icon('arrow-down')
		if list.items
			ul.footer-list__items
				each item in list.items
					li.footer-list__single-item
						a.footer-list__link(href="javascript:void(0)") #{item}
		block