include ../icon/icon.pug

mixin breadcrumbs(crumbs)
	nav.breadcrumbs
		ul.breadcrumbs__list
			-var l = crumbs.length;
			-var i = 0;
			each item in crumbs
				-i++
				li.breadcrumbs__item
					a.breadcrumbs__link(href=item.link)
						| #{item.item}
						if i !== l
							span.breadcrumbs__icon
								+icon('arrow-down')
