.breadcrumbs {
	margin-bottom: 44px;
	
	padding-top: 29px;
	
	@include respond-below(lg) {
		padding-top: 25px;
	}

	&__list {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
	}

	&__item {
		&:not(:last-of-type) {
			margin-right: 9px;
		}

		&:last-of-type {
			.breadcrumbs__link {
				color: #000;
			}
		}

		@include respond-below(lg) {
			&:not(:nth-last-child(2)) {
				display: none;
			}
		}
	}

	&__link {
		@extend %text__xs;
		font-weight: 500;
		
		color: #999;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		

		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(lg) {
			color: $dark;
			font-size: 16px;
			-webkit-flex-direction: row-reverse;
			    -ms-flex-direction: row-reverse;
			        flex-direction: row-reverse;
		}

		&:hover {
			color: $purple;
		}
	}

	&__icon {
		margin-left: 8px;
		margin-top: 1px;
		
		@include respond-below(lg) {
			margin-left: -2px;
			margin-right: 12px;
			margin-top: -3px;
			-webkit-transform: rotate(180deg);
			   -moz-transform: rotate(180deg);
			    -ms-transform: rotate(180deg);
			     -o-transform: rotate(180deg);
			        transform: rotate(180deg);
		}
		.icon {
			font-size: 7px;
			
			@include respond-below(lg) {
				font-size: 10px;
			}
		}
	}
}