.compare-page {
	padding-bottom: 84px;
	margin-top: -8px;
	
	@include respond-below(xl) {
		padding-bottom: 64px;
	}

	@include respond-below(lg) {
		margin-top: 0;
		padding-bottom: 54px;
	}
	@include respond-below(md) {
		padding-bottom: 50px;
	}

	&__top-panel {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		 
		@include respond-below(lg) {
			-webkit-justify-content: space-between;
			        justify-content: space-between;
		}

		@include respond-below(sm) {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
		}
		.title {
			margin-left: 8px;
		}
	}
	&__add-button {
		@extend %text__md;
		font-weight: 500;
		
		color: $purple;
		
		margin-left: 40px;
		margin-top: 6px;
		display: inline-block;
		
		@include respond-below(xl) {
			margin-left: 45px;
		}

		@include respond-below(sm) {
			margin-left: 0;
			margin-top: 34px;
		}

		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&:hover, &:active {
			color: $purpleDark;
		}
	}

	&__arrows {
		flex: 1 1 auto;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		
		@include respond-below(lg) {
			display: none;
		}
	}

	&__arrow {
		width: 50px;
		max-width: 50px;
		height: 50px;
		flex: 0 0 50px;
		
		&_prev {
			margin-right: 30px;
			.icon {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
	}

	&__inner {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		    
		margin-top: 67px;
		
		@include respond-below(lg) {
			margin-top: 54px;
		}
		@include respond-below(md) {
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
		    -webkit-align-items: stretch;
		            align-items: stretch;
		}
		@include respond-below(sm) {
			margin-top: 30px;
		}
		&_more {
			.compare-page__aside-panel {
				&--category {
					height: 390px;
				}
			}
			.compare-page__content {
				margin-top: 15px;
			}
			.compare-page__product-list {
				grid-template-rows: 375px;
			}

			.compare-page__product {
				.dropdown__active {
					span {
						max-width: 84%;
						white-space: nowrap;
						-ms-text-overflow: ellipsis;
					    	text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}

			@include respond-below(xl) {
				margin-top: 60px;
				
				.compare-page__aside-panel {
					&--category {
						height: 352px;
					}
				}
				.compare-page__content {
					margin-top: 22px;
				}

				.compare-page__product-list {
					grid-template-rows: 325px
				}
				.compare-page__price {
					margin-bottom: 59px;
				}
			}

			@include respond-below(lg) {
				margin-top: 54px;
				.compare-page__content {
					margin-top: 0;
				}

				.compare-page__aside-panel {
					&--category {
						height: 330px;
					}
				}

				.compare-page__price {
					margin-bottom: 50px;
				}
			}

			@include respond-below(md) {
				.compare-page__aside-panel {
					margin-bottom: 32px;
					&--category {
						height: auto;
					}
				}
				.compare-page__product-list {
					grid-template-rows: 345px
				}
				.compare-page__price {
					margin-bottom: 44px;
				}
			}

			@include respond-below(sm) {
				margin-top: 30px;
				.compare-page__aside-panel {
					margin-bottom: 22px;
				}
				.compare-page__product-list {
					grid-template-rows: auto;
    				margin-bottom: 34px;
				}
				.compare-page__price {
					margin-bottom: 35px;
				}
			}
		}
	}

	&__aside-panel {
		width: 255px;
		max-width: 255px;
		flex: 0 0 255px;
		
		@include respond-below(xl) {
			width: 209px;
			flex: 0 0 209px;
			max-width: 209px;
		}
		
		padding-right: 30px;
		
		@include respond-below(md) {
			width: 100%;
			flex: 0 0 auto;
			max-width: 100%;
			margin-bottom: 37px;
			padding-right: 0;
		}
		
		&--category {
			height: 355px;
			
			@include respond-below(xl) {
				height: 312px;
			}

			@include respond-below(lg) {
				height: 309px;
				.colored-checkbox {
					grid-template-columns: 20px 1fr;
					&__marker {
						width: 20px;
						height: 20px;
						max-width: 20px;
						flex: 0 0 20px;
					}

					&__title {
						font-size: 14px;
						line-height: 22px;
					}
				}
			}

			@include respond-below(md) {
				height: auto;
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
				-webkit-align-items: center;
				        align-items: center;
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
			}
			@include respond-below(sm) {
				height: auto;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-justify-content: flex-start;
				        justify-content: flex-start;
				-webkit-align-items: stretch;
				        align-items: stretch;
				-webkit-flex-wrap: nowrap;
				    -ms-flex-wrap: nowrap;
				        flex-wrap: nowrap;
			}
		}
		&--text {
			@extend %text__sm;
			font-weight: 500;
			
			line-height: 13px;
			
			color: $dark;
			
			margin-bottom: 9px;
			
			@include respond-below(md) {
				flex: 0 0 100%;
			}
			@include respond-below(sm) {
				flex: 0 0 auto;
			}
		}
		.dropdown_small {
			height: 40px;
			margin-bottom: 30px;
			
			@include respond-below(md) {
				margin-bottom: 0;
				flex: 0 0 240px;
				width: 240px;
				max-width: 240px;
				margin-right: 30px;
			}

			@include respond-below(sm) {
				width: 100%;
				max-width: 100%;
				flex: 0 0 40px;
				margin-right: 0;
				margin-bottom: 30px;
			}
		}
		&--attitude {
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-justify-content: flex-start;
			        justify-content: flex-start;
			-webkit-align-items: flex-start;
			        align-items: flex-start;
			    
			@include respond-below(md) {
				display: none;
			}
		}
		&--block {
			&:not(:last-child) {
				margin-bottom: 54px;
				
				@include respond-below(lg) {
					margin-bottom: 44px;
				}
			}
		}
		&--title, &--price {
			font-family: Cera Pro;
			font-weight: 500;
			font-size: 21px;
			line-height: 24px;
			
			color: $dark;
		}

		&--price {
			margin-bottom: 60px;
			
			@include respond-below(lg) {
				margin-bottom: 50px;
			}
		}
		&--title {
			margin-bottom: 15px;
		}
		&--item {
			margin-top: 9px;
			height: 35px;
			line-height: 35px;
			font-family: Cera Pro;
			font-weight: 500;
			font-size: 16px;
			
			color: $dark;
		}
	}

	&__content {
		flex: 1 1 calc(100% - 255px);
		max-width: calc(100% - 255px);
		width: calc(100% - 255px);
		
		@include respond-below(xl) {
			flex: 1 1 calc(100% - 209px);
			max-width: calc(100% - 209px);
			width: calc(100% - 209px);
		}

		border-left: 1px solid #D9D9D9;
		
		@include respond-below(md) {
			flex: 0 0 auto;
			max-width: 100%;
			width: 100%;
			border-left: none;
		}
	}

	&__product-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 30px;
		grid-template-rows: 355px;
		
		padding-left: 29px;
		
		@include respond-below(xl) {
			grid-template-rows: 312px;
		}

		@include respond-below(lg) {
			grid-template-rows: 300px;
			grid-template-columns: repeat(2, 1fr);
		}

		@include respond-below(md) {
			
			padding-left: 0;
			grid-template-rows: 323px;
		}

		@include respond-below(sm) {
			grid-template-columns: repeat(2, calc(50% - 15px));
			
			padding-left: 0;
			grid-template-rows: 283px;
		}

	}

	&__product {
		grid-row: 1/2;
		
		@include respond-below(lg) {
			&:nth-child(n + 3) {
				display: none;
			}
		}
		
		.dropdown {
			margin-bottom: 20px;
			height: 40px;
		}
		&--title {
			@extend %text__md;
			font-weight: 500;
			
			color: $dark;
			
			line-height: 16px;
			
			margin-top: -3px;
			margin-bottom: 27px;

			@include respond-below(xl) {
				margin-bottom: 29px;
			}
			@include respond-below(md) {
				margin-bottom: 26px;
			}
			@include respond-below(sm) {
				white-space: nowrap;
				-ms-text-overflow: ellipsis;
				    text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	&__price {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 30px;
		grid-template-rows: 35px;
		
		@include respond-below(lg) {
			grid-template-columns: repeat(2, 1fr);
		}

		padding-left: 29px;
		
		-webkit-align-items: center;
		        align-items: center;
		
		margin-bottom: 54px;
		
		@include respond-below(md) {
			padding-left: 0;
			margin-bottom: 45px;
		}
		
		@include respond-below(sm) {
			margin-bottom: 35px;
		}

		background: transparent;
		
		-webkit-transition: background .3s linear;
		   -moz-transition: background .3s linear;
		    -ms-transition: background .3s linear;
		     -o-transition: background .3s linear;
		        transition: background .3s linear;
		
		&:hover {
			background: #eaeaea;
		}
		
		&--single {
			@extend %text__md;
			font-weight: 500;
			
			color: $dark;
			
			@include respond-below(lg) {
				&:nth-child(n + 3) {
					display: none;
				}
			}
		}
	}

	&__block {
		
		&_opened {
			.compare-page__block--title {
				margin-bottom: 20px;
				.icon {
					-webkit-transform: rotate(-90deg) translateX(1px) translateY(0);
						moz-transform: rotate(-90deg) translateX(1px) translateY(0);
						-ms-transform: rotate(-90deg) translateX(1px) translateY(0);
						 -o-transform: rotate(-90deg) translateX(1px) translateY(0);
						    transform: rotate(-90deg) translateX(1px) translateY(0);
				}
			}

			.compare-page__block--body {
				max-height: 1300px;
			}
		}

		&--title {
			display: none;
			@include respond-below(md) {
				display: flex;
				-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				        flex-direction: row;
				-webkit-justify-content: space-between;
				        justify-content: space-between;
				-webkit-align-items: center;
				        align-items: center;
				    
				font-family: Cera Pro;
				font-weight: 500;
				font-size: 21px;
				line-height: 24px;
				margin-bottom: 0;
				cursor: pointer;
				
				-webkit-transition: margin-bottom .3s linear .2s;
				   -moz-transition: margin-bottom .3s linear .2s;
				    -ms-transition: margin-bottom .3s linear .2s;
				     -o-transition: margin-bottom .3s linear .2s;
				        transition: margin-bottom .3s linear .2s;
				
				color: $dark;
				
				.icon {
					font-size: 16px;
					color: $purple;
					-webkit-transform: rotate(90deg) translateX(3px) translateY(-1px);
					   -moz-transform: rotate(90deg) translateX(3px) translateY(-1px);
					    -ms-transform: rotate(90deg) translateX(3px) translateY(-1px);
					     -o-transform: rotate(90deg) translateX(3px) translateY(-1px);
					        transform: rotate(90deg) translateX(3px) translateY(-1px);
					-webkit-transition: transform .5s ease-in-out;
					   -moz-transition: transform .5s ease-in-out;
					    -ms-transition: transform .5s ease-in-out;
					     -o-transition: transform .5s ease-in-out;
					        transition: transform .5s ease-in-out;
				}
			}

			@include respond-below(sm) {
				font-size: 16px;
				line-height: 24px;
				
				.icon {
					-webkit-transform: rotate(90deg) translateX(-1px) translateY(-1px);
					   -moz-transform: rotate(90deg) translateX(-1px) translateY(-1px);
					    -ms-transform: rotate(90deg) translateX(-1px) translateY(-1px);
					     -o-transform: rotate(90deg) translateX(-1px) translateY(-1px);
					        transform: rotate(90deg) translateX(-1px) translateY(-1px);
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 61px;
			
			@include respond-below(lg) {
				margin-bottom: 51px;
			}
			@include respond-below(md) {
				margin-bottom: 0;
			}
		}
		padding-top: 32px;
		
		@include respond-below(md) {
			display: block;
			padding: 30px 0;
			border-top: 1px solid #D9D9D9;
			&:last-child {
				border-bottom: 1px solid #d9d9d9;
			}

			&--body {
				max-height: 0;
				-webkit-transition: max-height .3s linear;
				   -moz-transition: max-height .3s linear;
				    -ms-transition: max-height .3s linear;
				     -o-transition: max-height .3s linear;
				        transition: max-height .3s linear;
				
				overflow: hidden;
			}
		}

		@include respond-below(sm) {
			padding: 23px 0;
		}

		&--line {
			height: 35px;
			
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 35px;
			grid-gap: 0 30px;
			
			@include respond-below(lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			background: transparent;
			
			-webkit-transition: background .3s linear;
			   -moz-transition: background .3s linear;
			    -ms-transition: background .3s linear;
			     -o-transition: background .3s linear;
			        transition: background .3s linear;
			
			@include respond-above(md) {
				&:hover {
					background: #eaeaea;
				}
			}
			
			&:not(:last-child) {
				margin-bottom: 9px;
				
				@include respond-below(md) {
					margin-bottom: 18px;
				}
			}
			
			padding-left: 29px;
			
			@include respond-below(md) {
				height: auto;
				padding-left: 0;
				grid-template-rows: auto;
				grid-gap: 2px 30px;
			}
			
			&--subtitle {
				display: none;
				
				@extend %text__md;
				font-weight: 500;
				
				color: $dark;

				@include respond-below(md) {
					grid-column: 1/3;
					display: block;
				}
			}

			&--single {
				height: 100%;
				display: flex;
				-webkit-flex-direction: column;
				    -ms-flex-direction: column;
				        flex-direction: column;
				-webkit-justify-content: center;
				        justify-content: center;
				-webkit-align-items: flex-start;
				        align-items: flex-start;
				
				@extend %text__md;
				font-weight: 400;
				
				@include respond-below(lg) {
					&:nth-child(n + 4) {
						display: none;
					}
				}

				@include respond-below(md) {
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
}