extends ../layout.pug

include ../../components/breadcrumbs/breadcrumbs.pug
include ../../components/dropdown/dropdown.pug
include ../../components/coloredCheckbox/coloredCheckbox.pug
include ../../components/itemCompare/itemCompare.pug

block content
	.colored-section.wrapper
		.container
			+breadcrumbs([
				{
					'item': 'Главная',
					'link': 'javascript:void(0)'
				},
				{
					'item': 'Сравнение товаров',
					'link': 'javascript:void(0)'
				}
			])
			main.compare-page
				.compare-page__top-panel
					h1.title.title_cream Сравнение товаров (3)
					a.compare-page__add-button(href="javascript:void(0)") Добавить ещё товар 
					.compare-page__arrows
						a.arrow.compare-page__arrow.compare-page__arrow_prev(href="javascript:void(0)")
							+icon('arrow-down')
						a.arrow.compare-page__arrow(href="javascript:void(0)")
							+icon('arrow-down')
				.compare-page__inner
					aside.compare-page__aside-panel
						.compare-page__aside-panel--category
							.compare-page__aside-panel--text Для категории
							+dropdown({
								className: 'dropdown_small',
								items: [
									'Смартфоны и телефоны',
									'Ноутбуки, планшеты, ПК',
									'GameZone',
									'Бытовая техника',
									'Товары для дома и ремонта',
									'Наушники и аудио',
									'Гаджеты, умные часы, авто',
									'Фото- и видеокамеры',
									'Игрушки и товары для детей',
									'Аксессуары',
									'Электромобили Tesla',
								]
							})
							+coloredCheckbox({
								id: 'difference',
								name: 'difference',
								title: 'Показать только различия'
							})
						.compare-page__aside-panel--attitude
							.compare-page__aside-panel--price Цена
							.compare-page__aside-panel--block
								.compare-page__aside-panel--title Размеры
								.compare-page__aside-panel--item Длинна, см
								.compare-page__aside-panel--item Ширина, см
								.compare-page__aside-panel--item Высота, см
								.compare-page__aside-panel--item Объем, л
							.compare-page__aside-panel--block
								.compare-page__aside-panel--title Внешний вид
								.compare-page__aside-panel--item Форма
								.compare-page__aside-panel--item Материал
								.compare-page__aside-panel--item Фактура поверхности
							.compare-page__aside-panel--block
								.compare-page__aside-panel--title Установка
								.compare-page__aside-panel--item Вариат установки
							.compare-page__aside-panel--block
								.compare-page__aside-panel--title Параметры
								.compare-page__aside-panel--item Вес в упаковке, кг
					.compare-page__content
						.compare-page__product-list
							.compare-page__product
								.compare-page__product--title Blanque 1810 VTL DX
								+itemCompare({
									image: './assets/images/content/items/item3',
									itemClass: 'item-compare_added_disselect item-compare_liked_disselect'
								})
							.compare-page__product
								.compare-page__product--title Blanque 1810 VTL DX
								+itemCompare({
									image: './assets/images/content/items/item3',
									itemClass: 'item-compare_added item-compare_liked'
								})
							.compare-page__product
								.compare-page__product--title Blanque 1810 VTL DX
								+itemCompare({
									image: './assets/images/content/items/item3',
									itemClass: ''
								})
						.compare-page__table
							.compare-page__price
								.compare-page__price--single 10 900 ₽
								.compare-page__price--single 10 900 ₽
								.compare-page__price--single 10 900 ₽
							.compare-page__block
								.compare-page__block--title
									| Размеры
									+icon('arrow-down')
								.compare-page__block--body
									.compare-page__block--line
										.compare-page__block--line--subtitle Длинна, см
										.compare-page__block--line--single 180
										.compare-page__block--line--single 180
										.compare-page__block--line--single 180
									.compare-page__block--line
										.compare-page__block--line--subtitle Ширина, см
										.compare-page__block--line--single 85
										.compare-page__block--line--single 85
										.compare-page__block--line--single 85
									.compare-page__block--line
										.compare-page__block--line--subtitle Высота, см
										.compare-page__block--line--single 52
										.compare-page__block--line--single 52
										.compare-page__block--line--single 52
									.compare-page__block--line
										.compare-page__block--line--subtitle Объем, л
										.compare-page__block--line--single 200
										.compare-page__block--line--single 200
										.compare-page__block--line--single 200
							.compare-page__block
								.compare-page__block--title
									| Внешний вид
									+icon('arrow-down')
								.compare-page__block--body
									.compare-page__block--line
										.compare-page__block--line--subtitle Форма
										.compare-page__block--line--single Овальная
										.compare-page__block--line--single Овальная
										.compare-page__block--line--single Овальная
									.compare-page__block--line
										.compare-page__block--line--subtitle Материал
										.compare-page__block--line--single Мрамор литьевой
										.compare-page__block--line--single Мрамор литьевой
										.compare-page__block--line--single Мрамор литьевой
									.compare-page__block--line
										.compare-page__block--line--subtitle Фактура поверхности
										.compare-page__block--line--single Матовая
										.compare-page__block--line--single Матовая
										.compare-page__block--line--single Матовая
							.compare-page__block
								.compare-page__block--title
									| Установка
									+icon('arrow-down')
								.compare-page__block--body
									.compare-page__block--line
										.compare-page__block--line--subtitle Вариат установки
										.compare-page__block--line--single Отдельно стоящая
										.compare-page__block--line--single Отдельно стоящая
										.compare-page__block--line--single Отдельно стоящая
							.compare-page__block
								.compare-page__block--title
									| Параметры
									+icon('arrow-down')
								.compare-page__block--body
									.compare-page__block--line
										.compare-page__block--line--subtitle Вес в упаковке, кг
										.compare-page__block--line--single 189
										.compare-page__block--line--single 189
										.compare-page__block--line--single 189