include ../footerList/footerList.pug

mixin footerNav()
	nav.footer-nav
		+footerList({
			'title': 'Покупателям',
			'items': [
				'Оплата',
				'Доставка',
				'Гарантии',
				'Обмен и возврат',
				'Гарантии',
				'Услуги',
			]
		})
		+footerList({
			'title': 'Компания',
			'items': [
				'О нас',
				'Контакты',
				'Реквизиты',
				'Правовая информация',
				'Политика конфиденциальности',
				'Пользовательское соглашение',
			]
		})
		+footerList({
			'className': 'footer-list_info',
			'title': 'Быстрая связь'
		})
			a.footer-nav__phone(href="tel:+74956637373") +7 (495) 663-73-73
			p.footer-nav__text Viber, WhatsApp, Telegram