.footer-nav {
	display: grid;
	grid-template-columns: 380px 381px 1fr;
	grid-template-rows: auto;
	
	margin-bottom: 93px;
	
	@include respond-below(xl) {
		grid-template-columns: 320px 317px 1fr;
	}
	@include respond-below(lg) {
		@include respond-above(sm) {
			grid-template-columns: 320px 1fr;
			grid-template-rows: auto 55px auto;
    		padding: 0 38px;
    		.footer-list_info {
				grid-row: 3/4;
    		}
    	}
	}

	@include respond-below(md) {
		@include respond-above(sm) {
			grid-template-columns: 269px 1fr;
			grid-template-rows: auto 45px auto;
			padding: 0;
		}
	}

	@include respond-below(sm) {
		grid-template-rows: auto;
		grid-template-columns: 1fr;
		grid-gap: 42px 0;
		margin-bottom: 50px;
	}

	
	&__phone {
		@extend %text__lg;
		font-weight: 500;
		
		color: #fff;
		
		display: inline-block;
		margin-top: 5px;
		margin-bottom: 8px;
	}

	&__text {
		@extend %text__md;
		font-weight: 400;
		
		color: rgba(255,255,255,.7);
	}
}