.slide {
	height: 430px;
	width: 100%;
	position: relative;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	
	@include respond-below(xl) {
		height: 360px;
	}
	@include respond-below(lg) {
		height: 270px;
	}
	@include respond-below(md) {
		height: 200px;
	}
	@include respond-below(sm) {
		height: 160px;
	}
	@include respond-below(xs) {
		height: 320px;
	}
	
	display: inline-flex !important;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;
	-webkit-align-items: flex-start;
	        align-items: flex-start;
	padding-left: 85px;
	
	@include respond-below(xl) {
		padding-left: 99px;
	}
	@include respond-below(lg) {
		padding-left: 80px;
		padding-top: 40px;
		padding-bottom: 40px;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
	}
	@include respond-below(md) {
		padding-left: 30px;
		padding-top: 25px;
		padding-bottom: 30px;
	}
	
	@include respond-below(sm) {
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 25px;
	}
	
	@include respond-below(xs) {
		display: grid !important;
		grid-template-columns: 50% 1fr;
		grid-gap: 25px 2px;
		padding-top: 0;
		padding-left: 20px;
		padding-bottom: 20px;
		padding-right: 20px;
		grid-template-rows: 1fr 40px;
		-webkit-align-items: end;
		        align-items: end;
	}

	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	
	@include respond-below(xs) {
		-webkit-background-size: 100% 100%;
		     -o-background-size: 100% 100%;
		        background-size: 100% 100%;
		background-position: center center;
	}
	
	&__text {
		@extend %text__lg;
		font-weight: 500;
		color: #FFF;
		
		@include respond-below(xl) {
			font-size: 21px;
			line-height: 24px;
			
			margin-bottom: 14px;
		}

		@include respond-below(lg) {
			font-size: 17px;
			
			margin-bottom: 0;
		}

		@include respond-below(md) {
			font-size: 14px;
			line-height: 22px;
		}
		@include respond-below(sm) {
			font-size: 12px;
			line-height: 18px;
		}
		@include respond-below(xs) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__percent {
		font-size: 200px;
		line-height: 1;
		font-weight: 700;
		font-family: 'Cera Pro';
		color: rgba(255,255,255,.5);
		
		@include respond-below(xl) {
			font-size: 150px;
		}
		@include respond-below(lg) {
			font-size: 100px;
		}
		@include respond-below(md) {
			font-size: 65px;
		}
		@include respond-below(sm) {
			font-size: 45px;
		}
		@include respond-below(xs) {
			font-size: 60px;
		}
		
		position: relative;
		top: 2px;
		left: -5px;
		
		@include respond-below(xl) {
			top: -10px;
			left: -8px;
		}
		@include respond-below(lg) {
			top: -6px;
			left: 0px;
		}
		@include respond-below(md) {
			top: -9px;
			left: 0px;
		}
		@include respond-below(sm) {
			top: 9px;
			left: 0px;
		}
	}

	.button {
		width: 117px;
		height: 40px;
		flex: 0 0 40px;
		
		position: relative;
		top: 12px;

		@include respond-below(xl) {
			top: 6px;
			left: -9px;
		}
		@include respond-below(lg) {
			top: 0px;
			left: 0px;
		}
		@include respond-below(sm) {
			width: 86px;
			height: 28px;
			flex: 0 0 28px;
			font-size: 12px;
		}
		@include respond-below(xs) {
			grid-column: 1/3;

			width: 100%;
			height: 40px;
			flex: 0 0 40px;
			font-size: 14px;
		}

	}

	&__shadow {
		width: calc(100% - 100px);
		height: 158px;
		
		@include respond-below(xl) {
			height: 132px;
			width: calc(100% - 84px);
		}
		@include respond-below(lg) {
			height: 99px;
			width: calc(100% - 66px);
		}
		@include respond-below(md) {
			height: 73px;
			width: calc(100% - 50px);
		}

		position: absolute;
		z-index: -1;
		
		bottom: 0;
		left: 50px;
		
		@include respond-below(xl) {
			left: 42px;
		}
		@include respond-below(lg) {
			left: 33px;
		}
		@include respond-below(md) {
			left: 25px;
		}
		@include respond-below(xs) {
			grid-row: 4/5
		}
	}

	// Types
	
	&_first-concept {
		background-image: url('../assets/images/template/slide.jpg');
		.slide__shadow {
			box-shadow: 0px 20px 30px rgba(106, 64, 225, 0.24);
		}

		@include respond-below(xs) {
			background-image: url('../assets/images/template/slide-bg_mobile.png'),  url('../assets/images/template/slide-img_mobile.png');
			-webkit-background-size: 100% 50%, 100% auto;
			     -o-background-size: 100% 50%, 100% auto;
			        background-size: 100% 50%, 100% auto;
			background-position: bottom center, top center;
		}
	}
}


// WEBP trying

.webp {
	.slide {
		&_first-concept {
			background-image: url('../assets/images/template/slide.webp');
			@include respond-below(xs) {
				background-image: url('../assets/images/template/slide-bg_mobile.webp'),  url('../assets/images/template/slide-img_mobile.webp');
			}
		}
	}
}