.sort {

	position: relative;
	z-index: 6;
	
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
	
	@include respond-below(lg) {
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
	}

	@include respond-below(sm) {
		width: 100%;
		max-width: 100%;
	}
	
	&_opened {
		.sort__variants {
			max-height: 190px;
			visibility: visible;
			pointer-events: auto;
			opacity: 1;
			
			-webkit-transition: max-height .3s linear, visibility 0s linear 0s, opacity .3s linear;
			   -moz-transition: max-height .3s linear, visibility 0s linear 0s, opacity .3s linear;
				-ms-transition: max-height .3s linear, visibility 0s linear 0s, opacity .3s linear;
				 -o-transition: max-height .3s linear, visibility 0s linear 0s, opacity .3s linear;
					transition: max-height .3s linear, visibility 0s linear 0s, opacity .3s linear;
		}

		.sort__active {
			.icon {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
		}
	}

	&__active {
		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		    
		cursor: pointer;
		
		color: $purple;
		
		@extend %text__md;
		font-weight: 500;
		
		.icon {
			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			margin-left: 9px;
			font-size: 10px;
		}

		-webkit-transition: transform .3s linear;
		   -moz-transition: transform .3s linear;
		    -ms-transition: transform .3s linear;
		     -o-transition: transform .3s linear;
		        transition: transform .3s linear;

		@include respond-below(lg) {
			width: 329px;
			height: 40px;
			background: #FFF;
			box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06);
			border-radius: 4px;
			-webkit-justify-content: space-between;
			        justify-content: space-between;
			padding: 0 18px 0 21px;
			color: $dark;
			font-weight: 400;
		}

		@include respond-below(sm) {
			width: 100%;
			max-width: 100%;
		}
	}

	&__variants {
		display: block;
		
		background: #FFFFFF;
		box-shadow: -10px 12px 40px rgba(33, 42, 67, 0.2);
		border-radius: 4px;
		
		top: calc(100% + 8px);
		right: 0;
		position: absolute;
		
		width: 330px;
		padding: 20px;
		
		@include respond-below(sm) {
			width: 100%;
			max-width: 100%;
		}
		
		max-height: 0;
		visibility: hidden;
		pointer-events: none;
		opacity: 0;
		
		-webkit-transition: max-height .3s linear, visibility 0s linear .3s, opacity .3s linear;
		   -moz-transition: max-height .3s linear, visibility 0s linear .3s, opacity .3s linear;
		    -ms-transition: max-height .3s linear, visibility 0s linear .3s, opacity .3s linear;
		     -o-transition: max-height .3s linear, visibility 0s linear .3s, opacity .3s linear;
		        transition: max-height .3s linear, visibility 0s linear .3s, opacity .3s linear;
	}

	&__single {
		width: 100%;
		overflow: hidden;
		-ms-text-overflow: ellipsis;
		    text-overflow: ellipsis;
		white-space: nowrap;
		height: 30px;
		
		cursor: pointer;
		
		@extend %text__md;
		font-weight: 400;
		line-height: 30px;
		
		color: $dark;
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		&:hover {
			color: $purple;
		}
		
		&:not(:last-child) {
			margin-bottom: 11px;
		}
		
	}
}