include ../icon/icon.pug

mixin sort(sort)
	.sort
		.sort__active 
			| #{sort.active}
			+icon('arrow-down')
		.sort__variants.scrolled
			.sort__single #{sort.active}
			each item in sort.variants
				.sort__single #{item}

