include ../icon/icon.pug
mixin alphabet()
	.alphabet
		.alphabet__dropdown
			| Алфавитный указатель
			+icon('arrow-down')
		ul.alphabet__list
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") A
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") B
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") C
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") D
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") E
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") F
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") G
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") H
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") I
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") J
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") K
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") L
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") M
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") N
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") O
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") P
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") Q
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") R
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") S
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") T
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") U
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") V
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") W
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") X
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") Y
			li.alphabet__item
				a.alphabet__link(href="javascript:void(0)") Z
