.alphabet {
	
	&_opened {
		.alphabet__dropdown {
			.icon {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
		}
		.alphabet__list {
			max-height: 150px;
		}
	}

	&__dropdown {
		
		display: inline-flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: center;
		        align-items: center;
		
		@extend %text__sm;
		font-weight: 500;
		
		@include respond-below(lg) {
			font-size: 16px;
		}
		
		color: $purple;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		white-space: nowrap;
		
		.icon {
			font-size: 9px;
			margin-top: -2px;
    		margin-left: 10px;
    		
    		@include respond-below(lg) {
    			margin-top: 4px;
    		}
			
			-webkit-transition: transform .3s linear, color .3s linear;
			   -moz-transition: transform .3s linear, color .3s linear;
			    -ms-transition: transform .3s linear, color .3s linear;
			     -o-transition: transform .3s linear, color .3s linear;
			        transition: transform .3s linear, color .3s linear;

			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			
			color: $purple;
		}

		cursor: pointer;
		
		&:hover {
			color: $purpleDark;
			.icon {
				color: $purpleDark;
			}
		}

	}

	&__list {
		overflow: hidden;
		max-height: 0;
		
		-webkit-transition: max-height .3s linear;
		   -moz-transition: max-height .3s linear;
		    -ms-transition: max-height .3s linear;
		     -o-transition: max-height .3s linear;
		        transition: max-height .3s linear;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-start;
		        justify-content: flex-start;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}

	&__item {
		margin-right: 9px;
		
		@include respond-below(lg) {
			margin-right: 34px;
			margin-top: 15px
		}
		@include respond-below(sm) {
			margin-right: 15px;
			margin-top: 7px
		}
	}

	&__link {
		@extend %text__sm;
		color: $purple
	}

}