.info-block {
	
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	
	padding-left: 30px;
	
	position: relative;
	z-index: 1;
	
	@include respond-below(lg) {
		padding-left: 20px;
	}

	@include respond-below(md) {
		padding-left: 30px;
	}

	@include respond-below(sm) {
		padding-left: 20px;
		padding-right: 20px;
	}

	&__content {
		height: 100%;
		
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: space-between;
		        justify-content: space-between;
		-webkit-align-items: flex-start;
		        align-items: flex-start;
		
		.button {
			height: 35px;
			flex: 0 0 35px;
			width: 96px;
			
			font-size: 12px;
			
			@include respond-below(sm) {
				width: 100%;
				max-width: 100%;
				height: 40px;
				flex: 0 0 40px;
			}
		}
	}

	&__text {
		@extend %text__xs;
		font-weight: 500;
		
		color: #fff;
	}

	&__subtitle {
		@extend %text__lg;
		font-weight: 500;
		
		color: #fff;
	}

	&__percent {
		font-family: Cera Pro;
		font-weight: bold;
		font-size: 60px;
		
		color: #fff;
		
		@include respond-below(xl) {
			font-size: 55px;
		}
		@include respond-below(lg) {
			font-size: 45px;
		}
		@include respond-below(md) {
			font-size: 55px;
		}
		@include respond-below(sm) {
			font-size: 45px;
		}
	}


	&_first-concept {

		background-image: url('../assets/images/template/banner1.jpg');
		
		&:after {box-shadow: 0px 20px 30px rgba(225, 103, 64, 0.27)}
		
		.info-block__content {
			width: 200px;
			max-width: 200px;
			padding: 70px 0 60px 0;
			
			@include respond-below(xl) {
				padding: 40px 0 50px 0;	
			}
			@include respond-below(lg) {
				padding: 17px 0 20px 0;	
			}
			@include respond-below(md) {
				padding: 25px 0 30px 0;	
			}
			@include respond-below(sm) {
				padding: 13px 0 20px 0;
				width: 100%;
				max-width: 100%;
			}

			.info-block__text {
				position: relative;
				bottom: 16px;
				@include respond-below(xl) {
					bottom: 11px;
				}
				@include respond-below(lg) {
					bottom: 7px;
				}
				@include respond-below(md) {
					bottom: 10px;
				}
				@include respond-below(sm) {
					width: 180px;
					max-width: 180px;
					
					bottom: 6px;
				}
			}
		}
		&.info-block_large {
			background-image: url('../assets/images/template/banner1_large.png');
			@include respond-below(sm) {
				background-image: url('../assets/images/template/banner1_mobile.png');
				-webkit-background-size: cover;
				     -o-background-size: cover;
				        background-size: cover;
				    
			}
		}
	}

	&_second-concept {
		background-image: url('../assets/images/template/banner2.jpg');
		
		&:after {box-shadow: 0px 20px 30px rgba(64, 157, 225, 0.38)}
		
		.info-block__content {
			width: 230px;
			max-width: 230px;
			padding: 47px 0 60px 0;
			
			@include respond-below(xl) {
				padding: 26px 0 50px 0;	
			}
			@include respond-below(lg) {
				padding: 18px 0 20px 0;	
			}
			@include respond-below(md) {
				padding: 18px 0 30px 0;	
			}
			@include respond-below(sm) {
				width: 100%;
				max-width: 100%;
				
				padding-bottom: 20px;
				

				.info-block__text {
					width: 230px;
					max-width: 230px;
				}

				.button {
					height: 35px;
					flex: 0 0 35px;
				}
			}

			.info-block__subtitle {
				position: relative;
				bottom: 11px;
				
				@include respond-below(xl) {
					font-size: 21px;
					line-height: 30px;
				}
				@include respond-below(lg) {
					font-size: 16px;
					line-height: 24px;
					bottom: 7px;
				}
				@include respond-below(md) {
					bottom: 9px;
				}
				@include respond-below(sm) {
					bottom: 7px;
				}

			}
		}
	}

	&:after {
		content: "";
		height: 158px;
		width: calc(100% - 70px);
		
		position: absolute;
		z-index: -1;
		left: 35px;
		bottom: 0;
		
		@include respond-below(xl) {
			width: calc(100% - 54px);
			height: 132px;
			left: 27px;
		}
		@include respond-below(lg) {
			width: calc(100% - 44px);
			height: 93px;
			left: 22px;
		}
		@include respond-below(md) {
			width: calc(100% - 50px);
			height: 91px;
			left: 25px;
		}
		@include respond-below(sm) {
			width: calc(100% - 40px);
			height: 87px;
			left: 20px;
		}
		
		display: block;
	}
}


// WEBP trying

.webp {
	.info-block {
		&_first-concept {
			background-image: url('../assets/images/template/banner1.webp');
			&.info-block_large {
				background-image: url('../assets/images/template/banner1_large.webp');
				@include respond-below(sm) {
					background-image: url('../assets/images/template/banner1_mobile.png');
				}
			}
		}
		&_second-concept {
			background-image: url('../assets/images/template/banner2.webp');
		}
	}
}