mixin banner(banner)
	if banner.type === 1
		.info-block.info-block_first-concept(class=banner.className)
			.info-block__content
				h4.info-block__subtitle Sunshower
				p.info-block__text Загорайте в душе и наслаждайтесь солнечным теплом и светов
				a.button(href="javascript:void(0)") Подробнее
	else if banner.type === 2
		.info-block.info-block_second-concept(class=banner.className)
			.info-block__content
				p.info-block__percent 20%
				h4.info-block__subtitle летние скидки<br>на СПА бассейны
				a(href="javascript:void(0)").button.button_orange Подробнее