include ../slide/slide.pug

mixin slider()
	.slider
		.slider__track
			+slide({
				'className': 'slide_first-concept'
			})
				.slide__text Летние скидки на ванны до
				.slide__percent 30%
				.button.button_orange Подробнее
			+slide({
				'className': 'slide_first-concept'
			})
				.slide__text Летние скидки на ванны до
				.slide__percent 30%
				.button.button_orange Подробнее
			+slide({
				'className': 'slide_first-concept'
			})
				.slide__text Летние скидки на ванны до
				.slide__percent 30%
				.button.button_orange Подробнее
			+slide({
				'className': 'slide_first-concept'
			})
				.slide__text Летние скидки на ванны до
				.slide__percent 30%
				.button.button_orange Подробнее
			+slide({
				'className': 'slide_first-concept'
			})
				.slide__text Летние скидки на ванны до
				.slide__percent 30%
				.button.button_orange Подробнее