.slider {
	width: 100%;
	height: 500px;
	position: relative;
	
	@include respond-below(xl) {
		height: 430px;
	}
	@include respond-below(lg) {
		height: 340px;
	}
	@include respond-below(md) {
		height: 270px;
	}
	@include respond-below(sm) {
		height: 230px;
	}
	@include respond-below(xs) {
		height: 390px;
	}
	
	.slider__track {
		width: 100%;
		height: 100%;
		margin-bottom: 0;
		
		.slick-slide {
			margin: 0 7px;
		}
		.slick-list {
			margin: 0 -7px;
			padding-bottom: 70px;
		}
	}

	.slider__arrow {
		width: 50px;
		height: 50px;
		
		position: absolute;
		top: calc(50% - 60px);
		z-index: 10;
		
		&.slider__arrow_prev {
			left: 30px;
			
			@include respond-below(lg) {
				left: 15px;
			}

			svg {
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}
		}
		&.slider__arrow_next {
			right: 30px;
			
			@include respond-below(lg){
				right: 15px;
			}
		}
	}

	&__dots {
		position: absolute;
		bottom: 26px;
		
		width: 100%;
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-align-items: center;
		        align-items: center;
		
		li {
			width: 16px;
			height: 16px;
			overflow: hidden;
			-webkit-border-radius: 50%;
			        border-radius: 50%;
			
			margin: 0 5px;
			padding: 5px;
			cursor: pointer;
			
			&:hover {
				button {
					background: $purple;
				}
			}
			
			button {
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				
				cursor: pointer;
				outline: none;
				border: none;
				background: rgba(153,153,153,.5);
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				
				padding: 0;
				font-size: 0px;
				
				-webkit-transition: background .3s linear;
				   -moz-transition: background .3s linear;
				    -ms-transition: background .3s linear;
				     -o-transition: background .3s linear;
				        transition: background .3s linear;

				&:after {
					content: "";
					display: block;
					
					width: 12px;
					height: 12px;
					
					position: absolute;
					top: -3px;
					left: -3px;
					
					border: 1px solid transparent;
					-webkit-border-radius: 50%;
					        border-radius: 50%;
					
					-webkit-transition: border-color .3s linear;
					   -moz-transition: border-color .3s linear;
					    -ms-transition: border-color .3s linear;
					     -o-transition: border-color .3s linear;
					        transition: border-color .3s linear;
				}
			}
			&.slick-active {
				button {
					background: $purple;
					&:after {
						border-color: $purple
					}
				}
			}
		}
	}
}