.shopbag {
	&__inner {
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		    
		width: 100%;
		height: 100%;
	}
	
	position: relative;
	
	.items-preview {
		display: flex;
	}	
	.preview__open_active {

		.shopbag__text {
			color: $purple;
			
			.icon {
				-webkit-transform: rotate(-90deg);
				   -moz-transform: rotate(-90deg);
				    -ms-transform: rotate(-90deg);
				     -o-transform: rotate(-90deg);
				        transform: rotate(-90deg);
			}
		}
	}

	&__text {
		cursor: pointer;
		@extend %text__md;
		font-weight: 500;
		color: $dark;
		height: 100%;
		
		display: flex;
		-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-justify-content: flex-end;
		        justify-content: flex-end;
		-webkit-align-items: center;
		        align-items: center;
		margin-left: 15px;
		
		-webkit-transition: color .3s linear;
		   -moz-transition: color .3s linear;
		    -ms-transition: color .3s linear;
		     -o-transition: color .3s linear;
		        transition: color .3s linear;
		
		@include respond-below(sm) {
			display: none;
		}
		
		.icon {
		    margin-left: 6px;
    		margin-top: 1px;
			width: 8px;
			height: 10px;
			max-height: 100%;
			-webkit-transform: rotate(90deg);
			   -moz-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			     -o-transform: rotate(90deg);
			        transform: rotate(90deg);
			
			-webkit-transition: transform .3s linear;
			   -moz-transition: transform .3s linear;
			    -ms-transition: transform .3s linear;
			     -o-transition: transform .3s linear;
			        transition: transform .3s linear;

			color: #999;
		}
	}

	&__icon {
		cursor: pointer;
		width: 20px;
		height: 23px;
		.icon {
			width: 100%;
			height: 100%;
		}
	}

	&--not-empty {
		.shopbag__icon {
			position: relative;
			&:after {
				display: block;
				content: "";
				
				position: absolute;
				top: 12px;
				left: 7px;

				width: 6px;
				height: 6px;
				-webkit-border-radius: 50%;
				        border-radius: 50%;
				
				background: $orange;
			}

			&:before {
				@extend %text__xs;
				font-weight: 500;
				
				background: $orange;
				color: #fff;
				line-height: 20px;
				text-align: center;
			}

			@include respond-below(sm) {
				&:before {
					display: block;
					content: attr(data-items);
					width: auto;
					height: 20px;
					-webkit-border-radius: 10px;
					        border-radius: 10px;
					
					position: absolute;
					top: -6px;
					left: 10px;
					
					padding: 0 7px;
				}
			}
		}
	}
}