include ../icon/icon.pug
include ../itemsPreview/itemsPreview.pug

mixin shopBag()
	.shopbag.shopbag--not-empty
		.shopbag__inner.preview__open
			.shopbag__icon(data-items="213")
				+icon('bag')
			.shopbag__text
				| 213 товара в корзине
				+icon('arrow-down')
		+itemsPreview({
			title: 'Корзина',
			button: 'В корзину',
			summary: 'Итого 65 400 ₽'
		})